openapi: '3.0.2'
info:
    title: BitBadges API
    version: '0.1'
servers:
    - url: https://api.bitbadges.io/api/v0
# components:

#   schemas:
#     ErrorResponse:
#       type: object
#       required:
#         - errorMessage
#       properties:
#         error:
#           type: object
#           description: Serialized error object for debugging purposes. Technical users can use this to debug issues.
#         errorMessage:
#           type: string
#           description: UX-friendly error message that can be displayed to the user. Always present if error.
#         unauthorized:
#           type: boolean
#           description: Authentication error. Present if the user is not authenticated.
#     StatusResponse:
#       type: object
#       properties:
#         block:
#           $ref: '#/components/schemas/LatestBlockStatus'
#         nextCollectionId:
#           $ref: '#/components/schemas/NumberType'
#         gasPrice:
#           type: number
#         lastXGasAmounts:
#           type: array
#           items:
#             $ref: '#/components/schemas/NumberType'
#         lastXGasLimits:
#           type: array
#           items:
#             $ref: '#/components/schemas/NumberType'
#     LatestBlockStatus:
#       type: object
#       properties:
#         height:
#           $ref: '#/components/schemas/NumberType'
#         txIndex:
#           $ref: '#/components/schemas/NumberType'
#         timestamp:
#           $ref: '#/components/schemas/NumberType'
#     NumberType:
#       type: string
#       example: '123'
#       description: Number types will always be stringified for responses to avoid precision issues. When passing in requests, the API supports string, number, and bigint types.
#     SearchRequestBody:
#       type: object
#       properties:
#         noCollections:
#           type: boolean
#           description: If true, skip all collection queries.
#         noAccounts:
#           type: boolean
#           description: If true, skip all account queries.
#         noAddressLists:
#           type: boolean
#           description: If true, skip all address list queries.
#         noBadges:
#           type: boolean
#           description: If true, skip all badge queries.
#         specificCollectionId:
#           $ref: '#/components/schemas/NumberType'
#       required:
#         - noCollections
#         - noAccounts
#         - noAddressLists
#         - noBadges
#     SearchSuccessResponse:
#       type: object
#       properties:
#         collections:
#           type: array
#           # items:
#           #   $ref: '#/components/schemas/BitBadgesCollection'
#         accounts:
#           type: array
#           # items:
#           #   $ref: '#/components/schemas/BitBadgesUserInfo'
#         addressLists:
#           type: array
#           # items:
#           #   $ref: '#/components/schemas/BitBadgesAddressList'
#         badges:
#           type: array
#           items:
#             type: object
#             properties:
#               # collection:
#               #   $ref: '#/components/schemas/BitBadgesCollection'
#               badgeIds:
#                 type: array
#                 # items:
#                 #   $ref: '#/components/schemas/UintRange'
#     GetCollectionBatchBody:
#       type: object
#       properties:
#         collectionsToFetch:
#           type: array
#           items:
#             type: object
#             properties:
#               collectionId:
#                 $ref: '#/components/schemas/NumberType'
#               metadataToFetch:
#                 $ref: '#/components/schemas/MetadataFetchOptions'
#               viewsToFetch:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/CollectionViewRequest'
#               fetchTotalAndMintBalances:
#                 type: boolean
#               challengeTrackersToFetch:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/ChallengeTrackerIdDetails'
#               approvalTrackersToFetch:
#                 type: array
#                 items:
#                   $ref: '#/components/schemas/AmountTrackerIdDetails'
#               handleAllAndAppendDefaults:
#                 type: boolean
#               fetchPrivateParams:
#                 type: boolean

#     GetCollectionBatchRouteSuccessResponse:
#       type: object
#       properties:
#         collections:
#           type: array
#           # items:
#           #   $ref: '#/components/schemas/BitBadgesCollection'

#     MetadataFetchOptions:
#       type: object
#       properties:
#         badgeIds:
#           type: array
#           # items:
#           #   $ref: '#/components/schemas/UintRange'

#     CollectionViewRequest:
#       type: object
#       properties:
#         viewType:
#           type: string
#           enum:
#             - transferActivity
#             - reviews
#             - owners
#             - amountTrackers
#             - challengeTrackers
#         viewId:
#           type: string
#         bookmark:
#           type: string
#         oldestFirst:
#           type: boolean

#     ChallengeTrackerIdDetails:
#       type: object
#       properties:
#         collectionId:
#           $ref: '#/components/schemas/NumberType'
#         challengeId:
#           type: string
#         challengeLevel:
#           type: string
#           enum: [collection, incoming, outgoing, ""]
#         approverAddress:
#           type: string

#     AmountTrackerIdDetails:
#       type: object
#       properties:
#         collectionId:
#           $ref: '#/components/schemas/NumberType'
#         amountTrackerId:
#           type: string
#         approvalLevel:
#           type: string
#         approverAddress:
#           type: string
#         trackerType:
#           type: string
#         approvedAddress:
#           type: string

paths:
    /status:
        post:
            operationId: getStatus
            summary: Get Status
            description: |
                Gets the current status details about the blockchain / indexer (gas, block height, etc).
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
                    description: Returns the current status of the blockchain / indexer

                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            x-code-samples:
                - lang: typescript
                  label: BitBadges SDK
                  source: |
                      const res = await BitBadgesApi.getStatus();
                      console.log(res);
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /search/{searchValue}:
        post:
            operationId: searchByValue
            summary: Search
            description: |
                Searches for collections, badges, accounts, and address lists based on the provided search value.
            parameters:
                - name: searchValue
                  in: path
                  description: The value to search for.
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetSearchBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            x-code-samples:
                - lang: typescript
                  label: BitBadges SDK
                  source: |
                      const res = await BitBadgesApi.searchByValue('searchValue', {
                        noCollections: false,
                        noAccounts: false,
                        noAddressLists: false,
                        noBadges: false,
                        specificCollectionId: '123'
                      });
                      console.log(res);
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    # /collection/batch:
    #   post:
    #     operationId: getCollectionsBatch
    #     summary: Retrieve badge collections and accompanying details
    #     description: |
    #       Retrieves badge collections and accompanying details based on the provided collection IDs.
    #     requestBody:
    #       required: true
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/GetCollectionBatchBody'
    #     responses:
    #       '200':
    #         description: Success response
    #         content:
    #           application/json:
    #             schema:
    #               $ref: '#/components/schemas/GetCollectionBatchRouteSuccessResponse'
    #       '400':
    #         $ref: '#/components/responses/BadRequestResponse'
    #       '401':
    #         $ref: '#/components/responses/UnauthorizedResponse'
    #       '500':
    #         $ref: '#/components/responses/InternalServerErrorResponse'
    #     x-code-samples:
    #       - lang: typescript
    #         label: BitBadges SDK
    #         source: |
    #           const res = await BitBadgesApi.getCollectionsBatch({
    #             collectionsToFetch: [
    #               {
    #                 collectionId: '123',
    #                 metadataToFetch: {
    #                   badgeIds: ['1-10']
    #                 },
    #                 viewsToFetch: [
    #                   {
    #                     viewType: 'transferActivity',
    #                     viewId: '123',
    #                     bookmark: '123',
    #                     oldestFirst: true
    #                   }
    #                 ],
    #                 fetchTotalAndMintBalances: true,
    #                 challengeTrackersToFetch: [
    #                   {
    #                     collectionId: '123',
    #                     challengeId: '123',
    #                     challengeLevel: 'collection',
    #                     approverAddress: 'cosmos1...'
    #                   }
    #                 ],
    #                 approvalTrackersToFetch: [
    #                   {
    #                     collectionId: '123',
    #                     amountTrackerId: '123',
    #                     approvalLevel: 'collection',
    #                     approverAddress: 'cosmos1...',
    #                     trackerType: 'mint',
    #                     approvedAddress: 'cosmos1...'
    #                   }
    #                 ],
    #                 handleAllAndAppendDefaults: true,
    #                 fetchPrivateParams: true
    #               }
    #             ]
    #           });
    #           console.log(res);
    #     security:
    #       - apiKey: [] # This specifies that an API key is required for authentication
components:
    responses:
        ErrorResponse:
            description: An error response
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        BadRequestResponse:
            description: Bad Request - Invalid configuration or request
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        UnauthorizedResponse:
            description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        InternalServerErrorResponse:
            description: Internal Server Error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
    securitySchemes:
        apiKey:
            type: apiKey
            in: header
            name: x-api-key
            description: Requires a BitBadges API key for requests
            x-type: string
        frontendOnly:
            type: apiKey
            in: header
            name: Origin
            description: Can only be called by the official BitBadges frontend. Not for developer use.
        userSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in with a valid session.
        userMaybeSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in for certain requests, but not all.
        userIsManager:
            type: http
            scheme: cookie
            description: User must be signed in and have manager permissions.
        userIsOwner:
            type: http
            scheme: cookie
            description: User must be signed in and have owner permissions.
    schemas:
        ErrorResponse:
            type: object
            required:
                - errorMessage
            properties:
                error:
                    type: object
                    description: Serialized error object for debugging purposes. Technical users can use this to debug issues.
                errorMessage:
                    type: string
                    description: UX-friendly error message that can be displayed to the user. Always present if error.
                unauthorized:
                    type: boolean
                    description: Authentication error. Present if the user is not authenticated.
        EIP712Type:
            properties:
                name:
                    title: EIP712Type.name
                    type: string
                type:
                    title: EIP712Type.type
                    type: string
            required:
                - name
                - type
            additionalProperties: false
            title: EIP712Type
            type: object
        iMetadata:
            properties:
                name:
                    title: iMetadata.name
                    description: The name of the badge or badge collection.
                    type: string
                description:
                    title: iMetadata.description
                    description: The description of the badge or badge collection.
                    type: string
                image:
                    title: iMetadata.image
                    description: The image of the badge or badge collection.
                    type: string
                video:
                    title: iMetadata.video
                    description: >-
                        The video of the badge or badge collection. If a standard video is
                        used, this should be a link to the video. We will use image as the
                        poster image. If a youtube video is used, we embed it as an iframe.
                    type: string
                creator:
                    title: iMetadata.creator
                    description: The creator of the badge or badge collection.
                    type: string
                color:
                    title: iMetadata.color
                    description: The color of the badge or badge collection.
                    type: string
                category:
                    title: iMetadata.category
                    description: >-
                        The category of the badge or badge collection (e.g. "Education",
                        "Attendance").
                    type: string
                externalUrl:
                    title: iMetadata.externalUrl
                    description: The external URL of the badge or badge collection.
                    type: string
                tags:
                    items:
                        title: iMetadata.tags.[]
                        type: string
                    title: iMetadata.tags
                    description: The tags of the badge or badge collection
                    type: array
                socials:
                    additionalProperties:
                        type: string
                    title: iMetadata.socials
                    description: The socials of the badge or badge collection
                    type: object
                offChainTransferabilityInfo:
                    properties:
                        host:
                            title: iMetadata.offChainTransferabilityInfo.host
                            type: string
                        assignMethod:
                            title: iMetadata.offChainTransferabilityInfo.assignMethod
                            type: string
                    required:
                        - host
                        - assignMethod
                    additionalProperties: false
                    title: iMetadata.offChainTransferabilityInfo
                    description: The off-chain transferability info of the badge or badge collection
                    type: object
                attributes:
                    items:
                        properties:
                            type:
                                enum:
                                    - date
                                    - url
                                title: iMetadata.attributes.[].type
                                type: string
                            name:
                                title: iMetadata.attributes.[].name
                                type: string
                            value:
                                title: iMetadata.attributes.[].value
                                anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                        required:
                            - name
                            - value
                        additionalProperties: false
                        title: iMetadata.attributes.[]
                        type: object
                    title: iMetadata.attributes
                    description: The attributes of the badge or badge collection
                    type: array
                fetchedAtBlock:
                    title: iMetadata.fetchedAtBlock
                    description: The block the metadata was fetched at.
                    anyOf:
                        - type: string
                        - type: number
                fetchedAt:
                    title: iMetadata.fetchedAt
                    description: The time the metadata was fetched.
                    anyOf:
                        - type: string
                        - type: number
                _isUpdating:
                    title: iMetadata._isUpdating
                    description: Whether the metadata is currently being updated.
                    type: boolean
            required:
                - name
                - description
                - image
            additionalProperties: false
            title: iMetadata
            description: '@category Interfaces'
            type: object
        iProtocol:
            properties:
                name:
                    title: iProtocol.name
                    description: The name of the protocol.
                    type: string
                uri:
                    title: iProtocol.uri
                    description: The URI of the protocol.
                    type: string
                customData:
                    title: iProtocol.customData
                    description: The custom data of the protocol.
                    type: string
                createdBy:
                    title: iProtocol.createdBy
                    description: The cosmos address of the user who created the protocol.
                    type: string
                isFrozen:
                    title: iProtocol.isFrozen
                    description: Whether the protocol is frozen or not.
                    type: boolean
            required:
                - name
                - uri
                - customData
                - createdBy
                - isFrozen
            additionalProperties: false
            title: iProtocol
            description: '@category Interfaces'
            type: object
        iMsgUpdateProtocol:
            properties:
                creator:
                    title: iMsgUpdateProtocol.creator
                    description: The creator of the protocol.
                    type: string
                name:
                    title: iMsgUpdateProtocol.name
                    description: The name of the protocol.
                    type: string
                uri:
                    title: iMsgUpdateProtocol.uri
                    description: The URI for the protocol.
                    type: string
                customData:
                    title: iMsgUpdateProtocol.customData
                    description: Custom data for the protocol.
                    type: string
                isFrozen:
                    title: iMsgUpdateProtocol.isFrozen
                    description: Whether the protocol is frozen.
                    type: boolean
            required:
                - creator
                - name
                - uri
                - customData
                - isFrozen
            additionalProperties: false
            title: iMsgUpdateProtocol
            description: '@category Interfaces'
            type: object
        iMsgUnsetCollectionForProtocol:
            properties:
                creator:
                    title: iMsgUnsetCollectionForProtocol.creator
                    description: The creator of the protocol.
                    type: string
                name:
                    title: iMsgUnsetCollectionForProtocol.name
                    description: The name of the protocol.
                    type: string
            required:
                - creator
                - name
            additionalProperties: false
            title: iMsgUnsetCollectionForProtocol
            description: '@category Interfaces'
            type: object
        iMsgSetCollectionForProtocol:
            properties:
                creator:
                    title: iMsgSetCollectionForProtocol.creator
                    description: The creator of the protocol.
                    type: string
                name:
                    title: iMsgSetCollectionForProtocol.name
                    description: The name of the protocol.
                    type: string
                collectionId:
                    title: iMsgSetCollectionForProtocol.collectionId
                    description: The collection id for the protocol.
                    anyOf:
                        - type: string
                        - type: number
            required:
                - creator
                - name
                - collectionId
            additionalProperties: false
            title: iMsgSetCollectionForProtocol
            description: '@category Interfaces'
            type: object
        iMsgDeleteProtocol:
            properties:
                creator:
                    title: iMsgDeleteProtocol.creator
                    description: The creator of the protocol.
                    type: string
                name:
                    title: iMsgDeleteProtocol.name
                    description: The name of the protocol.
                    type: string
            required:
                - creator
                - name
            additionalProperties: false
            title: iMsgDeleteProtocol
            description: '@category Interfaces'
            type: object
        iMsgCreateProtocol:
            properties:
                creator:
                    title: iMsgCreateProtocol.creator
                    description: The creator of the protocol.
                    type: string
                name:
                    title: iMsgCreateProtocol.name
                    description: The name of the protocol.
                    type: string
                uri:
                    title: iMsgCreateProtocol.uri
                    description: The URI for the protocol.
                    type: string
                customData:
                    title: iMsgCreateProtocol.customData
                    description: Custom data for the protocol.
                    type: string
                isFrozen:
                    title: iMsgCreateProtocol.isFrozen
                    description: Whether the protocol is frozen.
                    type: boolean
            required:
                - creator
                - name
                - uri
                - customData
                - isFrozen
            additionalProperties: false
            title: iMsgCreateProtocol
            description: '@category Interfaces'
            type: object
        GetProtocolsBody:
            properties:
                names:
                    items:
                        title: GetProtocolsBody.names.[]
                        type: string
                    title: GetProtocolsBody.names
                    type: array
            required:
                - names
            additionalProperties: false
            title: GetProtocolsBody
            description: '@category API Requests / Responses'
            type: object
        iGetProtocolsRouteSuccessResponse:
            properties:
                protocols:
                    items: {}
                    title: iGetProtocolsRouteSuccessResponse.protocols
                    type: array
            required:
                - protocols
            additionalProperties: false
            title: iGetProtocolsRouteSuccessResponse
            description: '@category API Requests / Responses'
            type: object
        GetCollectionForProtocolBody:
            properties:
                name:
                    title: GetCollectionForProtocolBody.name
                    type: string
                address:
                    title: GetCollectionForProtocolBody.address
                    type: string
            required:
                - name
                - address
            additionalProperties: false
            title: GetCollectionForProtocolBody
            description: '@category API Requests / Responses'
            type: object
        iGetCollectionForProtocolRouteSuccessResponse:
            properties:
                collectionId:
                    title: iGetCollectionForProtocolRouteSuccessResponse.collectionId
                    anyOf:
                        - type: string
                        - type: number
            required:
                - collectionId
            additionalProperties: false
            title: iGetCollectionForProtocolRouteSuccessResponse
            description: '@category API Requests / Responses'
            type: object
        iNotificationPreferences:
            properties:
                email:
                    title: iNotificationPreferences.email
                    type: string
                emailVerification:
                    $ref: '#/components/schemas/iEmailVerificationStatus'
                    title: iNotificationPreferences.emailVerification
                preferences:
                    properties:
                        listActivity:
                            title: iNotificationPreferences.preferences.listActivity
                            type: boolean
                        transferActivity:
                            title: iNotificationPreferences.preferences.transferActivity
                            type: boolean
                        claimAlerts:
                            title: iNotificationPreferences.preferences.claimAlerts
                            type: boolean
                    additionalProperties: false
                    title: iNotificationPreferences.preferences
                    type: object
            additionalProperties: false
            title: iNotificationPreferences
            description: '@category Interfaces'
            type: object
        iEmailVerificationStatus:
            properties:
                verified:
                    title: iEmailVerificationStatus.verified
                    type: boolean
                token:
                    title: iEmailVerificationStatus.token
                    type: string
                expiry:
                    title: iEmailVerificationStatus.expiry
                    anyOf:
                        - type: string
                        - type: number
                antiPhishingCode:
                    title: iEmailVerificationStatus.antiPhishingCode
                    type: string
            additionalProperties: false
            title: iEmailVerificationStatus
            description: '@category Interfaces'
            type: object
        iActivityDoc:
            properties:
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
            required:
                - timestamp
                - block
            additionalProperties: false
            title: iActivityDoc
            description: '@category Interfaces'
            type: object
        iReviewDoc:
            properties:
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                review:
                    title: iReviewDoc.review
                    description: The review text (max 2048 characters).
                    type: string
                stars:
                    title: iReviewDoc.stars
                    description: The number of stars given (1-5).
                    anyOf:
                        - type: string
                        - type: number
                from:
                    title: iReviewDoc.from
                    description: The cosmos address of the user who gave the review.
                    type: string
                collectionId:
                    title: iReviewDoc.collectionId
                    description: >-
                        The collection ID of the collection that was reviewed. Only
                        applicable to collection reviews.
                    anyOf:
                        - type: string
                        - type: number
                reviewedAddress:
                    title: iReviewDoc.reviewedAddress
                    description: >-
                        The cosmos address of the user who the review is for. Only
                        applicable to user reviews.
                    type: string
            required:
                - timestamp
                - block
                - review
                - stars
                - from
            additionalProperties: false
            title: iReviewDoc, iActivityDoc
            description: '@category Interfaces'
            type: object
        iTransferActivityDoc:
            properties:
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                to:
                    items:
                        title: iTransferActivityDoc.to.[]
                        type: string
                    title: iTransferActivityDoc.to
                    description: The list of cosmos addresses that were involved in the activity.
                    type: array
                from:
                    title: iTransferActivityDoc.from
                    description: The list of cosmos addresses that were involved in the activity.
                    type: string
                balances:
                    items: {}
                    title: iTransferActivityDoc.balances
                    description: The list of balances and badge IDs that were transferred.
                    type: array
                collectionId:
                    title: iTransferActivityDoc.collectionId
                    description: The collection ID of the collection that was transferred.
                    anyOf:
                        - type: string
                        - type: number
                memo:
                    title: iTransferActivityDoc.memo
                    description: The memo of the transfer.
                    type: string
                precalculateBalancesFromApproval:
                    title: iTransferActivityDoc.precalculateBalancesFromApproval
                    description: Which approval to use to precalculate the balances.
                prioritizedApprovals:
                    items: {}
                    title: iTransferActivityDoc.prioritizedApprovals
                    description: The prioritized approvals of the transfer.
                    type: array
                onlyCheckPrioritizedApprovals:
                    title: iTransferActivityDoc.onlyCheckPrioritizedApprovals
                    description: Whether or not to only check prioritized approvals.
                    type: boolean
                initiatedBy:
                    title: iTransferActivityDoc.initiatedBy
                    description: The cosmos address of the user who initiated the activity.
                    type: string
                txHash:
                    title: iTransferActivityDoc.txHash
                    description: The transaction hash of the activity.
                    type: string
            required:
                - timestamp
                - block
                - to
                - from
                - balances
                - collectionId
                - initiatedBy
            additionalProperties: false
            title: iTransferActivityDoc, iActivityDoc
            description: '@category Interfaces'
            type: object
        iListActivityDoc:
            properties:
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                listId:
                    title: iListActivityDoc.listId
                    description: The list ID of the list.
                    type: string
                addedToList:
                    title: iListActivityDoc.addedToList
                    description: >-
                        Whether or not the address is included in the list. Note that this
                        could mean added to an whitelist or a blacklist
                    type: boolean
                addresses:
                    items:
                        title: iListActivityDoc.addresses.[]
                        type: string
                    title: iListActivityDoc.addresses
                    description: The list of addresses that were added or removed from the list.
                    type: array
                txHash:
                    title: iListActivityDoc.txHash
                    description: The transaction hash of the activity.
                    type: string
            required:
                - timestamp
                - block
                - listId
            additionalProperties: false
            title: iListActivityDoc, iActivityDoc
            description: '@category Interfaces'
            type: object
        iClaimAlertDoc:
            properties:
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                code:
                    title: iClaimAlertDoc.code
                    description: The code of the claim alert.
                    type: string
                cosmosAddresses:
                    items:
                        title: iClaimAlertDoc.cosmosAddresses.[]
                        type: string
                    title: iClaimAlertDoc.cosmosAddresses
                    description: The cosmos addresses of the users that have been alerted.
                    type: array
                collectionId:
                    title: iClaimAlertDoc.collectionId
                    description: The collection ID of the claim alert.
                    anyOf:
                        - type: string
                        - type: number
                message:
                    title: iClaimAlertDoc.message
                    description: The message of the claim alert.
                    type: string
            required:
                - timestamp
                - block
                - cosmosAddresses
                - collectionId
            additionalProperties: false
            title: iClaimAlertDoc, iActivityDoc
            description: '@category Interfaces'
            type: object
        iCollectionDoc:
            properties:
                collectionId:
                    title: iCollectionDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                collectionMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.collectionMetadataTimeline
                    description: The collection metadata timeline
                    type: array
                badgeMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.badgeMetadataTimeline
                    description: The badge metadata timeline
                    type: array
                balancesType:
                    enum:
                        - Standard
                        - Off-Chain - Indexed
                        - Inherited
                        - Off-Chain - Non-Indexed
                    title: iCollectionDoc.balancesType
                    description: >-
                        The type of balances (i.e. "Standard", "Off-Chain - Indexed",
                        "Inherited, "Off-Chain - Non-Indexed")
                    type: string
                offChainBalancesMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.offChainBalancesMetadataTimeline
                    description: The off-chain balances metadata timeline
                    type: array
                customDataTimeline:
                    items: {}
                    title: iCollectionDoc.customDataTimeline
                    description: The custom data timeline
                    type: array
                managerTimeline:
                    items: {}
                    title: iCollectionDoc.managerTimeline
                    description: The manager timeline
                    type: array
                collectionPermissions:
                    title: iCollectionDoc.collectionPermissions
                    description: The collection permissions
                collectionApprovals:
                    items: {}
                    title: iCollectionDoc.collectionApprovals
                    description: The collection approved transfers timeline
                    type: array
                standardsTimeline:
                    items: {}
                    title: iCollectionDoc.standardsTimeline
                    description: The standards timeline
                    type: array
                isArchivedTimeline:
                    items: {}
                    title: iCollectionDoc.isArchivedTimeline
                    description: The is archived timeline
                    type: array
                defaultBalances:
                    title: iCollectionDoc.defaultBalances
                    description: >-
                        The default balances for users who have not interacted with the
                        collection yet. Only used if collection has "Standard" balance type.
                createdBy:
                    title: iCollectionDoc.createdBy
                    description: The cosmos address of the user who created this collection
                    type: string
                createdBlock:
                    title: iCollectionDoc.createdBlock
                    description: The block number when this collection was created
                    anyOf:
                        - type: string
                        - type: number
                createdTimestamp:
                    title: iCollectionDoc.createdTimestamp
                    description: >-
                        The timestamp when this collection was created (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iCollectionDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iCollectionDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iCollectionDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iCollectionDoc.updateHistory.[]
                        type: object
                    title: iCollectionDoc.updateHistory
                    description: The update history of this collection
                    type: array
                aliasAddress:
                    title: iCollectionDoc.aliasAddress
                    description: The alias cosmos address for the collection
                    type: string
            required:
                - collectionId
                - collectionMetadataTimeline
                - badgeMetadataTimeline
                - balancesType
                - offChainBalancesMetadataTimeline
                - customDataTimeline
                - managerTimeline
                - collectionPermissions
                - collectionApprovals
                - standardsTimeline
                - isArchivedTimeline
                - defaultBalances
                - createdBy
                - createdBlock
                - createdTimestamp
                - updateHistory
                - aliasAddress
            additionalProperties: false
            title: iCollectionDoc
            description: '@category Interfaces'
            type: object
        iAccountDoc:
            properties:
                publicKey:
                    title: iAccountDoc.publicKey
                    description: The public key of the account
                    type: string
                accountNumber:
                    title: iAccountDoc.accountNumber
                    description: The account number of the account
                    anyOf:
                        - type: string
                        - type: number
                pubKeyType:
                    title: iAccountDoc.pubKeyType
                    description: The public key type of the account
                    type: string
                cosmosAddress:
                    title: iAccountDoc.cosmosAddress
                    description: The Cosmos address of the account
                    type: string
                ethAddress:
                    title: iAccountDoc.ethAddress
                    description: The Eth address of the account
                    type: string
                solAddress:
                    title: iAccountDoc.solAddress
                    description: The Solana address of the account
                    type: string
                btcAddress:
                    title: iAccountDoc.btcAddress
                    description: The Bitcoin address of the account
                    type: string
                sequence:
                    title: iAccountDoc.sequence
                    description: The sequence of the account
                    anyOf:
                        - type: string
                        - type: number
                balance:
                    title: iAccountDoc.balance
                    description: The balance of the account
            required:
                - publicKey
                - accountNumber
                - pubKeyType
                - cosmosAddress
                - ethAddress
                - solAddress
                - btcAddress
            additionalProperties: false
            title: iAccountDoc
            description: '@category Interfaces'
            type: object
        iCustomLink:
            properties:
                title:
                    title: iCustomLink.title
                    type: string
                url:
                    title: iCustomLink.url
                    type: string
                image:
                    title: iCustomLink.image
                    type: string
            required:
                - title
                - url
                - image
            additionalProperties: false
            title: iCustomLink
            description: |-
                CustomLinks are custom links that can be added to a profile.
                @category Interfaces
            type: object
        iCustomPage:
            properties:
                title:
                    title: iCustomPage.title
                    type: string
                description:
                    title: iCustomPage.description
                    type: string
                items:
                    items: {}
                    title: iCustomPage.items
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            title: iCustomPage
            description: '@category Interfaces'
            type: object
        iCustomListPage:
            properties:
                title:
                    title: iCustomListPage.title
                    type: string
                description:
                    title: iCustomListPage.description
                    type: string
                items:
                    items:
                        title: iCustomListPage.items.[]
                        type: string
                    title: iCustomListPage.items
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            title: iCustomListPage
            description: >-
                CustomListPage is a custom list page that can be added to a profile. The
                items are valid list IDs.

                @category Interfaces
            type: object
        iProfileDoc:
            properties:
                fetchedProfile:
                    title: iProfileDoc.fetchedProfile
                    description: Whether we have already fetched the profile or not
                    type: boolean
                seenActivity:
                    title: iProfileDoc.seenActivity
                    description: >-
                        The timestamp of the last activity seen for this account
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                createdAt:
                    title: iProfileDoc.createdAt
                    description: >-
                        The timestamp of when this account was created (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                discord:
                    title: iProfileDoc.discord
                    description: The Discord username of the account
                    type: string
                twitter:
                    title: iProfileDoc.twitter
                    description: The Twitter username of the account
                    type: string
                github:
                    title: iProfileDoc.github
                    description: The GitHub username of the account
                    type: string
                telegram:
                    title: iProfileDoc.telegram
                    description: The Telegram username of the account
                    type: string
                readme:
                    title: iProfileDoc.readme
                    description: The readme of the account
                    type: string
                customLinks:
                    items:
                        $ref: '#/components/schemas/iCustomLink'
                        title: iProfileDoc.customLinks.[]
                    title: iProfileDoc.customLinks
                    description: The custom links of the account
                    type: array
                hiddenBadges:
                    items: {}
                    title: iProfileDoc.hiddenBadges
                    description: The hidden badges of the account
                    type: array
                hiddenLists:
                    items:
                        title: iProfileDoc.hiddenLists.[]
                        type: string
                    title: iProfileDoc.hiddenLists
                    description: The hidden lists of the account
                    type: array
                customPages:
                    properties:
                        badges:
                            items:
                                $ref: '#/components/schemas/iCustomPage'
                                title: iProfileDoc.customPages.badges.[]
                            title: iProfileDoc.customPages.badges
                            type: array
                        lists:
                            items:
                                $ref: '#/components/schemas/iCustomListPage'
                                title: iProfileDoc.customPages.lists.[]
                            title: iProfileDoc.customPages.lists
                            type: array
                    required:
                        - badges
                        - lists
                    additionalProperties: false
                    title: iProfileDoc.customPages
                    description: The custom pages of the account
                    type: object
                watchlists:
                    properties:
                        badges:
                            items:
                                $ref: '#/components/schemas/iCustomPage'
                                title: iProfileDoc.watchlists.badges.[]
                            title: iProfileDoc.watchlists.badges
                            type: array
                        lists:
                            items:
                                $ref: '#/components/schemas/iCustomListPage'
                                title: iProfileDoc.watchlists.lists.[]
                            title: iProfileDoc.watchlists.lists
                            type: array
                    required:
                        - badges
                        - lists
                    additionalProperties: false
                    title: iProfileDoc.watchlists
                    description: The watched lists of the account's portfolio
                    type: object
                profilePicUrl:
                    title: iProfileDoc.profilePicUrl
                    description: The profile picture URL of the account
                    type: string
                username:
                    title: iProfileDoc.username
                    description: The username of the account
                    type: string
                latestSignedInChain:
                    title: iProfileDoc.latestSignedInChain
                    description: The latest chain the user signed in with
                solAddress:
                    title: iProfileDoc.solAddress
                    description: >-
                        The Solana address of the profile, if applicable (bc we need it to
                        convert)
                    type: string
                notifications:
                    $ref: '#/components/schemas/iNotificationPreferences'
                    title: iProfileDoc.notifications
                    description: The notifications of the account
                approvedSignInMethods:
                    properties:
                        discord:
                            properties:
                                username:
                                    title: iProfileDoc.approvedSignInMethods.discord.username
                                    type: string
                                discriminator:
                                    title: iProfileDoc.approvedSignInMethods.discord.discriminator
                                    type: string
                                id:
                                    title: iProfileDoc.approvedSignInMethods.discord.id
                                    type: string
                            required:
                                - username
                                - id
                            additionalProperties: false
                            title: iProfileDoc.approvedSignInMethods.discord
                            type: object
                    additionalProperties: false
                    title: iProfileDoc.approvedSignInMethods
                    description: Approved ways to sign in (rather than Blockin)
                    type: object
            additionalProperties: false
            title: iProfileDoc
            description: '@category Interfaces'
            type: object
        iQueueDoc:
            properties:
                uri:
                    title: iQueueDoc.uri
                    description: >-
                        The URI of the metadata to be fetched. If {id} is present, it will
                        be replaced with each individual ID in badgeIds
                    type: string
                collectionId:
                    title: iQueueDoc.collectionId
                    description: The collection ID of the metadata to be fetched
                    anyOf:
                        - type: string
                        - type: number
                loadBalanceId:
                    title: iQueueDoc.loadBalanceId
                    description: >-
                        The load balance ID of the metadata to be fetched. Only the node
                        with the same load balance ID will fetch this metadata
                    anyOf:
                        - type: string
                        - type: number
                refreshRequestTime:
                    title: iQueueDoc.refreshRequestTime
                    description: >-
                        The timestamp of when this metadata was requested to be refreshed
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                numRetries:
                    title: iQueueDoc.numRetries
                    description: >-
                        The number of times this metadata has been tried to be fetched but
                        failed
                    anyOf:
                        - type: string
                        - type: number
                lastFetchedAt:
                    title: iQueueDoc.lastFetchedAt
                    description: >-
                        The timestamp of when this metadata was last fetched (milliseconds
                        since epoch)
                    anyOf:
                        - type: string
                        - type: number
                error:
                    title: iQueueDoc.error
                    description: The error message if this metadata failed to be fetched
                    type: string
                deletedAt:
                    title: iQueueDoc.deletedAt
                    description: >-
                        The timestamp of when this document was deleted (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                nextFetchTime:
                    title: iQueueDoc.nextFetchTime
                    description: >-
                        The timestamp of when this document should be fetched next
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                emailMessage:
                    title: iQueueDoc.emailMessage
                    type: string
                recipientAddress:
                    title: iQueueDoc.recipientAddress
                    type: string
                activityDocId:
                    title: iQueueDoc.activityDocId
                    type: string
                notificationType:
                    title: iQueueDoc.notificationType
                    type: string
            required:
                - uri
                - collectionId
                - loadBalanceId
                - refreshRequestTime
                - numRetries
            additionalProperties: false
            title: iQueueDoc
            description: '@category Interfaces'
            type: object
        iIndexerStatus:
            properties:
                status:
                    title: iIndexerStatus.status
            required:
                - status
            additionalProperties: false
            title: iIndexerStatus
            description: '@category Interfaces'
            type: object
        iLatestBlockStatus:
            properties:
                height:
                    title: iLatestBlockStatus.height
                    description: The height of the latest block
                    anyOf:
                        - type: string
                        - type: number
                txIndex:
                    title: iLatestBlockStatus.txIndex
                    description: The transaction index of the latest block
                    anyOf:
                        - type: string
                        - type: number
                timestamp:
                    title: iLatestBlockStatus.timestamp
                    description: The timestamp of the latest block (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
            required:
                - height
                - txIndex
                - timestamp
            additionalProperties: false
            title: iLatestBlockStatus
            description: '@category Interfaces'
            type: object
        iStatusDoc:
            properties:
                block:
                    $ref: '#/components/schemas/iLatestBlockStatus'
                    title: iStatusDoc.block
                    description: The latest synced block status (i.e. height, txIndex, timestamp)
                nextCollectionId:
                    title: iStatusDoc.nextCollectionId
                    description: The next collection ID to be used
                    anyOf:
                        - type: string
                        - type: number
                gasPrice:
                    title: iStatusDoc.gasPrice
                    description: The current gas price based on the average of the lastXGasAmounts
                    type: number
                lastXGasAmounts:
                    items:
                        title: iStatusDoc.lastXGasAmounts.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iStatusDoc.lastXGasAmounts
                    description: The last X gas prices
                    type: array
                lastXGasLimits:
                    items:
                        title: iStatusDoc.lastXGasLimits.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iStatusDoc.lastXGasLimits
                    description: The last X gas limits
                    type: array
            required:
                - block
                - nextCollectionId
                - gasPrice
                - lastXGasAmounts
                - lastXGasLimits
            additionalProperties: false
            title: iStatusDoc
            description: '@category Interfaces'
            type: object
        iAddressListEditKey:
            properties:
                key:
                    title: iAddressListEditKey.key
                    description: The key that can be used to edit the address list
                    type: string
                expirationDate:
                    title: iAddressListEditKey.expirationDate
                    description: The expiration date of the key (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                mustSignIn:
                    title: iAddressListEditKey.mustSignIn
                    description: True if the user can only add their signed in address to the list
                    type: boolean
            required:
                - key
                - expirationDate
            additionalProperties: false
            title: iAddressListEditKey
            description: '@category Interfaces'
            type: object
        iAddressListDoc:
            properties:
                createdBy:
                    title: iAddressListDoc.createdBy
                    description: The cosmos address of the user who created this list
                    type: string
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iAddressListDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iAddressListDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iAddressListDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iAddressListDoc.updateHistory.[]
                        type: object
                    title: iAddressListDoc.updateHistory
                    description: The update history of this list
                    type: array
                createdBlock:
                    title: iAddressListDoc.createdBlock
                    description: The block number when this list was created
                    anyOf:
                        - type: string
                        - type: number
                lastUpdated:
                    title: iAddressListDoc.lastUpdated
                    description: >-
                        The timestamp of when this list was last updated (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                nsfw:
                    properties:
                        reason:
                            title: iAddressListDoc.nsfw.reason
                            type: string
                    required:
                        - reason
                    additionalProperties: false
                    title: iAddressListDoc.nsfw
                    description: The NSFW reason if this list is NSFW
                    type: object
                reported:
                    properties:
                        reason:
                            title: iAddressListDoc.reported.reason
                            type: string
                    required:
                        - reason
                    additionalProperties: false
                    title: iAddressListDoc.reported
                    description: The reported reason if this list is reported
                    type: object
                private:
                    title: iAddressListDoc.private
                    description: True if this list is private and will not show up in search results
                    type: boolean
                viewableWithLink:
                    title: iAddressListDoc.viewableWithLink
                    description: True if this list is viewable if queried by the list ID directly
                    type: boolean
            required:
                - createdBy
                - updateHistory
                - createdBlock
                - lastUpdated
            additionalProperties: false
            title: iAddressListDoc
            description: '@category Interfaces'
            type: object
        iBalanceDoc:
            properties:
                collectionId:
                    title: iBalanceDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                cosmosAddress:
                    title: iBalanceDoc.cosmosAddress
                    description: The Cosmos address of the user
                    type: string
                onChain:
                    title: iBalanceDoc.onChain
                    description: True if the balances are on-chain
                    type: boolean
                uri:
                    title: iBalanceDoc.uri
                    description: The URI of the off-chain balances
                    type: string
                fetchedAt:
                    title: iBalanceDoc.fetchedAt
                    description: >-
                        The timestamp of when the off-chain balances were fetched
                        (milliseconds since epoch). For BitBadges indexer, we only populate
                        this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                fetchedAtBlock:
                    title: iBalanceDoc.fetchedAtBlock
                    description: >-
                        The block number of when the off-chain balances were fetched. For
                        BitBadges indexer, we only populate this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                isPermanent:
                    title: iBalanceDoc.isPermanent
                    description: True if the off-chain balances are using permanent storage
                    type: boolean
                contentHash:
                    title: iBalanceDoc.contentHash
                    description: The content hash of the off-chain balances
                    type: string
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iBalanceDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iBalanceDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iBalanceDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iBalanceDoc.updateHistory.[]
                        type: object
                    title: iBalanceDoc.updateHistory
                    description: The update history of this balance
                    type: array
            required:
                - collectionId
                - cosmosAddress
                - onChain
                - updateHistory
            additionalProperties: false
            title: iBalanceDoc
            description: '@category Interfaces'
            type: object
        iBalanceDocWithDetails:
            properties:
                collectionId:
                    title: iBalanceDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                cosmosAddress:
                    title: iBalanceDoc.cosmosAddress
                    description: The Cosmos address of the user
                    type: string
                onChain:
                    title: iBalanceDoc.onChain
                    description: True if the balances are on-chain
                    type: boolean
                uri:
                    title: iBalanceDoc.uri
                    description: The URI of the off-chain balances
                    type: string
                fetchedAt:
                    title: iBalanceDoc.fetchedAt
                    description: >-
                        The timestamp of when the off-chain balances were fetched
                        (milliseconds since epoch). For BitBadges indexer, we only populate
                        this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                fetchedAtBlock:
                    title: iBalanceDoc.fetchedAtBlock
                    description: >-
                        The block number of when the off-chain balances were fetched. For
                        BitBadges indexer, we only populate this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                isPermanent:
                    title: iBalanceDoc.isPermanent
                    description: True if the off-chain balances are using permanent storage
                    type: boolean
                contentHash:
                    title: iBalanceDoc.contentHash
                    description: The content hash of the off-chain balances
                    type: string
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iBalanceDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iBalanceDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iBalanceDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iBalanceDoc.updateHistory.[]
                        type: object
                    title: iBalanceDoc.updateHistory
                    description: The update history of this balance
                    type: array
                outgoingApprovals:
                    items: {}
                    title: iBalanceDocWithDetails.outgoingApprovals
                    description: The outgoing approvals with details like metadata and address lists.
                    type: array
                incomingApprovals:
                    items: {}
                    title: iBalanceDocWithDetails.incomingApprovals
                    description: The incoming approvals with details like metadata and address lists.
                    type: array
                userPermissions:
                    title: iBalanceDocWithDetails.userPermissions
                    description: The user permissions with details like metadata and address lists.
            required:
                - collectionId
                - cosmosAddress
                - onChain
                - updateHistory
                - outgoingApprovals
                - incomingApprovals
                - userPermissions
            additionalProperties: false
            title: iBalanceDocWithDetails, iBalanceDoc
            description: '@category Interfaces'
            type: object
        ClaimIntegrationPluginType:
            enum:
                - password
                - numUses
                - greaterThanXBADGEBalance
                - discord
                - codes
                - twitter
                - transferTimes
                - requiresProofOfAddress
                - whitelist
                - mustOwnBadges
                - api
            title: ClaimIntegrationPluginType
            type: string
        JsonBodyInputWithValue:
            properties:
                key:
                    title: JsonBodyInputWithValue.key
                    type: string
                label:
                    title: JsonBodyInputWithValue.label
                    type: string
                type:
                    enum:
                        - date
                        - url
                    title: JsonBodyInputWithValue.type
                    type: string
                value:
                    title: JsonBodyInputWithValue.value
                    anyOf:
                        - type: string
                        - type: number
                        - type: boolean
            required:
                - key
                - label
                - value
            additionalProperties: false
            title: JsonBodyInputWithValue
            type: object
        JsonBodyInputSchema:
            properties:
                key:
                    title: JsonBodyInputSchema.key
                    type: string
                label:
                    title: JsonBodyInputSchema.label
                    type: string
                type:
                    enum:
                        - date
                        - url
                        - string
                        - number
                        - boolean
                    title: JsonBodyInputSchema.type
                    type: string
                helper:
                    title: JsonBodyInputSchema.helper
                    type: string
            required:
                - key
                - label
                - type
            additionalProperties: false
            title: JsonBodyInputSchema
            type: object
        ClaimApiCallInfo:
            properties:
                uri:
                    title: ClaimApiCallInfo.uri
                    type: string
                name:
                    title: ClaimApiCallInfo.name
                    type: string
                description:
                    title: ClaimApiCallInfo.description
                    type: string
                passDiscord:
                    title: ClaimApiCallInfo.passDiscord
                    type: boolean
                passTwitter:
                    title: ClaimApiCallInfo.passTwitter
                    type: boolean
                bodyParams:
                    title: ClaimApiCallInfo.bodyParams
                    type: object
                userInputsSchema:
                    items:
                        $ref: '#/components/schemas/JsonBodyInputSchema'
                    title: ClaimApiCallInfo.userInputsSchema
                    type: array
            required:
                - uri
                - name
                - userInputsSchema
            additionalProperties: false
            title: ClaimApiCallInfo
            type: object
        iClaimBuilderDoc:
            properties:
                cid:
                    title: iClaimBuilderDoc.cid
                    description: The CID of the password document
                    type: string
                createdBy:
                    title: iClaimBuilderDoc.createdBy
                    description: The cosmos address of the user who created this password
                    type: string
                docClaimed:
                    title: iClaimBuilderDoc.docClaimed
                    description: True if the password document is claimed by the collection
                    type: boolean
                collectionId:
                    title: iClaimBuilderDoc.collectionId
                    description: The collection ID of the password document
                    anyOf:
                        - type: string
                        - type: number
                plugins:
                    items: {}
                    title: iClaimBuilderDoc.plugins
                    description: Dynamic checks to run in the form of plugins
                    type: array
                manualDistribution:
                    title: iClaimBuilderDoc.manualDistribution
                    description: >-
                        If true, the claim codes are to be distributed manually. This doc
                        will only be used for storage purposes.
                    type: boolean
                state:
                    additionalProperties: {}
                    title: iClaimBuilderDoc.state
                    description: The current state of each plugin
                    type: object
                action:
                    properties:
                        codes:
                            items:
                                title: iClaimBuilderDoc.action.codes.[]
                                type: string
                            title: iClaimBuilderDoc.action.codes
                            type: array
                        seedCode:
                            title: iClaimBuilderDoc.action.seedCode
                            type: string
                        balancesToSet:
                            title: iClaimBuilderDoc.action.balancesToSet
                        listId:
                            title: iClaimBuilderDoc.action.listId
                            type: string
                    additionalProperties: false
                    title: iClaimBuilderDoc.action
                    description: Details for the action to perform if the criteria is correct
                    type: object
            required:
                - cid
                - createdBy
                - docClaimed
                - collectionId
                - plugins
                - state
                - action
            additionalProperties: false
            title: iClaimBuilderDoc
            description: '@category Interfaces'
            type: object
        iApprovalTrackerDoc:
            properties:
                numTransfers:
                    title: iApprovalTrackerDoc.numTransfers
                    description: The number of transfers. Is an incrementing tally.
                    anyOf:
                        - type: string
                        - type: number
                amounts:
                    items: {}
                    title: iApprovalTrackerDoc.amounts
                    description: A tally of the amounts transferred for this approval.
                    type: array
            required:
                - numTransfers
                - amounts
            additionalProperties: false
            title: iApprovalTrackerDoc
            description: '@category Interfaces'
            type: object
        iChallengeTrackerIdDetails:
            properties:
                collectionId:
                    title: iChallengeTrackerIdDetails.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iChallengeTrackerIdDetails.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iChallengeTrackerIdDetails.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iChallengeTrackerIdDetails.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
            required:
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
            additionalProperties: false
            title: iChallengeTrackerIdDetails
            description: '@category Interfaces'
            type: object
        iMerkleChallengeDoc:
            properties:
                collectionId:
                    title: iMerkleChallengeDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iMerkleChallengeDoc.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iMerkleChallengeDoc.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iMerkleChallengeDoc.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
                usedLeafIndices:
                    items:
                        title: iMerkleChallengeDoc.usedLeafIndices.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iMerkleChallengeDoc.usedLeafIndices
                    description: >-
                        The used leaf indices for each challenge. A leaf index is the leaf
                        location in the bottommost layer of the Merkle tree
                    type: array
            required:
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
                - usedLeafIndices
            additionalProperties: false
            title: iMerkleChallengeDoc
            description: '@category Interfaces'
            type: object
        iMerkleChallengeIdDetails:
            properties:
                collectionId:
                    title: iMerkleChallengeIdDetails.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iMerkleChallengeIdDetails.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iMerkleChallengeIdDetails.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iMerkleChallengeIdDetails.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
                usedLeafIndices:
                    items:
                        title: iMerkleChallengeIdDetails.usedLeafIndices.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iMerkleChallengeIdDetails.usedLeafIndices
                    description: >-
                        The used leaf indices for each challenge. A leaf index is the leaf
                        location in the bottommost layer of the Merkle tree
                    type: array
            required:
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
                - usedLeafIndices
            additionalProperties: false
            title: iMerkleChallengeIdDetails
            description: '@category Interfaces'
            type: object
        iFetchDoc:
            properties:
                content:
                    anyOf: []
                    title: iFetchDoc.content
                    description: >-
                        The content of the fetch document. Note that we store balances in
                        BALANCES_DB and not here to avoid double storage.
                fetchedAt:
                    title: iFetchDoc.fetchedAt
                    description: The time the document was fetched
                    anyOf:
                        - type: string
                        - type: number
                fetchedAtBlock:
                    title: iFetchDoc.fetchedAtBlock
                    description: The block the document was fetched
                    anyOf:
                        - type: string
                        - type: number
                db:
                    enum:
                        - ApprovalInfo
                        - Metadata
                        - Balances
                    title: iFetchDoc.db
                    description: The type of content fetched. This is used for querying purposes
                    type: string
                isPermanent:
                    title: iFetchDoc.isPermanent
                    description: >-
                        True if the document is permanent (i.e. fetched from a permanent URI
                        like IPFS)
                    type: boolean
            required:
                - fetchedAt
                - fetchedAtBlock
                - db
                - isPermanent
            additionalProperties: false
            title: iFetchDoc
            description: '@category Interfaces'
            type: object
        iRefreshDoc:
            properties:
                collectionId:
                    title: iRefreshDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                refreshRequestTime:
                    title: iRefreshDoc.refreshRequestTime
                    description: The time the refresh was requested (Unix timestamp in milliseconds)
                    anyOf:
                        - type: string
                        - type: number
            required:
                - collectionId
                - refreshRequestTime
            additionalProperties: false
            title: iRefreshDoc
            description: '@category Interfaces'
            type: object
        iAirdropDoc:
            properties:
                airdropped:
                    title: iAirdropDoc.airdropped
                    description: True if the airdrop has been completed
                    type: boolean
                timestamp:
                    title: iAirdropDoc.timestamp
                    description: >-
                        The timestamp of when the airdrop was completed (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                hash:
                    title: iAirdropDoc.hash
                    description: The hash of the airdrop transaction
                    type: string
            required:
                - airdropped
                - timestamp
            additionalProperties: false
            title: iAirdropDoc
            description: '@category Interfaces'
            type: object
        iIPFSTotalsDoc:
            properties:
                bytesUploaded:
                    title: iIPFSTotalsDoc.bytesUploaded
                    description: The total bytes uploaded
                    anyOf:
                        - type: string
                        - type: number
            required:
                - bytesUploaded
            additionalProperties: false
            title: iIPFSTotalsDoc
            description: '@category Interfaces'
            type: object
        iComplianceDoc:
            properties:
                badges:
                    properties:
                        nsfw:
                            items: {}
                            title: iComplianceDoc.badges.nsfw
                            type: array
                        reported:
                            items: {}
                            title: iComplianceDoc.badges.reported
                            type: array
                    required:
                        - nsfw
                        - reported
                    additionalProperties: false
                    title: iComplianceDoc.badges
                    type: object
                addressLists:
                    properties:
                        nsfw:
                            items:
                                properties:
                                    listId:
                                        title: iComplianceDoc.addressLists.nsfw.[].listId
                                        type: string
                                    reason:
                                        title: iComplianceDoc.addressLists.nsfw.[].reason
                                        type: string
                                required:
                                    - listId
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.addressLists.nsfw.[]
                                type: object
                            title: iComplianceDoc.addressLists.nsfw
                            type: array
                        reported:
                            items:
                                properties:
                                    listId:
                                        title: iComplianceDoc.addressLists.reported.[].listId
                                        type: string
                                    reason:
                                        title: iComplianceDoc.addressLists.reported.[].reason
                                        type: string
                                required:
                                    - listId
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.addressLists.reported.[]
                                type: object
                            title: iComplianceDoc.addressLists.reported
                            type: array
                    required:
                        - nsfw
                        - reported
                    additionalProperties: false
                    title: iComplianceDoc.addressLists
                    type: object
                accounts:
                    properties:
                        nsfw:
                            items:
                                properties:
                                    cosmosAddress:
                                        title: iComplianceDoc.accounts.nsfw.[].cosmosAddress
                                        type: string
                                    reason:
                                        title: iComplianceDoc.accounts.nsfw.[].reason
                                        type: string
                                required:
                                    - cosmosAddress
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.accounts.nsfw.[]
                                type: object
                            title: iComplianceDoc.accounts.nsfw
                            type: array
                        reported:
                            items:
                                properties:
                                    cosmosAddress:
                                        title: iComplianceDoc.accounts.reported.[].cosmosAddress
                                        type: string
                                    reason:
                                        title: iComplianceDoc.accounts.reported.[].reason
                                        type: string
                                required:
                                    - cosmosAddress
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.accounts.reported.[]
                                type: object
                            title: iComplianceDoc.accounts.reported
                            type: array
                    required:
                        - nsfw
                        - reported
[...]
