openapi: '3.0.2'
info:
    title: BitBadges API
    version: '0.1'
servers:
    - url: https://api.bitbadges.io/api/v0
paths:
    /status:
        post:
            operationId: getStatus
            summary: Get Status
            description: |
                Gets the current status details about the blockchain / indexer (gas, block height, etc).
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
                    description: Returns the current status of the blockchain / indexer

                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            x-code-samples:
                - lang: typescript
                  label: BitBadges SDK
                  source: |
                      const res = await BitBadgesApi.getStatus();
                      console.log(res);
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /search/{searchValue}:
        post:
            operationId: searchByValue
            summary: Search
            description: |
                Searches for collections, badges, accounts, and address lists based on the provided search value.
            parameters:
                - name: searchValue
                  in: path
                  description: The value to search for.
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetSearchRouteRequestBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            x-code-samples:
                - lang: typescript
                  label: BitBadges SDK
                  source: |
                      const res = await BitBadgesApi.searchByValue('searchValue', {
                        noCollections: false,
                        noAccounts: false,
                        noAddressLists: false,
                        noBadges: false,
                        specificCollectionId: '123'
                      });
                      console.log(res);
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
components:
    responses:
        ErrorResponse:
            description: An error response
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        BadRequestResponse:
            description: Bad Request - Invalid configuration or request
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        UnauthorizedResponse:
            description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        InternalServerErrorResponse:
            description: Internal Server Error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
    securitySchemes:
        apiKey:
            type: apiKey
            in: header
            name: x-api-key
            description: Requires a BitBadges API key for requests
            x-type: string
        frontendOnly:
            type: apiKey
            in: header
            name: Origin
            description: Can only be called by the official BitBadges frontend. Not for developer use.
        userSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in with a valid session.
        userMaybeSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in for certain requests, but not all.
        userIsManager:
            type: http
            scheme: cookie
            description: User must be signed in and have manager permissions.
        userIsOwner:
            type: http
            scheme: cookie
            description: User must be signed in and have owner permissions.
    schemas:
        ErrorResponse:
            type: object
            required:
                - errorMessage
            properties:
                error:
                    type: object
                    description: Serialized error object for debugging purposes. Technical users can use this to debug issues.
                errorMessage:
                    type: string
                    description: UX-friendly error message that can be displayed to the user. Always present if error.
                unauthorized:
                    type: boolean
                    description: Authentication error. Present if the user is not authenticated.

        # -------------------------------------------------------------COPIED FROM JS SCRIPT-------------------------------------------------------------
        Doc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
            required:
                - _docId
            additionalProperties: false
            title: Doc
            description: |-
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iBitBadgesApi:
            properties:
                apiUrl:
                    title: iBitBadgesApi.apiUrl
                    type: string
                apiKey:
                    title: iBitBadgesApi.apiKey
                    type: string
                convertFunction:
                    title: iBitBadgesApi.convertFunction
            required:
                - convertFunction
            additionalProperties: false
            title: iBitBadgesApi
            description: '@category Interfaces'
            type: object
        PaginationInfo:
            properties:
                bookmark:
                    title: PaginationInfo.bookmark
                    type: string
                hasMore:
                    title: PaginationInfo.hasMore
                    type: boolean
            required:
                - bookmark
                - hasMore
            additionalProperties: false
            title: PaginationInfo
            description: |-
                Type for pagination information.
                @category Indexer
            type: object
        iUpdateHistory:
            properties:
                txHash:
                    title: iUpdateHistory.txHash
                    type: string
                block:
                    title: iUpdateHistory.block
                    anyOf:
                        - type: string
                        - type: number
                blockTimestamp:
                    title: iUpdateHistory.blockTimestamp
                    anyOf:
                        - type: string
                        - type: number
            required:
                - txHash
                - block
                - blockTimestamp
            additionalProperties: false
            title: iUpdateHistory
            description: '@category Interfaces'
            type: object
        ErrorDoc:
            properties:
                _docId:
                    title: ErrorDoc._docId
                    type: string
                _id:
                    title: ErrorDoc._id
                    type: string
                error:
                    title: ErrorDoc.error
                    type: string
                function:
                    title: ErrorDoc.function
                    type: string
            required:
                - _docId
                - error
                - function
            additionalProperties: false
            title: ErrorDoc
            description: '@category Indexer'
            type: object
        iNotificationPreferences:
            properties:
                email:
                    title: iNotificationPreferences.email
                    type: string
                emailVerification:
                    $ref: '#/components/schemas/iEmailVerificationStatus'
                    title: iNotificationPreferences.emailVerification
                preferences:
                    properties:
                        listActivity:
                            title: iNotificationPreferences.preferences.listActivity
                            type: boolean
                        transferActivity:
                            title: iNotificationPreferences.preferences.transferActivity
                            type: boolean
                        claimAlerts:
                            title: iNotificationPreferences.preferences.claimAlerts
                            type: boolean
                    additionalProperties: false
                    title: iNotificationPreferences.preferences
                    type: object
            additionalProperties: false
            title: iNotificationPreferences
            description: '@category Interfaces'
            type: object
        iEmailVerificationStatus:
            properties:
                verified:
                    title: iEmailVerificationStatus.verified
                    type: boolean
                token:
                    title: iEmailVerificationStatus.token
                    type: string
                expiry:
                    title: iEmailVerificationStatus.expiry
                    anyOf:
                        - type: string
                        - type: number
                antiPhishingCode:
                    title: iEmailVerificationStatus.antiPhishingCode
                    type: string
            additionalProperties: false
            title: iEmailVerificationStatus
            description: '@category Interfaces'
            type: object
        iActivityDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
            required:
                - _docId
                - timestamp
                - block
            additionalProperties: false
            title: iActivityDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iReviewDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                review:
                    title: iReviewDoc.review
                    description: The review text (max 2048 characters).
                    type: string
                stars:
                    title: iReviewDoc.stars
                    description: The number of stars given (1-5).
                    anyOf:
                        - type: string
                        - type: number
                from:
                    title: iReviewDoc.from
                    description: The cosmos address of the user who gave the review.
                    type: string
                collectionId:
                    title: iReviewDoc.collectionId
                    description: >-
                        The collection ID of the collection that was reviewed. Only
                        applicable to collection reviews.
                    anyOf:
                        - type: string
                        - type: number
                reviewedAddress:
                    title: iReviewDoc.reviewedAddress
                    description: >-
                        The cosmos address of the user who the review is for. Only
                        applicable to user reviews.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - review
                - stars
                - from
            additionalProperties: false
            title: iReviewDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iTransferActivityDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                to:
                    items:
                        title: iTransferActivityDoc.to.[]
                        type: string
                    title: iTransferActivityDoc.to
                    description: The list of cosmos addresses that were involved in the activity.
                    type: array
                from:
                    title: iTransferActivityDoc.from
                    description: The list of cosmos addresses that were involved in the activity.
                    type: string
                balances:
                    items: {}
                    title: iTransferActivityDoc.balances
                    description: The list of balances and badge IDs that were transferred.
                    type: array
                collectionId:
                    title: iTransferActivityDoc.collectionId
                    description: The collection ID of the collection that was transferred.
                    anyOf:
                        - type: string
                        - type: number
                memo:
                    title: iTransferActivityDoc.memo
                    description: The memo of the transfer.
                    type: string
                precalculateBalancesFromApproval:
                    title: iTransferActivityDoc.precalculateBalancesFromApproval
                    description: Which approval to use to precalculate the balances.
                prioritizedApprovals:
                    items: {}
                    title: iTransferActivityDoc.prioritizedApprovals
                    description: The prioritized approvals of the transfer.
                    type: array
                onlyCheckPrioritizedApprovals:
                    title: iTransferActivityDoc.onlyCheckPrioritizedApprovals
                    description: Whether or not to only check prioritized approvals.
                    type: boolean
                initiatedBy:
                    title: iTransferActivityDoc.initiatedBy
                    description: The cosmos address of the user who initiated the activity.
                    type: string
                txHash:
                    title: iTransferActivityDoc.txHash
                    description: The transaction hash of the activity.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - to
                - from
                - balances
                - collectionId
                - initiatedBy
            additionalProperties: false
            title: iTransferActivityDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iListActivityDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                listId:
                    title: iListActivityDoc.listId
                    description: The list ID of the list.
                    type: string
                addedToList:
                    title: iListActivityDoc.addedToList
                    description: >-
                        Whether or not the address is included in the list. Note that this
                        could mean added to an whitelist or a blacklist
                    type: boolean
                addresses:
                    items:
                        title: iListActivityDoc.addresses.[]
                        type: string
                    title: iListActivityDoc.addresses
                    description: The list of addresses that were added or removed from the list.
                    type: array
                txHash:
                    title: iListActivityDoc.txHash
                    description: The transaction hash of the activity.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - listId
            additionalProperties: false
            title: iListActivityDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iClaimAlertDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    title: iActivityDoc.timestamp
                    description: The timestamp  of the activity.
                    anyOf:
                        - type: string
                        - type: number
                block:
                    title: iActivityDoc.block
                    description: The block number of the activity.
                    anyOf:
                        - type: string
                        - type: number
                _notificationsHandled:
                    title: iActivityDoc._notificationsHandled
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                code:
                    title: iClaimAlertDoc.code
                    description: The code of the claim alert.
                    type: string
                cosmosAddresses:
                    items:
                        title: iClaimAlertDoc.cosmosAddresses.[]
                        type: string
                    title: iClaimAlertDoc.cosmosAddresses
                    description: The cosmos addresses of the users that have been alerted.
                    type: array
                collectionId:
                    title: iClaimAlertDoc.collectionId
                    description: The collection ID of the claim alert.
                    anyOf:
                        - type: string
                        - type: number
                message:
                    title: iClaimAlertDoc.message
                    description: The message of the claim alert.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - cosmosAddresses
                - collectionId
            additionalProperties: false
            title: iClaimAlertDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iCollectionDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                collectionId:
                    title: iCollectionDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                collectionMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.collectionMetadataTimeline
                    description: The collection metadata timeline
                    type: array
                badgeMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.badgeMetadataTimeline
                    description: The badge metadata timeline
                    type: array
                balancesType:
                    enum:
                        - Standard
                        - Off-Chain - Indexed
                        - Inherited
                        - Off-Chain - Non-Indexed
                    title: iCollectionDoc.balancesType
                    description: >-
                        The type of balances (i.e. "Standard", "Off-Chain - Indexed",
                        "Inherited, "Off-Chain - Non-Indexed")
                    type: string
                offChainBalancesMetadataTimeline:
                    items: {}
                    title: iCollectionDoc.offChainBalancesMetadataTimeline
                    description: The off-chain balances metadata timeline
                    type: array
                customDataTimeline:
                    items: {}
                    title: iCollectionDoc.customDataTimeline
                    description: The custom data timeline
                    type: array
                managerTimeline:
                    items: {}
                    title: iCollectionDoc.managerTimeline
                    description: The manager timeline
                    type: array
                collectionPermissions:
                    title: iCollectionDoc.collectionPermissions
                    description: The collection permissions
                collectionApprovals:
                    items: {}
                    title: iCollectionDoc.collectionApprovals
                    description: The collection approved transfers timeline
                    type: array
                standardsTimeline:
                    items: {}
                    title: iCollectionDoc.standardsTimeline
                    description: The standards timeline
                    type: array
                isArchivedTimeline:
                    items: {}
                    title: iCollectionDoc.isArchivedTimeline
                    description: The is archived timeline
                    type: array
                defaultBalances:
                    title: iCollectionDoc.defaultBalances
                    description: >-
                        The default balances for users who have not interacted with the
                        collection yet. Only used if collection has "Standard" balance type.
                createdBy:
                    title: iCollectionDoc.createdBy
                    description: The cosmos address of the user who created this collection
                    type: string
                createdBlock:
                    title: iCollectionDoc.createdBlock
                    description: The block number when this collection was created
                    anyOf:
                        - type: string
                        - type: number
                createdTimestamp:
                    title: iCollectionDoc.createdTimestamp
                    description: >-
                        The timestamp when this collection was created (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iCollectionDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iCollectionDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iCollectionDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iCollectionDoc.updateHistory.[]
                        type: object
                    title: iCollectionDoc.updateHistory
                    description: The update history of this collection
                    type: array
                aliasAddress:
                    title: iCollectionDoc.aliasAddress
                    description: The alias cosmos address for the collection
                    type: string
            required:
                - _docId
                - collectionId
                - collectionMetadataTimeline
                - badgeMetadataTimeline
                - balancesType
                - offChainBalancesMetadataTimeline
                - customDataTimeline
                - managerTimeline
                - collectionPermissions
                - collectionApprovals
                - standardsTimeline
                - isArchivedTimeline
                - defaultBalances
                - createdBy
                - createdBlock
                - createdTimestamp
                - updateHistory
                - aliasAddress
            additionalProperties: false
            title: iCollectionDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iAccountDoc:
            properties:
                publicKey:
                    title: iAccountDoc.publicKey
                    description: The public key of the account
                    type: string
                accountNumber:
                    title: iAccountDoc.accountNumber
                    description: The account number of the account
                    anyOf:
                        - type: string
                        - type: number
                pubKeyType:
                    title: iAccountDoc.pubKeyType
                    description: The public key type of the account
                    type: string
                ethAddress:
                    title: iAccountDoc.ethAddress
                    description: The Eth address of the account
                    type: string
                btcAddress:
                    title: iAccountDoc.btcAddress
                    description: The Bitcoin address of the account
                    type: string
                sequence:
                    title: iAccountDoc.sequence
                    description: The sequence of the account
                    anyOf:
                        - type: string
                        - type: number
                balance:
                    title: iAccountDoc.balance
                    description: The balance of the account
            required:
                - publicKey
                - accountNumber
                - pubKeyType
                - ethAddress
                - btcAddress
            additionalProperties: false
            title: iAccountDoc
            description: '@category Interfaces'
            type: object
        iCustomLink:
            properties:
                title:
                    title: iCustomLink.title
                    type: string
                url:
                    title: iCustomLink.url
                    type: string
                image:
                    title: iCustomLink.image
                    type: string
            required:
                - title
                - url
                - image
            additionalProperties: false
            title: iCustomLink
            description: |-
                CustomLinks are custom links that can be added to a profile.
                @category Interfaces
            type: object
        iCustomPage:
            properties:
                title:
                    title: iCustomPage.title
                    type: string
                description:
                    title: iCustomPage.description
                    type: string
                items:
                    items: {}
                    title: iCustomPage.items
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            title: iCustomPage
            description: '@category Interfaces'
            type: object
        iCustomListPage:
            properties:
                title:
                    title: iCustomListPage.title
                    type: string
                description:
                    title: iCustomListPage.description
                    type: string
                items:
                    items:
                        title: iCustomListPage.items.[]
                        type: string
                    title: iCustomListPage.items
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            title: iCustomListPage
            description: >-
                CustomListPage is a custom list page that can be added to a profile. The
                items are valid list IDs.

                @category Interfaces
            type: object
        iProfileDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                fetchedProfile:
                    title: iProfileDoc.fetchedProfile
                    description: Whether we have already fetched the profile or not
                    type: boolean
                seenActivity:
                    title: iProfileDoc.seenActivity
                    description: >-
                        The timestamp of the last activity seen for this account
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                createdAt:
                    title: iProfileDoc.createdAt
                    description: >-
                        The timestamp of when this account was created (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                discord:
                    title: iProfileDoc.discord
                    description: The Discord username of the account
                    type: string
                twitter:
                    title: iProfileDoc.twitter
                    description: The Twitter username of the account
                    type: string
                github:
                    title: iProfileDoc.github
                    description: The GitHub username of the account
                    type: string
                telegram:
                    title: iProfileDoc.telegram
                    description: The Telegram username of the account
                    type: string
                readme:
                    title: iProfileDoc.readme
                    description: The readme of the account
                    type: string
                customLinks:
                    items:
                        $ref: '#/components/schemas/iCustomLink'
                        title: iProfileDoc.customLinks.[]
                    title: iProfileDoc.customLinks
                    description: The custom links of the account
                    type: array
                hiddenBadges:
                    items: {}
                    title: iProfileDoc.hiddenBadges
                    description: The hidden badges of the account
                    type: array
                hiddenLists:
                    items:
                        title: iProfileDoc.hiddenLists.[]
                        type: string
                    title: iProfileDoc.hiddenLists
                    description: The hidden lists of the account
                    type: array
                customPages:
                    properties:
                        badges:
                            items:
                                $ref: '#/components/schemas/iCustomPage'
                                title: iProfileDoc.customPages.badges.[]
                            title: iProfileDoc.customPages.badges
                            type: array
                        lists:
                            items:
                                $ref: '#/components/schemas/iCustomListPage'
                                title: iProfileDoc.customPages.lists.[]
                            title: iProfileDoc.customPages.lists
                            type: array
                    required:
                        - badges
                        - lists
                    additionalProperties: false
                    title: iProfileDoc.customPages
                    description: The custom pages of the account
                    type: object
                watchlists:
                    properties:
                        badges:
                            items:
                                $ref: '#/components/schemas/iCustomPage'
                                title: iProfileDoc.watchlists.badges.[]
                            title: iProfileDoc.watchlists.badges
                            type: array
                        lists:
                            items:
                                $ref: '#/components/schemas/iCustomListPage'
                                title: iProfileDoc.watchlists.lists.[]
                            title: iProfileDoc.watchlists.lists
                            type: array
                    required:
                        - badges
                        - lists
                    additionalProperties: false
                    title: iProfileDoc.watchlists
                    description: The watched lists of the account's portfolio
                    type: object
                profilePicUrl:
                    title: iProfileDoc.profilePicUrl
                    description: The profile picture URL of the account
                    type: string
                username:
                    title: iProfileDoc.username
                    description: The username of the account
                    type: string
                latestSignedInChain:
                    title: iProfileDoc.latestSignedInChain
                    description: The latest chain the user signed in with
                solAddress:
                    title: iProfileDoc.solAddress
                    description: >-
                        The Solana address of the profile, if applicable (bc we need it to
                        convert)
                    type: string
                notifications:
                    $ref: '#/components/schemas/iNotificationPreferences'
                    title: iProfileDoc.notifications
                    description: The notifications of the account
                approvedSignInMethods:
                    properties:
                        discord:
                            properties:
                                username:
                                    title: iProfileDoc.approvedSignInMethods.discord.username
                                    type: string
                                discriminator:
                                    title: iProfileDoc.approvedSignInMethods.discord.discriminator
                                    type: string
                                id:
                                    title: iProfileDoc.approvedSignInMethods.discord.id
                                    type: string
                            required:
                                - username
                                - id
                            additionalProperties: false
                            title: iProfileDoc.approvedSignInMethods.discord
                            type: object
                    additionalProperties: false
                    title: iProfileDoc.approvedSignInMethods
                    description: Approved ways to sign in (rather than Blockin)
                    type: object
            required:
                - _docId
            additionalProperties: false
            title: iProfileDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iQueueDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                uri:
                    title: iQueueDoc.uri
                    description: >-
                        The URI of the metadata to be fetched. If {id} is present, it will
                        be replaced with each individual ID in badgeIds
                    type: string
                collectionId:
                    title: iQueueDoc.collectionId
                    description: The collection ID of the metadata to be fetched
                    anyOf:
                        - type: string
                        - type: number
                loadBalanceId:
                    title: iQueueDoc.loadBalanceId
                    description: >-
                        The load balance ID of the metadata to be fetched. Only the node
                        with the same load balance ID will fetch this metadata
                    anyOf:
                        - type: string
                        - type: number
                refreshRequestTime:
                    title: iQueueDoc.refreshRequestTime
                    description: >-
                        The timestamp of when this metadata was requested to be refreshed
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                numRetries:
                    title: iQueueDoc.numRetries
                    description: >-
                        The number of times this metadata has been tried to be fetched but
                        failed
                    anyOf:
                        - type: string
                        - type: number
                lastFetchedAt:
                    title: iQueueDoc.lastFetchedAt
                    description: >-
                        The timestamp of when this metadata was last fetched (milliseconds
                        since epoch)
                    anyOf:
                        - type: string
                        - type: number
                error:
                    title: iQueueDoc.error
                    description: The error message if this metadata failed to be fetched
                    type: string
                deletedAt:
                    title: iQueueDoc.deletedAt
                    description: >-
                        The timestamp of when this document was deleted (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                nextFetchTime:
                    title: iQueueDoc.nextFetchTime
                    description: >-
                        The timestamp of when this document should be fetched next
                        (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                emailMessage:
                    title: iQueueDoc.emailMessage
                    type: string
                recipientAddress:
                    title: iQueueDoc.recipientAddress
                    type: string
                activityDocId:
                    title: iQueueDoc.activityDocId
                    type: string
                notificationType:
                    title: iQueueDoc.notificationType
                    type: string
            required:
                - _docId
                - uri
                - collectionId
                - loadBalanceId
                - refreshRequestTime
                - numRetries
            additionalProperties: false
            title: iQueueDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iIndexerStatus:
            properties:
                status:
                    title: iIndexerStatus.status
            required:
                - status
            additionalProperties: false
            title: iIndexerStatus
            description: '@category Interfaces'
            type: object
        iLatestBlockStatus:
            properties:
                height:
                    title: iLatestBlockStatus.height
                    description: The height of the latest block
                    anyOf:
                        - type: string
                        - type: number
                txIndex:
                    title: iLatestBlockStatus.txIndex
                    description: The transaction index of the latest block
                    anyOf:
                        - type: string
                        - type: number
                timestamp:
                    title: iLatestBlockStatus.timestamp
                    description: The timestamp of the latest block (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
            required:
                - height
                - txIndex
                - timestamp
            additionalProperties: false
            title: iLatestBlockStatus
            description: '@category Interfaces'
            type: object
        iStatusDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                block:
                    $ref: '#/components/schemas/iLatestBlockStatus'
                    title: iStatusDoc.block
                    description: The latest synced block status (i.e. height, txIndex, timestamp)
                nextCollectionId:
                    title: iStatusDoc.nextCollectionId
                    description: The next collection ID to be used
                    anyOf:
                        - type: string
                        - type: number
                gasPrice:
                    title: iStatusDoc.gasPrice
                    description: The current gas price based on the average of the lastXGasAmounts
                    type: number
                lastXGasAmounts:
                    items:
                        title: iStatusDoc.lastXGasAmounts.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iStatusDoc.lastXGasAmounts
                    description: The last X gas prices
                    type: array
                lastXGasLimits:
                    items:
                        title: iStatusDoc.lastXGasLimits.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iStatusDoc.lastXGasLimits
                    description: The last X gas limits
                    type: array
            required:
                - _docId
                - block
                - nextCollectionId
                - gasPrice
                - lastXGasAmounts
                - lastXGasLimits
            additionalProperties: false
            title: iStatusDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iAddressListEditKey:
            properties:
                key:
                    title: iAddressListEditKey.key
                    description: The key that can be used to edit the address list
                    type: string
                expirationDate:
                    title: iAddressListEditKey.expirationDate
                    description: The expiration date of the key (milliseconds since epoch)
                    anyOf:
                        - type: string
                        - type: number
                mustSignIn:
                    title: iAddressListEditKey.mustSignIn
                    description: True if the user can only add their signed in address to the list
                    type: boolean
            required:
                - key
                - expirationDate
            additionalProperties: false
            title: iAddressListEditKey
            description: '@category Interfaces'
            type: object
        iAddressListDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iAddressListDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iAddressListDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iAddressListDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iAddressListDoc.updateHistory.[]
                        type: object
                    title: iAddressListDoc.updateHistory
                    description: The update history of this list
                    type: array
                createdBlock:
                    title: iAddressListDoc.createdBlock
                    description: The block number when this list was created
                    anyOf:
                        - type: string
                        - type: number
                lastUpdated:
                    title: iAddressListDoc.lastUpdated
                    description: >-
                        The timestamp of when this list was last updated (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                nsfw:
                    properties:
                        reason:
                            title: iAddressListDoc.nsfw.reason
                            type: string
                    required:
                        - reason
                    additionalProperties: false
                    title: iAddressListDoc.nsfw
                    description: The NSFW reason if this list is NSFW
                    type: object
                reported:
                    properties:
                        reason:
                            title: iAddressListDoc.reported.reason
                            type: string
                    required:
                        - reason
                    additionalProperties: false
                    title: iAddressListDoc.reported
                    description: The reported reason if this list is reported
                    type: object
                private:
                    title: iAddressListDoc.private
                    description: True if this list is private and will not show up in search results
                    type: boolean
                viewableWithLink:
                    title: iAddressListDoc.viewableWithLink
                    description: True if this list is viewable if queried by the list ID directly
                    type: boolean
            required:
                - _docId
                - updateHistory
                - createdBlock
                - lastUpdated
            additionalProperties: false
            title: iAddressListDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iBalanceDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                collectionId:
                    title: iBalanceDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                cosmosAddress:
                    title: iBalanceDoc.cosmosAddress
                    description: The Cosmos address of the user
                    type: string
                onChain:
                    title: iBalanceDoc.onChain
                    description: True if the balances are on-chain
                    type: boolean
                uri:
                    title: iBalanceDoc.uri
                    description: The URI of the off-chain balances
                    type: string
                fetchedAt:
                    title: iBalanceDoc.fetchedAt
                    description: >-
                        The timestamp of when the off-chain balances were fetched
                        (milliseconds since epoch). For BitBadges indexer, we only populate
                        this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                fetchedAtBlock:
                    title: iBalanceDoc.fetchedAtBlock
                    description: >-
                        The block number of when the off-chain balances were fetched. For
                        BitBadges indexer, we only populate this for Mint and Total docs.
                    anyOf:
                        - type: string
                        - type: number
                isPermanent:
                    title: iBalanceDoc.isPermanent
                    description: True if the off-chain balances are using permanent storage
                    type: boolean
                contentHash:
                    title: iBalanceDoc.contentHash
                    description: The content hash of the off-chain balances
                    type: string
                updateHistory:
                    items:
                        properties:
                            txHash:
                                title: iBalanceDoc.updateHistory.[].txHash
                                type: string
                            block:
                                title: iBalanceDoc.updateHistory.[].block
                                anyOf:
                                    - type: string
                                    - type: number
                            blockTimestamp:
                                title: iBalanceDoc.updateHistory.[].blockTimestamp
                                anyOf:
                                    - type: string
                                    - type: number
                        required:
                            - txHash
                            - block
                            - blockTimestamp
                        additionalProperties: false
                        title: iBalanceDoc.updateHistory.[]
                        type: object
                    title: iBalanceDoc.updateHistory
                    description: The update history of this balance
                    type: array
            required:
                - _docId
                - collectionId
                - cosmosAddress
                - onChain
                - updateHistory
            additionalProperties: false
            title: iBalanceDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        ClaimIntegrationPluginType:
            enum:
                - password
                - numUses
                - greaterThanXBADGEBalance
                - discord
                - codes
                - twitter
                - transferTimes
                - requiresProofOfAddress
                - whitelist
                - mustOwnBadges
                - api
            title: ClaimIntegrationPluginType
            type: string
        JsonBodyInputWithValue:
            properties:
                key:
                    title: JsonBodyInputWithValue.key
                    type: string
                label:
                    title: JsonBodyInputWithValue.label
                    type: string
                type:
                    enum:
                        - date
                        - url
                    title: JsonBodyInputWithValue.type
                    type: string
                value:
                    title: JsonBodyInputWithValue.value
                    anyOf:
                        - type: string
                        - type: number
                        - type: boolean
            required:
                - key
                - label
                - value
            additionalProperties: false
            title: JsonBodyInputWithValue
            type: object
        JsonBodyInputSchema:
            properties:
                key:
                    title: JsonBodyInputSchema.key
                    type: string
                label:
                    title: JsonBodyInputSchema.label
                    type: string
                type:
                    enum:
                        - date
                        - url
                        - string
                        - number
                        - boolean
                    title: JsonBodyInputSchema.type
                    type: string
                helper:
                    title: JsonBodyInputSchema.helper
                    type: string
            required:
                - key
                - label
                - type
            additionalProperties: false
            title: JsonBodyInputSchema
            type: object
        ClaimApiCallInfo:
            properties:
                uri:
                    title: ClaimApiCallInfo.uri
                    type: string
                name:
                    title: ClaimApiCallInfo.name
                    type: string
                description:
                    title: ClaimApiCallInfo.description
                    type: string
                passDiscord:
                    title: ClaimApiCallInfo.passDiscord
                    type: boolean
                passTwitter:
                    title: ClaimApiCallInfo.passTwitter
                    type: boolean
                bodyParams:
                    title: ClaimApiCallInfo.bodyParams
                    type: object
                userInputsSchema:
                    items:
                        $ref: '#/components/schemas/JsonBodyInputSchema'
                    title: ClaimApiCallInfo.userInputsSchema
                    type: array
            required:
                - uri
                - name
                - userInputsSchema
            additionalProperties: false
            title: ClaimApiCallInfo
            type: object
        iClaimBuilderDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                cid:
                    title: iClaimBuilderDoc.cid
                    description: The CID of the password document
                    type: string
                createdBy:
                    title: iClaimBuilderDoc.createdBy
                    description: The cosmos address of the user who created this password
                    type: string
                docClaimed:
                    title: iClaimBuilderDoc.docClaimed
                    description: True if the password document is claimed by the collection
                    type: boolean
                collectionId:
                    title: iClaimBuilderDoc.collectionId
                    description: The collection ID of the password document
                    anyOf:
                        - type: string
                        - type: number
                plugins:
                    items: {}
                    title: iClaimBuilderDoc.plugins
                    description: Dynamic checks to run in the form of plugins
                    type: array
                manualDistribution:
                    title: iClaimBuilderDoc.manualDistribution
                    description: >-
                        If true, the claim codes are to be distributed manually. This doc
                        will only be used for storage purposes.
                    type: boolean
                state:
                    additionalProperties: {}
                    title: iClaimBuilderDoc.state
                    description: The current state of each plugin
                    type: object
                action:
                    properties:
                        codes:
                            items:
                                title: iClaimBuilderDoc.action.codes.[]
                                type: string
                            title: iClaimBuilderDoc.action.codes
                            type: array
                        seedCode:
                            title: iClaimBuilderDoc.action.seedCode
                            type: string
                        balancesToSet:
                            title: iClaimBuilderDoc.action.balancesToSet
                        listId:
                            title: iClaimBuilderDoc.action.listId
                            type: string
                    additionalProperties: false
                    title: iClaimBuilderDoc.action
                    description: Details for the action to perform if the criteria is correct
                    type: object
            required:
                - _docId
                - cid
                - createdBy
                - docClaimed
                - collectionId
                - plugins
                - state
                - action
            additionalProperties: false
            title: iClaimBuilderDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iApprovalTrackerDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                numTransfers:
                    title: iApprovalTrackerDoc.numTransfers
                    description: The number of transfers. Is an incrementing tally.
                    anyOf:
                        - type: string
                        - type: number
                amounts:
                    items: {}
                    title: iApprovalTrackerDoc.amounts
                    description: A tally of the amounts transferred for this approval.
                    type: array
            required:
                - _docId
                - numTransfers
                - amounts
            additionalProperties: false
            title: iApprovalTrackerDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iChallengeTrackerIdDetails:
            properties:
                collectionId:
                    title: iChallengeTrackerIdDetails.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iChallengeTrackerIdDetails.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iChallengeTrackerIdDetails.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iChallengeTrackerIdDetails.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
            required:
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
            additionalProperties: false
            title: iChallengeTrackerIdDetails
            description: '@category Interfaces'
            type: object
        iMerkleChallengeDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                collectionId:
                    title: iMerkleChallengeDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iMerkleChallengeDoc.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iMerkleChallengeDoc.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iMerkleChallengeDoc.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
                usedLeafIndices:
                    items:
                        title: iMerkleChallengeDoc.usedLeafIndices.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iMerkleChallengeDoc.usedLeafIndices
                    description: >-
                        The used leaf indices for each challenge. A leaf index is the leaf
                        location in the bottommost layer of the Merkle tree
                    type: array
            required:
                - _docId
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
                - usedLeafIndices
            additionalProperties: false
            title: iMerkleChallengeDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iMerkleChallengeIdDetails:
            properties:
                collectionId:
                    title: iMerkleChallengeIdDetails.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                challengeId:
                    title: iMerkleChallengeIdDetails.challengeId
                    description: The challenge ID
                    type: string
                challengeLevel:
                    enum:
                        - collection
                        - incoming
                        - outgoing
                        - ''
                    title: iMerkleChallengeIdDetails.challengeLevel
                    description: The challenge level (i.e. "collection", "incoming", "outgoing")
                    type: string
                approverAddress:
                    title: iMerkleChallengeIdDetails.approverAddress
                    description: The approver address (leave blank if challengeLevel = "collection")
                    type: string
                usedLeafIndices:
                    items:
                        title: iMerkleChallengeIdDetails.usedLeafIndices.[]
                        anyOf:
                            - type: string
                            - type: number
                    title: iMerkleChallengeIdDetails.usedLeafIndices
                    description: >-
                        The used leaf indices for each challenge. A leaf index is the leaf
                        location in the bottommost layer of the Merkle tree
                    type: array
            required:
                - collectionId
                - challengeId
                - challengeLevel
                - approverAddress
                - usedLeafIndices
            additionalProperties: false
            title: iMerkleChallengeIdDetails
            description: '@category Interfaces'
            type: object
        iFetchDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                content:
                    $ref: '#/components/schemas/iMetadata'
                    title: iFetchDoc.content
                    description: >-
                        The content of the fetch document. Note that we store balances in
                        BALANCES_DB and not here to avoid double storage.
                fetchedAt:
                    title: iFetchDoc.fetchedAt
                    description: The time the document was fetched
                    anyOf:
                        - type: string
                        - type: number
                fetchedAtBlock:
                    title: iFetchDoc.fetchedAtBlock
                    description: The block the document was fetched
                    anyOf:
                        - type: string
                        - type: number
                db:
                    enum:
                        - ApprovalInfo
                        - Metadata
                        - Balances
                    title: iFetchDoc.db
                    description: The type of content fetched. This is used for querying purposes
                    type: string
                isPermanent:
                    title: iFetchDoc.isPermanent
                    description: >-
                        True if the document is permanent (i.e. fetched from a permanent URI
                        like IPFS)
                    type: boolean
            required:
                - _docId
                - fetchedAt
                - fetchedAtBlock
                - db
                - isPermanent
            additionalProperties: false
            title: iFetchDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iRefreshDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                collectionId:
                    title: iRefreshDoc.collectionId
                    description: The collection ID
                    anyOf:
                        - type: string
                        - type: number
                refreshRequestTime:
                    title: iRefreshDoc.refreshRequestTime
                    description: The time the refresh was requested (Unix timestamp in milliseconds)
                    anyOf:
                        - type: string
                        - type: number
            required:
                - _docId
                - collectionId
                - refreshRequestTime
            additionalProperties: false
            title: iRefreshDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iAirdropDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                airdropped:
                    title: iAirdropDoc.airdropped
                    description: True if the airdrop has been completed
                    type: boolean
                timestamp:
                    title: iAirdropDoc.timestamp
                    description: >-
                        The timestamp of when the airdrop was completed (milliseconds since
                        epoch)
                    anyOf:
                        - type: string
                        - type: number
                hash:
                    title: iAirdropDoc.hash
                    description: The hash of the airdrop transaction
                    type: string
            required:
                - _docId
                - airdropped
                - timestamp
            additionalProperties: false
            title: iAirdropDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iIPFSTotalsDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                bytesUploaded:
                    title: iIPFSTotalsDoc.bytesUploaded
                    description: The total bytes uploaded
                    anyOf:
                        - type: string
                        - type: number
            required:
                - _docId
                - bytesUploaded
            additionalProperties: false
            title: iIPFSTotalsDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iComplianceDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                badges:
                    properties:
                        nsfw:
                            items: {}
                            title: iComplianceDoc.badges.nsfw
                            type: array
                        reported:
                            items: {}
                            title: iComplianceDoc.badges.reported
                            type: array
                    required:
                        - nsfw
                        - reported
                    additionalProperties: false
                    title: iComplianceDoc.badges
                    type: object
                addressLists:
                    properties:
                        nsfw:
                            items:
                                properties:
                                    listId:
                                        title: iComplianceDoc.addressLists.nsfw.[].listId
                                        type: string
                                    reason:
                                        title: iComplianceDoc.addressLists.nsfw.[].reason
                                        type: string
                                required:
                                    - listId
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.addressLists.nsfw.[]
                                type: object
                            title: iComplianceDoc.addressLists.nsfw
                            type: array
                        reported:
                            items:
                                properties:
                                    listId:
                                        title: iComplianceDoc.addressLists.reported.[].listId
                                        type: string
                                    reason:
                                        title: iComplianceDoc.addressLists.reported.[].reason
                                        type: string
                                required:
                                    - listId
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.addressLists.reported.[]
                                type: object
                            title: iComplianceDoc.addressLists.reported
                            type: array
                    required:
                        - nsfw
                        - reported
                    additionalProperties: false
                    title: iComplianceDoc.addressLists
                    type: object
                accounts:
                    properties:
                        nsfw:
                            items:
                                properties:
                                    cosmosAddress:
                                        title: iComplianceDoc.accounts.nsfw.[].cosmosAddress
                                        type: string
                                    reason:
                                        title: iComplianceDoc.accounts.nsfw.[].reason
                                        type: string
                                required:
                                    - cosmosAddress
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.accounts.nsfw.[]
                                type: object
                            title: iComplianceDoc.accounts.nsfw
                            type: array
                        reported:
                            items:
                                properties:
                                    cosmosAddress:
                                        title: iComplianceDoc.accounts.reported.[].cosmosAddress
                                        type: string
                                    reason:
                                        title: iComplianceDoc.accounts.reported.[].reason
                                        type: string
                                required:
                                    - cosmosAddress
                                    - reason
                                additionalProperties: false
                                title: iComplianceDoc.accounts.reported.[]
                                type: object
                            title: iComplianceDoc.accounts.reported
                            type: array
                    required:
                        - nsfw
                        - reported
                    additionalProperties: false
                    title: iComplianceDoc.accounts
                    type: object
            required:
                - _docId
                - badges
                - addressLists
                - accounts
            additionalProperties: false
            title: iComplianceDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iBlockinAuthSignatureDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                signature:
                    title: iBlockinAuthSignatureDoc.signature
                    type: string
                name:
                    title: iBlockinAuthSignatureDoc.name
                    type: string
                description:
                    title: iBlockinAuthSignatureDoc.description
                    type: string
                image:
                    title: iBlockinAuthSignatureDoc.image
                    type: string
                cosmosAddress:
                    title: iBlockinAuthSignatureDoc.cosmosAddress
                    type: string
                params:
                    title: iBlockinAuthSignatureDoc.params
                createdAt:
                    title: iBlockinAuthSignatureDoc.createdAt
                    anyOf:
                        - type: string
                        - type: number
                deletedAt:
                    title: iBlockinAuthSignatureDoc.deletedAt
                    anyOf:
                        - type: string
                        - type: number
            required:
                - _docId
                - signature
                - name
                - description
                - image
                - cosmosAddress
                - params
                - createdAt
            additionalProperties: false
            title: iBlockinAuthSignatureDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iFollowDetailsDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                cosmosAddress:
                    title: iFollowDetailsDoc.cosmosAddress
                    description: The Cosmos address of the user
                    type: string
                followingCount:
                    title: iFollowDetailsDoc.followingCount
                    description: The number of users that the user is following
                    anyOf:
                        - type: string
                        - type: number
                followersCount:
                    title: iFollowDetailsDoc.followersCount
                    description: The number of users that are following the user
                    anyOf:
                        - type: string
                        - type: number
                followers:
                    items:
                        title: iFollowDetailsDoc.followers.[]
                        type: string
                    title: iFollowDetailsDoc.followers
                    description: The followers of the user
                    type: array
                following:
                    items:
                        title: iFollowDetailsDoc.following.[]
                        type: string
                    title: iFollowDetailsDoc.following
                    description: The following of the user
                    type: array
                followingCollectionId:
                    title: iFollowDetailsDoc.followingCollectionId
                    description: The collection ID of the following collection
                    anyOf:
                        - type: string
                        - type: number
            required:
                - _docId
                - cosmosAddress
                - followingCount
                - followersCount
                - followers
                - following
                - followingCollectionId
            additionalProperties: false
            title: iFollowDetailsDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iProtocolDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
            required:
                - _docId
            additionalProperties: false
            title: iProtocolDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iUserProtocolCollectionsDoc:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
                protocols:
                    additionalProperties:
                        anyOf:
                            - type: string
                            - type: number
                    title: iUserProtocolCollectionsDoc.protocols
                    type: object
            required:
                - _docId
                - protocols
            additionalProperties: false
            title: iUserProtocolCollectionsDoc, Doc
            description: |-
                @category Interfaces
                Fields for the MongoDB database document
                @category Indexer
            type: object
        iBadgeMetadataDetails:
            properties:
                metadataId:
                    title: iBadgeMetadataDetails.metadataId
                    description: >-
                        The metadata ID for the fetched URI. Metadata IDs map an ID to each
                        unique URI. See BitBadges Docs for more information.
                    anyOf:
                        - type: string
                        - type: number
                badgeIds:
                    items: {}
                    title: iBadgeMetadataDetails.badgeIds
                    description: The badge IDs that correspond to the metadata
                    type: array
                metadata:
                    $ref: '#/components/schemas/iMetadata'
                    title: iBadgeMetadataDetails.metadata
                    description: The metadata fetched by the URI
                uri:
                    title: iBadgeMetadataDetails.uri
                    description: The URI that the metadata was fetched from
                    type: string
                customData:
                    title: iBadgeMetadataDetails.customData
                    description: Custom data
                    type: string
                toUpdate:
                    title: iBadgeMetadataDetails.toUpdate
                    description: >-
                        Flag to denote if the metadata is new and should be updated. Used
                        internally.
                    type: boolean
            required:
                - badgeIds
                - metadata
            additionalProperties: false
            title: iBadgeMetadataDetails
            description: >-
                To keep track of metadata for badges and load it dynamically, we store
                it in an array: BadgeMetadataDetails[].


                The values are { metadata, uri, badgeIds, metadataId } where this object
                represents the metadata fetched by a uri or metadataId

                which correspond to the badgeIds.


                Keeping track of metadata in this way allows us to load metadata
                dynamically and only when needed.

                However, it does get confusing when we need to update this array. This
                file contains the logic

                for updating the metadata in an efficient way.


                updateBadgeMetadata - updates the metadata array to include the given
                metadata and badgeIds fetched from the given uri. Replaces existing
                metadata for badgeIds, if any.

                getMetadataForBadgeId - returns just the metadata for a given badgeId

                getMetadataddDetailsForBadgeId - returns the { metadata, uri, badgeIds,
                metadata } object for a given badgeId


                setMetadataPropertyForAll - sets a specific (key, value) pair for all
                metadata entries in the array
            type: object
        iMetadata:
            properties:
                name:
                    title: iMetadata.name
                    description: The name of the badge or badge collection.
                    type: string
                description:
                    title: iMetadata.description
                    description: The description of the badge or badge collection.
                    type: string
                image:
                    title: iMetadata.image
                    description: The image of the badge or badge collection.
                    type: string
                video:
                    title: iMetadata.video
                    description: >-
                        The video of the badge or badge collection. If a standard video is
                        used, this should be a link to the video. We will use image as the
                        poster image. If a youtube video is used, we embed it as an iframe.
                    type: string
                creator:
                    title: iMetadata.creator
                    description: The creator of the badge or badge collection.
                    type: string
                color:
                    title: iMetadata.color
                    description: The color of the badge or badge collection.
                    type: string
                category:
                    title: iMetadata.category
                    description: >-
                        The category of the badge or badge collection (e.g. "Education",
                        "Attendance").
                    type: string
                externalUrl:
                    title: iMetadata.externalUrl
                    description: The external URL of the badge or badge collection.
                    type: string
                tags:
                    items:
                        title: iMetadata.tags.[]
                        type: string
                    title: iMetadata.tags
                    description: The tags of the badge or badge collection
                    type: array
                socials:
                    additionalProperties:
                        type: string
                    title: iMetadata.socials
                    description: The socials of the badge or badge collection
                    type: object
                offChainTransferabilityInfo:
                    properties:
                        host:
                            title: iMetadata.offChainTransferabilityInfo.host
                            type: string
                        assignMethod:
                            title: iMetadata.offChainTransferabilityInfo.assignMethod
                            type: string
                    required:
                        - host
                        - assignMethod
                    additionalProperties: false
                    title: iMetadata.offChainTransferabilityInfo
                    description: The off-chain transferability info of the badge or badge collection
                    type: object
                attributes:
                    items:
                        properties:
                            type:
                                enum:
                                    - date
                                    - url
                                title: iMetadata.attributes.[].type
                                type: string
                            name:
                                title: iMetadata.attributes.[].name
                                type: string
                            value:
                                title: iMetadata.attributes.[].value
                                anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                        required:
                            - name
                            - value
                        additionalProperties: false
                        title: iMetadata.attributes.[]
                        type: object
                    title: iMetadata.attributes
                    description: The attributes of the badge or badge collection
                    type: array
                fetchedAtBlock:
                    title: iMetadata.fetchedAtBlock
                    description: The block the metadata was fetched at.
                    anyOf:
                        - type: string
                        - type: number
                fetchedAt:
                    title: iMetadata.fetchedAt
                    description: The time the metadata was fetched.
                    anyOf:
                        - type: string
                        - type: number
                _isUpdating:
                    title: iMetadata._isUpdating
                    description: Whether the metadata is currently being updated.
                    type: boolean
            required:
                - name
                - description
                - image
            additionalProperties: false
            title: iMetadata
            description: '@category Interfaces'
            type: object
        iBitBadgesAddressList:
            properties:
                _docId:
                    title: Doc._docId
                    description: A unique stringified document ID
                    type: string
                _id:
                    title: Doc._id
                    description: A uniuqe document ID (Mongo DB ObjectID)
                    type: string
[...]
