openapi: '3.1.0'
info:
  title: BitBadges API
  version: '0.1'
servers:
  - url: https://api.bitbadges.io/api/v0
paths:
  /status:
    post:
      operationId: getStatus
      summary: Get Status
      description: |
        Gets the current status details about the blockchain / indexer (gas, block height, etc).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
          description: Returns the current status of the blockchain / indexer

        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /search/{searchValue}:
    post:
      operationId: searchByValue
      summary: Search
      description: |
        Searches for collections, badges, accounts, and address lists based on the provided search value.
      parameters:
        - name: searchValue
          in: path
          description: The value to search for.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSearchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/batch:
    post:
      operationId: getCollectionsBatch
      summary: Get Collections
      description: Retrieves badge collections and associated details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionBatchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionBatchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /collection/{collectionId}/{badgeId}/owners:
    post:
      operationId: getOwnersForBadge
      summary: Get Specific Badge Owners
      description: Retrieves the owners for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The numeric collection ID.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The numeric badge ID to retrieve owners for.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOwnersForBadgeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetOwnersForBadgeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/balance/{cosmosAddress}:
    post:
      operationId: getBadgeBalanceByAddress
      summary: Get Balance by Address
      description: Retrieves the balance of a specific collection for a specific address.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: cosmosAddress
          in: path
          description: The Cosmos address for which the badge balance is to be retrieved.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeBalanceByAddressRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeBalanceByAddressRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/{badgeId}/activity:
    post:
      operationId: getBadgeActivity
      summary: Retrieve activity for a badge
      description: Retrieves the activity for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The ID of the badge for which activity is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeActivityRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeActivityRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/refresh:
    post:
      operationId: refreshMetadata
      summary: Trigger metadata refresh for a collection
      description: |
        Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.
        This will refetch any details for the collection (such as metadata, balances, approval details, etc). Note it will reject if recently refreshed.
        Uses a cooldown of 5 minutes.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection to trigger metadata refresh.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshMetadataRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshMetadataRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /claims/{claimId}/{cosmosAddress}:
    post:
      operationId: checkAndCompleteClaim
      summary: Check and complete claim
      description: |
        Completes a claim for a user. This will check if the claim is valid and that all criteria is satisfied. If so, we perform the claim action.
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAndCompleteClaimRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckAndCompleteClaimRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /deleteReview/{reviewId}:
    post:
      operationId: deleteReview
      summary: Delete a review
      description: Deletes a review.
      parameters:
        - name: reviewId
          in: path
          description: The ID of the review to be deleted.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReviewRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteReviewRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /collection/{collectionId}/addReview:
    post:
      operationId: addReviewForCollection
      summary: Add a review for a collection
      description: Adds a new review for a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection for which the review is being added.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /user/batch:
    post:
      operationId: getAccounts
      summary: Get accounts and details
      description: Retrieves accounts and accompanying details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /user/{addressOrUsername}/addReview:
    post:
      operationId: addReviewForUser
      summary: Add a review for a user
      description: Adds a review for a user.
      parameters:
        - name: addressOrUsername
          in: path
          description: The address or username of the user for whom the review is being added.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForUserRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForUserRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /user/updateAccount:
    post:
      operationId: updateAccountInfo
      summary: Update user account information
      description: Updates the profile/account information for a user. Only the provided fields will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInfoRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAccountInfoRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /addBalancesToOffChainStorage:
    post:
      operationId: addBalancesToOffChainStorage
      summary: Add balance map to off-chain storage
      description: Adds a balance map to off-chain storage. Mode can either be 'ipfs' for storing on IPFS or 'centralized' for storing on DigitalOcean.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBalancesToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddBalancesToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /addMetadataToIpfs:
    post:
      operationId: addMetadataToIpfs
      summary: Add metadata to IPFS
      description: Adds metadata to IPFS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMetadataToIpfsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddMetadataToIpfsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /addApprovalDetailsToOffChainStorage:
    post:
      operationId: addApprovalDetailsToOffChainStorage
      summary: Add approval details to off-chain storage
      description: Adds approval details to off-chain storage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddApprovalDetailsToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddApprovalDetailsToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /auth/getChallenge:
    post:
      operationId: getSignInChallenge
      summary: Get Blockin sign-in challenge
      description: Gets the Blockin sign-in challenge to be signed for authentication. The returned blockinMessage is the message to be signed by the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignInChallengeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSignInChallengeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/verify:
    post:
      operationId: verifySignIn
      summary: Verify user sign-in
      description: Verifies the user-signed challenge and grants them a valid session if everything checks out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignInRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iVerifySignInRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/status:
    post:
      operationId: checkIfSignedIn
      summary: Check user sign-in status
      description: Checks if the user is signed in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSignInStatusRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckSignInStatusRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/logout:
    post:
      operationId: signOut
      summary: Sign out user
      description: Signs the user out.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSignOutSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /browse:
    post:
      operationId: getBrowseCollections
      summary: Get browse collections
      description: Gets details for a browse/explore page.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBrowseCollectionsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBrowseCollectionsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /broadcast:
    post:
      operationId: broadcastTx
      summary: Broadcast transaction
      description: Broadcasts a transaction to the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BroadcastTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iBroadcastTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /simulate:
    post:
      operationId: simulateTx
      summary: Simulate transaction
      description: Simulates a transaction on the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SimulateTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /metadata:
    post:
      operationId: fetchMetadataDirectly
      summary: Fetch metadata directly from IPFS
      description: Fetches arbitrary metadata directly from IPFS. This is useful for fetching metadata that is not stored on-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchMetadataDirectlyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFetchMetadataDirectlyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - frontendOnly: []
  /addressList/update:
    post:
      operationId: updateAddressLists
      summary: Update address lists
      description: Updatess address lists stored by BitBadges centralized servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userIsOwner: []
        - userSignedIn: []
  /addressList/create:
    post:
      operationId: createAddressLists
      summary: Creates address lists
      description: Creates address lists stored by BitBadges centralized servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userIsOwner: []
        - userSignedIn: []
  /addressList:
    post:
      operationId: getAddressLists
      summary: Get address lists
      description: Gets address lists. Can be on-chain or off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /addressList/delete:
    post:
      operationId: deleteAddressLists
      summary: Delete address lists
      description: Deletes address lists. Must be created off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userIsOwner: []
        - userSignedIn: []
  /authCode:
    post:
      operationId: getAuthCode
      summary: Get Blockin authentication code
      description: Gets a Blockin authentication code. This is used for signing in with Blockin at in-person events. Anyone with the signature is able to fetch the preimage message.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/create:
    post:
      operationId: createAuthCode
      summary: Create Blockin authentication code
      description: Creates a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/delete:
    post:
      operationId: deleteAuthCode
      summary: Delete Blockin authentication code
      description: Deletes a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /auth/verifyGeneric:
    post:
      operationId: verifySignInGeneric
      summary: Verify Blockin sign-in requests (generic)
      description: A generic route for verifying Blockin sign-in requests. Used as a helper if implementing Blockin on your own.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBlockinVerifyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenericBlockinVerifyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /sendClaimAlerts:
    post:
      operationId: sendClaimAlert
      summary: Sends claim alert notifications
      description: Sends claim alert notifications out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendClaimAlertsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSendClaimAlertsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /getFollowDetails:
    post:
      operationId: getFollowDetails
      summary: Gets follow details for a user
      description: Gets the follow details for a user with the BitBadges follow protocol.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFollowDetailsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetFollowDetailsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /getClaimAlerts:
    post:
      operationId: getClaimAlerts
      summary: Gets claim alerts for a collection
      description: Gets claim alerts for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimAlertsForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAlertsForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
        - userSignedIn: []
        - userIsManager: []
  /getRefreshStatus:
    post:
      operationId: getRefreshStatus
      summary: Gets the refresh status for a collection
      description: Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NumberType'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshStatusRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /maps:
    post:
      operationId: getMaps
      summary: Get maps
      description: Gets maps for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMapsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetMapsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret:
    post:
      operationId: getSecret
      summary: Get secret
      description: Gets a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/create:
    post:
      operationId: createSecret
      summary: Create secret
      description: Creates a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/update:
    post:
      operationId: updateSecret
      summary: Update secret
      description: Updates a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/delete:
    post:
      operationId: deleteSecret
      summary: Delete secret
      description: Deletes a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []

  /filterBadgesInCollection:
    post:
      operationId: filterBadgesInCollection
      summary: Filter badges in a collection based on multiple filter values
      description: Filter badges in a collection based on multiple filter values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterBadgesInCollectionRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFilterBadgesInCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /appleWalletPass:
    post:
      operationId: generateAppleWalletPass
      summary: Generate an Apple Wallet pass
      description: |
        Generate an Apple Wallet pass based on the provided request body. 
        ```tsx
         <a
              onClick={async () => {
                const res = await BitBadgesApi.generateAppleWalletPass({
                  name: authCode.name,
                  description: authCode.description,
                  signature: authCode.signature,
                  message: createChallenge(authCode.params)
                });
                const pass = Buffer.from(res.data);

                const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });
                const url = window.URL.createObjectURL(blob);
                if (url) {
                  const link = document.createElement('a');
                  link.href = url;
                  link.download = 'bitbadges.pkpass';
                  link.click();
                }
              }}>
              <img src="/images/add_to_apple_wallet.svg" style={{ width: 150 }} />
            </a>
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAppleWalletPassRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenerateAppleWalletPassRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /claims:
    post:
      operationId: getClaims
      summary: Retrieve claims
      description: Retrieve claims based on the provided request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
        - userMaybeSignedIn: []
components:
  responses:
    ErrorResponse:
      description: An error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestResponse:
      description: Bad Request - Invalid configuration or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedResponse:
      description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerErrorResponse:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Requires a BitBadges API key for requests
      x-type: string
    frontendOnly:
      type: apiKey
      in: header
      name: Origin
      description: Can only be called by the official BitBadges frontend. Not for developer use.
    userSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in with a valid session.
    userMaybeSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in for certain requests, but not all.
    userIsManager:
      type: http
      scheme: cookie
      description: User must be signed in and have manager permissions.
    userIsOwner:
      type: http
      scheme: cookie
      description: User must be signed in and have owner permissions.
  schemas:
    NumberType:
      anyOf:
        - type: string
        - type: number
      example: '1'
      description: String numbers are always returned to avoid precision loss. You may pass in request bodies as numbers or strings. See SDK docs for NumberType conversions.
    # -------------------------------------------------------------COPIED FROM JS SCRIPT-------------------------------------------------------------
    SupportedChain:
      enum:
        - Bitcoin
        - Ethereum
        - Cosmos
        - Solana
        - Unknown
      type: string
      description: ''
    AssetDetails:
      properties:
        chain:
          type: string
          description: ''
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: ''
        assetIds:
          items:
            anyOf:
              - type: string
                description: ''
              - $ref: '#/components/schemas/iUintRange'
                description: ''
            description: ''
          type: array
          description: ''
        ownershipTimes:
          items:
            $ref: '#/components/schemas/iUintRange'
            description: ''
          type: array
          description: ''
        mustOwnAmounts:
          $ref: '#/components/schemas/iUintRange'
          description: ''
        additionalCriteria:
          type: string
          description: ''
        description: ''
      required:
        - chain
        - collectionId
        - assetIds
        - ownershipTimes
        - mustOwnAmounts
      additionalProperties: false
      type: object
      description: ''
    AndGroup:
      properties:
        $and:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
            description: ''
          type: array
          description: ''
        description: ''
      required:
        - $and
      additionalProperties: false
      type: object
      description: ''
    OrGroup:
      properties:
        $or:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
            description: ''
          type: array
          description: ''
        description: ''
      required:
        - $or
      additionalProperties: false
      type: object
      description: ''
    AssetConditionGroup:
      anyOf:
        - $ref: '#/components/schemas/AndGroup'
          description: ''
        - $ref: '#/components/schemas/OrGroup'
          description: ''
        - $ref: '#/components/schemas/OwnershipRequirements'
          description: ''
      description: ''
    OwnershipRequirements:
      properties:
        assets:
          items:
            $ref: '#/components/schemas/AssetDetails'
            description: ''
          type: array
          description: ''
        options:
          properties:
            numMatchesForVerification:
              $ref: '#/components/schemas/NumberType'
              description: ''
            description: ''
          additionalProperties: false
          type: object
          description: ''
        description: ''
      required:
        - assets
      additionalProperties: false
      type: object
      description: ''
    ChallengeParams:
      properties:
        domain:
          type: string
          description: ''
        statement:
          type: string
          description: ''
        address:
          type: string
          description: ''
        uri:
          type: string
          description: ''
        nonce:
          type: string
          description: ''
        version:
          type: string
          description: ''
        chainId:
          type: string
          description: ''
        issuedAt:
          type: string
          description: ''
        expirationDate:
          type: string
          description: ''
        notBefore:
          type: string
          description: ''
        resources:
          items:
            type: string
            description: ''
          type: array
          description: ''
        assetOwnershipRequirements:
          $ref: '#/components/schemas/AssetConditionGroup'
          description: ''
        description: ''
      required:
        - domain
        - statement
        - address
        - uri
        - nonce
      additionalProperties: false
      type: object
      description: ''
    VerifyChallengeOptions:
      properties:
        expectedChallengeParams:
          properties:
            domain:
              type: string
              description: ''
            statement:
              type: string
              description: ''
            address:
              type: string
              description: ''
            uri:
              type: string
              description: ''
            nonce:
              type: string
              description: ''
            version:
              type: string
              description: ''
            chainId:
              type: string
              description: ''
            issuedAt:
              type: string
              description: ''
            expirationDate:
              type: string
              description: ''
            notBefore:
              type: string
              description: ''
            resources:
              items:
                type: string
                description: ''
              type: array
              description: ''
            assetOwnershipRequirements:
              $ref: '#/components/schemas/AssetConditionGroup'
              description: ''
            description: ''
          additionalProperties: false
          description: >-
            Optionally define the expected details to check. If the challenge
            was edited and the details

            do not match, the challenge will fail verification.
          type: object
        balancesSnapshot:
          description: >-
            For verification of assets, instead of dynamically fetching the
            assets, you can specify a snapshot of the assets.


            This is useful if you have a snapshot, balances will not change, or
            you are verifying in an offline manner.
          type: object
        skipTimestampVerification:
          description: >-
            If true, we do not check timestamps (expirationDate / notBefore).
            This is useful if you are verifying a challenge that is expected to
            be verified at a future time.
          type: boolean
        skipAssetVerification:
          description: >-
            If true, we do not check asset ownership. This is useful if you are
            verifying a challenge that is expected to be verified at a future
            time.
          type: boolean
        earliestIssuedAt:
          description: >-
            The earliest issued At ISO date string that is valid. For example,
            if you want to verify a challenge that was issued within the last
            minute, you can specify this to be 1 minute ago.
          type: string
        issuedAtTimeWindowMs:
          description: >-
            If set, we will verify the issuedAt is within this amount of ms ago
            (i.e. issuedAt >= Date.now() - issuedAtTimeWindowMs)
          type: number
        skipSignatureVerification:
          description: >-
            If true, we do not check the signature. You can pass in an undefined
            ChainDriver
          type: boolean
        description: ''
      additionalProperties: false
      type: object
      description: ''
    Doc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        description: ''
      required:
        - _docId
      additionalProperties: false
      type: object
      description: ''
    ErrorResponse:
      properties:
        error:
          description: >-
            Serialized error object for debugging purposes. Technical users can
            use this to debug issues.
        errorMessage:
          description: >-
            UX-friendly error message that can be displayed to the user. Always
            present if error.
          type: string
        unauthorized:
          description: Authentication error. Present if the user is not authenticated.
          type: boolean
        description: ''
      required:
        - errorMessage
      additionalProperties: false
      description: >-
        If an error occurs, the response will be an ErrorResponse.


        400 - Bad Request (e.g. invalid request body)

        401 - Unauthorized (e.g. invalid session cookie; must sign in with
        Blockin)

        500 - Internal Server Error
      type: object
    PaginationInfo:
      properties:
        bookmark:
          type: string
          description: ''
        hasMore:
          type: boolean
          description: ''
        description: ''
      required:
        - bookmark
        - hasMore
      additionalProperties: false
      description: Type for pagination information.
      type: object
    iUpdateHistory:
      properties:
        txHash:
          type: string
          description: ''
        block:
          $ref: '#/components/schemas/NumberType'
          description: ''
        blockTimestamp:
          $ref: '#/components/schemas/NumberType'
          description: ''
        timestamp:
          $ref: '#/components/schemas/NumberType'
          description: ''
        description: ''
      required:
        - txHash
        - block
        - blockTimestamp
        - timestamp
      additionalProperties: false
      type: object
      description: ''
    ErrorDoc:
      properties:
        _docId:
          type: string
          description: ''
        _id:
          type: string
          description: ''
        error:
          type: string
          description: ''
        function:
          type: string
          description: ''
        description: ''
      required:
        - _docId
        - error
        - function
      additionalProperties: false
      type: object
      description: ''
    iSocialConnections:
      properties:
        discord:
          properties:
            username:
              type: string
              description: ''
            id:
              type: string
              description: ''
            discriminator:
              type: string
              description: ''
            lastUpdated:
              $ref: '#/components/schemas/NumberType'
              description: ''
            description: ''
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
          description: ''
        twitter:
          properties:
            username:
              type: string
              description: ''
            id:
              type: string
              description: ''
            lastUpdated:
              $ref: '#/components/schemas/NumberType'
              description: ''
            description: ''
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
          description: ''
        google:
          properties:
            username:
              type: string
              description: ''
            id:
              type: string
              description: ''
            lastUpdated:
              $ref: '#/components/schemas/NumberType'
              description: ''
            description: ''
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
          description: ''
        github:
          properties:
            username:
              type: string
              description: ''
            id:
              type: string
              description: ''
            lastUpdated:
              $ref: '#/components/schemas/NumberType'
              description: ''
            description: ''
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
          description: ''
        description: ''
      additionalProperties: false
      type: object
      description: ''
    iNotificationPreferences:
      properties:
        email:
          type: string
          description: ''
        emailVerification:
          $ref: '#/components/schemas/iEmailVerificationStatus'
          description: ''
        preferences:
          properties:
            listActivity:
              type: boolean
              description: ''
            transferActivity:
              type: boolean
              description: ''
            claimAlerts:
              type: boolean
              description: ''
            description: ''
          additionalProperties: false
          type: object
          description: ''
        description: ''
      additionalProperties: false
      type: object
      description: ''
    iEmailVerificationStatus:
      properties:
        verified:
          description: Whether or not the email has been verified.
          type: boolean
        token:
          description: >-
            The email verification token. This is used for verification and
            unsubscription.
          type: string
        expiry:
          description: The expiry of the token for verification purposes.
          $ref: '#/components/schemas/NumberType'
        antiPhishingCode:
          description: >-
            A unique code that we will send with all emails to verify that
            BitBadges is the one sending the email.
          type: string
        description: ''
      additionalProperties: false
      type: object
      description: ''
    iActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity. UNIX milliseconds.
          $ref: '#/components/schemas/NumberType'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        description: ''
      required:
        - _docId
        - timestamp
        - block
      additionalProperties: false
      description: ''
      type: object
    iReviewDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity. UNIX milliseconds.
          $ref: '#/components/schemas/NumberType'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        review:
          description: The review text (max 2048 characters).
          type: string
        stars:
          description: The number of stars given (1-5).
          $ref: '#/components/schemas/NumberType'
        from:
          description: The Cosmos address of the user who gave the review.
          type: string
        collectionId:
          description: >-
            The collection ID of the collection that was reviewed. Only
            applicable to collection reviews.
          $ref: '#/components/schemas/NumberType'
        reviewedAddress:
          description: >-
            The Cosmos address of the user who the review is for. Only
            applicable to user reviews.
          type: string
        description: ''
      required:
        - _docId
        - timestamp
        - block
        - review
        - stars
        - from
      additionalProperties: false
      description: ''
      type: object
    iTransferActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity. UNIX milliseconds.
          $ref: '#/components/schemas/NumberType'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        to:
          items:
            type: string
            description: ''
          description: The list of recipients in Cosmos address format.
          type: array
        from:
          description: The sender's Cosmos address.
          type: string
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
            description: ''
          description: The list of balances and badge IDs that were transferred.
          type: array
        collectionId:
          description: The collection ID for the badges that was transferred.
          $ref: '#/components/schemas/NumberType'
        memo:
          description: The memo of the transfer.
          type: string
        precalculateBalancesFromApproval:
          $ref: '#/components/schemas/iApprovalIdentifierDetails'
          description: Which approval to use to precalculate the balances?
        prioritizedApprovals:
          items:
            $ref: '#/components/schemas/iApprovalIdentifierDetails'
            description: ''
          description: >-
            The prioritized approvals of the transfer. This is used to check
            certain approvals before others to ensure intended behavior.
          type: array
        onlyCheckPrioritizedApprovals:
          description: >-
            Whether or not to only check prioritized approvals? If false, we
            will still check all approvals but prioritize the prioritized
            approvals.
          type: boolean
        initiatedBy:
          description: >-
            The Cosmos address of the user who initiated the transfer
            transaction.
          type: string
        txHash:
          description: The transaction hash of the activity.
          type: string
        description: ''
      required:
        - _docId
        - timestamp
        - block
        - to
        - from
        - balances
        - collectionId
        - initiatedBy
      additionalProperties: false
      description: ''
      type: object
    iListActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity. UNIX milliseconds.
          $ref: '#/components/schemas/NumberType'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        listId:
          description: The list ID.
          type: string
        addedToList:
          description: Whether or not the address was added to the list or removed.
          type: boolean
        addresses:
          items:
            type: string
            description: ''
          description: The list of addresses that were added or removed from the list.
          type: array
        txHash:
          description: The transaction hash of the activity.
          type: string
        description: ''
      required:
        - _docId
        - timestamp
        - block
        - listId
      additionalProperties: false
      description: ''
      type: object
    iClaimAlertDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity. UNIX milliseconds.
          $ref: '#/components/schemas/NumberType'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        from:
          description: The sender
          type: string
        code:
          description: The code of the claim alert.
          type: string
        cosmosAddresses:
          items:
            type: string
            description: ''
          description: The cosmos addresses of the users that have been alerted.
          type: array
        collectionId:
          description: The collection ID of the claim alert.
          $ref: '#/components/schemas/NumberType'
        message:
          description: The message of the claim alert.
          type: string
        description: ''
      required:
        - _docId
        - timestamp
        - block
        - from
        - cosmosAddresses
        - collectionId
      additionalProperties: false
      description: ''
      type: object
    iCollectionDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        collectionId:
          description: The collection ID
          $ref: '#/components/schemas/NumberType'
        collectionMetadataTimeline:
          items:
            $ref: '#/components/schemas/iCollectionMetadataTimeline'
            description: ''
          description: The collection metadata timeline
          type: array
        badgeMetadataTimeline:
          items:
            $ref: '#/components/schemas/iBadgeMetadataTimeline'
            description: ''
          description: The badge metadata timeline
          type: array
        balancesType:
          enum:
            - Standard
            - Off-Chain - Indexed
            - Non-Public
            - Off-Chain - Non-Indexed
          description: >-
            The type of balances (i.e. "Standard", "Off-Chain - Indexed",
            "Non-Public, "Off-Chain - Non-Indexed")
          type: string
        offChainBalancesMetadataTimeline:
          items:
            $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
            description: ''
          description: The off-chain balances metadata timeline
          type: array
        customDataTimeline:
          items:
            $ref: '#/components/schemas/iCustomDataTimeline'
            description: ''
          description: The custom data timeline
          type: array
        managerTimeline:
          items:
            $ref: '#/components/schemas/iManagerTimeline'
            description: ''
          description: The manager timeline
          type: array
        collectionApprovals:
          items:
            $ref: '#/components/schemas/iCollectionApproval'
            description: ''
          description: The collection approved transfers timeline
          type: array
        standardsTimeline:
          items:
            $ref: '#/components/schemas/iStandardsTimeline'
            description: ''
          description: The standards timeline
          type: array
        isArchivedTimeline:
          items:
            $ref: '#/components/schemas/iIsArchivedTimeline'
            description: ''
          description: The is archived timeline
          type: array
        createdBy:
          description: The cosmos address of the user who created this collection
          type: string
        createdBlock:
          description: The block number when this collection was created
          $ref: '#/components/schemas/NumberType'
        createdTimestamp:
          description: >-
            The timestamp when this collection was created (milliseconds since
            epoch)
          $ref: '#/components/schemas/NumberType'
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
            description: ''
          description: The update history of this collection
          type: array
        aliasAddress:
          description: The alias cosmos address for the collection
          type: string
        description: ''
      required:
        - _docId
        - collectionId
        - collectionMetadataTimeline
        - badgeMetadataTimeline
        - balancesType
        - offChainBalancesMetadataTimeline
        - customDataTimeline
        - managerTimeline
        - collectionApprovals
        - standardsTimeline
        - isArchivedTimeline
        - createdBy
        - createdBlock
        - createdTimestamp
        - updateHistory
        - aliasAddress
      additionalProperties: false
      description: ''
      type: object
    iAccountDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        publicKey:
          description: The public key of the account
          type: string
        accountNumber:
          description: The account number of the account
          $ref: '#/components/schemas/NumberType'
        pubKeyType:
          description: The public key type of the account
          type: string
        cosmosAddress:
          description: The Cosmos address of the account
          type: string
        ethAddress:
          description: The Eth address of the account
          type: string
        solAddress:
          description: The Solana address of the account
          type: string
        btcAddress:
          description: The Bitcoin address of the account
          type: string
        sequence:
          description: The sequence of the account
          $ref: '#/components/schemas/NumberType'
        balance:
          $ref: '#/components/schemas/iCosmosCoin'
          description: The balance of the account
        description: ''
      required:
        - _docId
        - publicKey
        - accountNumber
        - pubKeyType
        - cosmosAddress
        - ethAddress
        - solAddress
        - btcAddress
      additionalProperties: false
      description: ''
      type: object
    iCustomLink:
      properties:
        url:
          type: string
          description: ''
        image:
          type: string
          description: ''
        description: ''
      required:
        - title
        - url
        - image
      additionalProperties: false
      description: CustomLinks are custom links that can be added to a profile.
      type: object
    iCustomPage:
      properties:
        description:
          type: string
          description: ''
        items:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
            description: ''
          type: array
          description: ''
      required:
        - title
        - description
        - items
      additionalProperties: false
      type: object
      description: ''
    iCustomListPage:
      properties:
        description:
          type: string
          description: ''
        items:
          items:
            type: string
            description: ''
          type: array
          description: ''
      required:
        - title
        - description
        - items
      additionalProperties: false
      description: >-
        CustomListPage is a custom list page that can be added to a profile. The
        items are valid list IDs.
      type: object
    iProfileDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        fetchedProfile:
          description: Whether we have already fetched the profile or not
          type: boolean
        seenActivity:
          description: >-
            The timestamp of the last activity seen for this account
            (milliseconds since epoch)
          $ref: '#/components/schemas/NumberType'
        createdAt:
          description: >-
            The timestamp of when this account was created (milliseconds since
            epoch)
          $ref: '#/components/schemas/NumberType'
        discord:
          description: The Discord username of the account
          type: string
        twitter:
          description: The Twitter username of the account
          type: string
        github:
          description: The GitHub username of the account
          type: string
        telegram:
          description: The Telegram username of the account
          type: string
        readme:
          description: The readme of the account
          type: string
        customLinks:
          items:
            $ref: '#/components/schemas/iCustomLink'
            description: ''
          description: The custom links of the account
          type: array
        hiddenBadges:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
            description: ''
          description: The hidden badges of the account
          type: array
        hiddenLists:
          items:
            type: string
            description: ''
          description: The hidden lists of the account
          type: array
        customPages:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
                description: ''
              type: array
              description: ''
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
                description: ''
              type: array
              description: ''
            description: ''
          required:
            - badges
            - lists
          additionalProperties: false
          description: The custom pages of the account
          type: object
        watchlists:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
                description: ''
              type: array
              description: ''
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
                description: ''
              type: array
              description: ''
            description: ''
          required:
            - badges
            - lists
          additionalProperties: false
          description: The watched lists of the account's portfolio
          type: object
        profilePicUrl:
          description: The profile picture URL of the account
          type: string
        username:
          description: The username of the account
          type: string
        latestSignedInChain:
          $ref: '#/components/schemas/SupportedChain'
          description: The latest chain the user signed in with
        solAddress:
          description: >-
            The Solana address of the profile, if applicable (bc we need it to
            convert)
          type: string
        notifications:
          $ref: '#/components/schemas/iNotificationPreferences'
          description: The notifications of the account
        socialConnections:
          $ref: '#/components/schemas/iSocialConnections'
          description: Social connections stored for the account
        approvedSignInMethods:
          properties:
            discord:
              properties:
                username:
                  type: string
                  description: ''
                discriminator:
                  type: string
                  description: ''
                id:
                  type: string
                  description: ''
                description: ''
              required:
                - username
                - id
              additionalProperties: false
              type: object
              description: ''
            description: ''
          additionalProperties: false
          description: Approved ways to sign in (rather than Blockin)
          type: object
        description: ''
      required:
        - _docId
      additionalProperties: false
      description: ''
      type: object
    iQueueDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        uri:
          description: >-
            The URI of the metadata to be fetched. If {id} is present, it will
            be replaced with each individual ID in badgeIds
          type: string
        collectionId:
          description: The collection ID of the metadata to be fetched
          $ref: '#/components/schemas/NumberType'
        loadBalanceId:
          description: >-
            The load balance ID of the metadata to be fetched. Only the node
            with the same load balance ID will fetch this metadata
          $ref: '#/components/schemas/NumberType'
        refreshRequestTime:
          description: >-
            The timestamp of when this metadata was requested to be refreshed
            (milliseconds since epoch)
          $ref: '#/components/schemas/NumberType'
        numRetries:
          description: >-
            The number of times this metadata has been tried to be fetched but
            failed
          $ref: '#/components/schemas/NumberType'
        lastFetchedAt:
          description: >-
            The timestamp of when this metadata was last fetched (milliseconds
            since epoch)
          $ref: '#/components/schemas/NumberType'
        error:
          description: The error message if this metadata failed to be fetched
          type: string
        deletedAt:
          description: >-
            The timestamp of when this document was deleted (milliseconds since
            epoch)
          $ref: '#/components/schemas/NumberType'
        nextFetchTime:
          description: >-
            The timestamp of when this document should be fetched next
            (milliseconds since epoch)
          $ref: '#/components/schemas/NumberType'
        emailMessage:
          type: string
          description: ''
        recipientAddress:
          type: string
          description: ''
        activityDocId:
          type: string
          description: ''
        notificationType:
          type: string
          description: ''
        description: ''
      required:
        - _docId
        - uri
        - collectionId
        - loadBalanceId
        - refreshRequestTime
        - numRetries
      additionalProperties: false
      description: ''
      type: object
    iIndexerStatus:
      properties:
        status:
          $ref: '#/components/schemas/iStatusDoc'
          description: ''
        description: ''
      required:
        - status
      additionalProperties: false
      type: object
      description: ''
    iLatestBlockStatus:
      properties:
        height:
          description: The height of the latest block
          $ref: '#/components/schemas/NumberType'
        txIndex:
          description: The transaction index of the latest block
          $ref: '#/components/schemas/NumberType'
        timestamp:
          description: The timestamp of the latest block (milliseconds since epoch)
          $ref: '#/components/schemas/NumberType'
        description: ''
      required:
        - height
        - txIndex
        - timestamp
      additionalProperties: false
      type: object
      description: ''
    iStatusDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        block:
          $ref: '#/components/schemas/iLatestBlockStatus'
          description: The latest synced block status (i.e. height, txIndex, timestamp)
        nextCollectionId:
          description: The next collection ID to be used
          $ref: '#/components/schemas/NumberType'
        gasPrice:
          description: The current gas price based on the average of the lastXGasAmounts
          type: number
        lastXGasAmounts:
          items:
            $ref: '#/components/schemas/NumberType'
            description: ''
          description: The last X gas prices
          type: array
        lastXGasLimits:
          items:
            $ref: '#/components/schemas/NumberType'
            description: ''
          description: The last X gas limits
          type: array
        description: ''
      required:
        - _docId
        - block
        - nextCollectionId
        - gasPrice
        - lastXGasAmounts
        - lastXGasLimits
      additionalProperties: false
      description: ''
      type: object
    iAddressListEditKey:
      properties:
        key:
          description: The key that can be used to edit the address list
          type: string
        expirationDate:
          description: The expiration date of the key (milliseconds since epoch)
          $ref: '#/components/schemas/NumberType'
        mustSignIn:
          description: True if the user can only add their signed in address to the list
          type: boolean
        description: ''
      required:
        - key
        - expirationDate
      additionalProperties: false
      type: object
      description: ''
    iAddressListDoc:
      properties:
        listId:
          description: The ID of the address list.
          type: string
        addresses:
          items:
            type: string
            description: ''
          description: The addresses of the address list.
          type: array
        whitelist:
          description: >-
            Whether or not to include ONLY the addresses or include all EXCEPT
            the addresses.
          type: boolean
        uri:
          description: The URI where to fetch the address list metadata from.
          type: string
        customData:
          description: Arbitrary custom data that can be stored on-chain.
          type: string
        createdBy:
          description: The address that created the address list.
          type: string
        aliasAddress:
          description: The alias cosmos address of the address list.
          type: string
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
            description: ''
          description: The update history of this list
          type: array
        createdBlock:
          description: The block number when this list was created
          $ref: '#/components/schemas/NumberType'
        lastUpdated:
          description: >-
            The timestamp of when this list was last updated (milliseconds since
            epoch)
          $ref: '#/components/schemas/NumberType'
        nsfw:
          properties:
            reason:
              type: string
              description: ''
            description: ''
          required:
            - reason
          additionalProperties: false
          description: The NSFW reason if this list is NSFW
          type: object
        reported:
          properties:
            reason:
              type: string
              description: ''
            description: ''
          required:
            - reason
          additionalProperties: false
          description: The reported reason if this list is reported
          type: object
        private:
          description: True if this list is private and will not show up in search results
          type: boolean
        viewableWithLink:
          description: True if this list is viewable if queried by the list ID directly
          type: boolean
        description: ''
      required:
        - listId
        - addresses
        - whitelist
        - uri
        - customData
        - _docId
        - updateHistory
        - createdBlock
        - lastUpdated
      additionalProperties: false
      description: ''
      type: object
    iBalanceDoc:
      properties:
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
            description: ''
          description: The user's balances.
          type: array
        incomingApprovals:
          items:
            $ref: '#/components/schemas/iUserIncomingApproval'
            description: ''
          description: The user's incoming approvals.
          type: array
        outgoingApprovals:
          items:
            $ref: '#/components/schemas/iUserOutgoingApproval'
            description: ''
          description: The user's outgoing approvals.
          type: array
        userPermissions:
          $ref: '#/components/schemas/iUserPermissions'
          description: The user's permissions.
        autoApproveSelfInitiatedOutgoingTransfers:
          description: >-
            Whether the user's self-initiated outgoing transfers are
            auto-approved. If not, they must be explicitly approved using the
            outgoing approvals.
          type: boolean
        autoApproveSelfInitiatedIncomingTransfers:
          description: >-
            Whether the user's self-initiated incoming transfers are
            auto-approved. If not, they must be explicitly approved using the
            incoming approvals.
          type: boolean
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        collectionId:
          description: The collection ID
          $ref: '#/components/schemas/NumberType'
        cosmosAddress:
          description: The Cosmos address of the user
          type: string
        onChain:
          description: True if the balances are on-chain
          type: boolean
        uri:
          description: The URI of the off-chain balances
          type: string
        fetchedAt:
          description: >-
            The timestamp of when the off-chain balances were fetched
            (milliseconds since epoch). For BitBadges indexer, we only populate
            this for Mint and Total docs.
          $ref: '#/components/schemas/NumberType'
        fetchedAtBlock:
          description: >-
            The block number of when the off-chain balances were fetched. For
            BitBadges indexer, we only populate this for Mint and Total docs.
          $ref: '#/components/schemas/NumberType'
        isPermanent:
          description: True if the off-chain balances are using permanent storage
          type: boolean
        contentHash:
          description: The content hash of the off-chain balances
          type: string
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
            description: ''
          description: The update history of this balance
          type: array
        description: ''
      required:
        - balances
        - incomingApprovals
        - outgoingApprovals
        - userPermissions
        - autoApproveSelfInitiatedOutgoingTransfers
        - autoApproveSelfInitiatedIncomingTransfers
        - _docId
        - collectionId
        - cosmosAddress
        - onChain
        - updateHistory
      additionalProperties: false
      description: >-

        This stores everythign about a user's balances for a specific collection
        ID.

        This includes their balances, incoming approvals, outgoing approvals,
        and permissions.
      type: object
    ClaimIntegrationPluginType:
      enum:
        - password
        - numUses
        - discord
        - codes
        - github
        - google
        - twitter
        - transferTimes
        - requiresProofOfAddress
        - whitelist
        - mustOwnBadges
        - api
        - email
      type: string
      description: ''
    iClaimBuilderDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        cid:
          description: The CID of the password document
          type: string
        createdBy:
          description: The cosmos address of the user who created this password
          type: string
        docClaimed:
          description: True if the password document is claimed by the collection
          type: boolean
        collectionId:
          description: The collection ID of the password document
          $ref: '#/components/schemas/NumberType'
        plugins:
          items: {}
          description: Dynamic checks to run in the form of plugins
          type: array
        manualDistribution:
          description: >-
            If true, the claim codes are to be distributed manually. This doc
            will only be used for storage purposes.
          type: boolean
        state:
          additionalProperties: {}
          description: The current state of each plugin
          type: object
        action:
          properties:
            codes:
              items:
                type: string
                description: ''
              type: array
              description: ''
            seedCode:
              type: string
              description: ''
            balancesToSet:
              $ref: '#/components/schemas/iIncrementedBalances'
              description: ''
            listId:
              type: string
              description: ''
            description: ''
          additionalProperties: false
          description: Details for the action to perform if the criteria is correct
          type: object
        description: ''
      required:
        - _docId
        - cid
        - createdBy
        - docClaimed
        - collectionId
        - plugins
        - state
        - action
      additionalProperties: false
      description: ''
      type: object
    iApprovalTrackerDoc:
      properties:
        collectionId:
          description: The collection ID for the approval.
          $ref: '#/components/schemas/NumberType'
        approvalId:
          description: The approval ID
          type: string
        amountTrackerId:
          description: The amount tracker ID of the approval.
          type: string
        approvalLevel:
          description: >-
            The approval level of the approval "collection", "incoming", or
            "outgoing".
[...]
