openapi: '3.1.0'
info:
    title: BitBadges API
    version: '0.1'
servers:
    - url: https://api.bitbadges.io/api/v0
paths:
    /status:
        post:
            operationId: getStatus
            summary: Get Status
            description: |
                Gets the current status details about the blockchain / indexer (gas, block height, etc).
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
                    description: Returns the current status of the blockchain / indexer

                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /search/{searchValue}:
        post:
            operationId: searchByValue
            summary: Search
            description: |
                Searches for collections, badges, accounts, and address lists based on the provided search value.
            parameters:
                - name: searchValue
                  in: path
                  description: The value to search for.
                  required: true
                  schema:
                      type: string
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetSearchBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /collection/batch:
        post:
            operationId: getCollectionsBatch
            summary: Get Collections
            description: Retrieves badge collections and associated details.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetCollectionBatchBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetCollectionBatchRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userMaybeSignedIn: []
    /collection/{collectionId}/{badgeId}/owners:
        post:
            operationId: getOwnersForBadge
            summary: Get Specific Badge Owners
            description: Retrieves the owners for a specific badge in a collection.
            parameters:
                - name: collectionId
                  in: path
                  description: The numeric collection ID.
                  required: true
                  schema:
                      type: integer
                - name: badgeId
                  in: path
                  description: The numeric badge ID to retrieve owners for.
                  required: true
                  schema:
                      type: integer
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetOwnersForBadgeBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetOwnersForBadgeRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /collection/{collectionId}/balance/{cosmosAddress}:
        post:
            operationId: getBadgeBalanceByAddress
            summary: Get Balance by Address
            description: Retrieves the balance of a specific collection for a specific address.
            parameters:
                - name: collectionId
                  in: path
                  description: The ID of the collection containing the badge.
                  required: true
                  schema:
                      type: integer
                - name: cosmosAddress
                  in: path
                  description: The Cosmos address for which the badge balance is to be retrieved.
                  required: true
                  schema:
                      type: string
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetBadgeBalanceByAddressBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetBadgeBalanceByAddressRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /collection/{collectionId}/{badgeId}/activity:
        post:
            operationId: getBadgeActivity
            summary: Retrieve activity for a badge
            description: Retrieves the activity for a specific badge in a collection.
            parameters:
                - name: collectionId
                  in: path
                  description: The ID of the collection containing the badge.
                  required: true
                  schema:
                      type: integer
                - name: badgeId
                  in: path
                  description: The ID of the badge for which activity is to be retrieved.
                  required: true
                  schema:
                      type: integer
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetBadgeActivityBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetBadgeActivityRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /collection/{collectionId}/refresh:
        post:
            operationId: refreshMetadata
            summary: Trigger metadata refresh for a collection
            description: |
                Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.
                This will refetch any details for the collection (such as metadata, balances, approval details, etc). Note it will reject if recently refreshed.
                Uses a cooldown of 5 minutes.
            parameters:
                - name: collectionId
                  in: path
                  description: The ID of the collection to trigger metadata refresh.
                  required: true
                  schema:
                      type: integer
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RefreshMetadataBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iRefreshMetadataRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /claims/{claimId}/{cosmosAddress}:
        post:
            operationId: completeClaim
            summary: Check and complete claim
            description: |
                Completes a claim for a user. This will check if the claim is valid and that all criteria is satisfied. If so, we perform the claim action.
            parameters:
                - name: claimId
                  in: path
                  description: The ID of the claim.
                  required: true
                  schema:
                      type: string
                - name: cosmosAddress
                  in: path
                  description: The Cosmos address of the user making the claim.
                  required: true
                  schema:
                      type: string
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CompleteClaimBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iCompleteClaimRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userMaybeSignedIn: []
    /deleteReview/{reviewId}:
        post:
            operationId: deleteReview
            summary: Delete a review
            description: Deletes a review.
            parameters:
                - name: reviewId
                  in: path
                  description: The ID of the review to be deleted.
                  required: true
                  schema:
                      type: string
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteReviewBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iDeleteReviewRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /collection/{collectionId}/addReview:
        post:
            operationId: addReviewForCollection
            summary: Add a review for a collection
            description: Adds a new review for a collection.
            parameters:
                - name: collectionId
                  in: path
                  description: The ID of the collection for which the review is being added.
                  required: true
                  schema:
                      type: integer
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddReviewForCollectionBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iAddReviewForCollectionRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /user/batch:
        post:
            operationId: getAccounts
            summary: Get accounts and details
            description: Retrieves accounts and accompanying details.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetAccountsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetAccountsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userMaybeSignedIn: []
    /user/{addressOrUsername}/addReview:
        post:
            operationId: addReviewForUser
            summary: Add a review for a user
            description: Adds a review for a user.
            parameters:
                - name: addressOrUsername
                  in: path
                  description: The address or username of the user for whom the review is being added.
                  required: true
                  schema:
                      type: string
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddReviewForUserBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iAddReviewForUserRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /user/updateAccount:
        post:
            operationId: updateAccountInfo
            summary: Update user account information
            description: Updates the profile/account information for a user. Only the provided fields will be updated.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAccountInfoBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iUpdateAccountInfoRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /addBalancesToOffChainStorage:
        post:
            operationId: addBalancesToOffChainStorage
            summary: Add balance map to off-chain storage
            description: Adds a balance map to off-chain storage. Mode can either be 'ipfs' for storing on IPFS or 'centralized' for storing on DigitalOcean.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddBalancesToOffChainStorageBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iAddBalancesToOffChainStorageRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
                - frontendOnly: []
    /addMetadataToIpfs:
        post:
            operationId: addMetadataToIpfs
            summary: Add metadata to IPFS
            description: Adds metadata to IPFS.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddMetadataToIpfsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iAddMetadataToIpfsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
                - frontendOnly: []
    /addApprovalDetailsToOffChainStorage:
        post:
            operationId: addApprovalDetailsToOffChainStorage
            summary: Add approval details to off-chain storage
            description: Adds approval details to off-chain storage.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddApprovalDetailsToOffChainStorageBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iAddApprovalDetailsToOffChainStorageRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
                - frontendOnly: []
    /auth/getChallenge:
        post:
            operationId: getSignInChallenge
            summary: Get Blockin sign-in challenge
            description: Gets the Blockin sign-in challenge to be signed for authentication. The returned blockinMessage is the message to be signed by the user.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetSignInChallengeBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetSignInChallengeRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /auth/verify:
        post:
            operationId: verifySignIn
            summary: Verify user sign-in
            description: Verifies the user-signed challenge and grants them a valid session if everything checks out.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/VerifySignInBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iVerifySignInRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /auth/status:
        post:
            operationId: checkIfSignedIn
            summary: Check user sign-in status
            description: Checks if the user is signed in.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CheckSignInStatusRequestBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iCheckSignInStatusSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /auth/logout:
        post:
            operationId: signOut
            summary: Sign out user
            description: Signs the user out.
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iSignOutSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /browse:
        post:
            operationId: getBrowseCollections
            summary: Get browse collections
            description: Gets details for a browse/explore page.
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetBrowseCollectionsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetBrowseCollectionsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /broadcast:
        post:
            operationId: broadcastTx
            summary: Broadcast transaction
            description: Broadcasts a transaction to the blockchain.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            oneOf:
                                - $ref: '#/components/schemas/BroadcastTxBody'
                                - type: string
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iBroadcastTxRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /simulate:
        post:
            operationId: simulateTx
            summary: Simulate transaction
            description: Simulates a transaction on the blockchain.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            oneOf:
                                - $ref: '#/components/schemas/SimulateTxBody'
                                - type: string
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iSimulateTxRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /metadata:
        post:
            operationId: fetchMetadataDirectly
            summary: Fetch metadata directly from IPFS
            description: Fetches arbitrary metadata directly from IPFS. This is useful for fetching metadata that is not stored on-chain.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/FetchMetadataDirectlyBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iFetchMetadataDirectlyRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - frontendOnly: []
    /addressList/update:
        post:
            operationId: updateAddressLists
            summary: Update address lists
            description: Updatess address lists stored by BitBadges centralized servers.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAddressListsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userIsOwner: []
                - userSignedIn: []
    /addressList/create:
        post:
            operationId: createAddressLists
            summary: Creates address lists
            description: Creates address lists stored by BitBadges centralized servers.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateAddressListsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userIsOwner: []
                - userSignedIn: []
    /addressList:
        post:
            operationId: getAddressLists
            summary: Get address lists
            description: Gets address lists. Can be on-chain or off-chain.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetAddressListsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetAddressListsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userMaybeSignedIn: []
    /addressList/delete:
        post:
            operationId: deleteAddressLists
            summary: Delete address lists
            description: Deletes address lists. Must be created off-chain.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteAddressListsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iDeleteAddressListsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userIsOwner: []
                - userSignedIn: []
    /authCode:
        post:
            operationId: getAuthCode
            summary: Get Blockin authentication code
            description: Gets a Blockin authentication code. This is used for signing in with Blockin at in-person events. Anyone with the signature is able to fetch the preimage message.
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetBlockinAuthCodeBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetBlockinAuthCodeRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /authCode/create:
        post:
            operationId: createAuthCode
            summary: Create Blockin authentication code
            description: Creates a Blockin authentication code. This is used for signing in with Blockin at in-person events.
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateBlockinAuthCodeBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iCreateBlockinAuthCodeRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /authCode/delete:
        post:
            operationId: deleteAuthCode
            summary: Delete Blockin authentication code
            description: Deletes a Blockin authentication code. This is used for signing in with Blockin at in-person events.
            requestBody:
                required: false
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteBlockinAuthCodeBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iDeleteBlockinAuthCodeRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /auth/verifyGeneric:
        post:
            operationId: verifySignInGeneric
            summary: Verify Blockin sign-in requests (generic)
            description: A generic route for verifying Blockin sign-in requests. Used as a helper if implementing Blockin on your own.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GenericBlockinVerifyBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGenericBlockinVerifyRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
    /sendClaimAlerts:
        post:
            operationId: sendClaimAlert
            summary: Sends claim alert notifications
            description: Sends claim alert notifications out.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SendClaimAlertsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iSendClaimAlertsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '401':
                    $ref: '#/components/responses/UnauthorizedResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            parameters:
                - name: x-api-key
                  in: header
                  description: BitBadges API Key for authentication
                  required: true
                  schema:
                      type: string
            security:
                - apiKey: [] # This specifies that an API key is required for authentication
                - userSignedIn: []
    /getFollowDetails:
        post:
            operationId: getFollowDetails
            summary: Gets follow details for a user
            description: Gets the follow details for a user with the BitBadges follow protocol.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetFollowDetailsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetFollowDetailsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /getClaimAlerts:
        post:
            operationId: getClaimAlerts
            summary: Gets claim alerts for a collection
            description: Gets claim alerts for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetClaimAlertsForCollectionBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetClaimAlertsForCollectionRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
                - userSignedIn: []
                - userIsManager: []
    /getRefreshStatus:
        post:
            operationId: getRefreshStatus
            summary: Gets the refresh status for a collection
            description: Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/NumberType'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iRefreshStatusRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /maps:
        post:
            operationId: getMaps
            summary: Get maps
            description: Gets maps for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetMapsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetMapsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /secret:
        post:
            operationId: getSecret
            summary: Get secret
            description: Gets a secret for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetSecretBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetSecretRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /secret/create:
        post:
            operationId: createSecret
            summary: Create secret
            description: Creates a secret for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateSecretBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iCreateSecretRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /secret/update:
        post:
            operationId: updateSecret
            summary: Update secret
            description: Updates a secret for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateSecretBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iUpdateSecretRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /secret/delete:
        post:
            operationId: deleteSecret
            summary: Delete secret
            description: Deletes a secret for a collection.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteSecretBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iDeleteSecretRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []

    /filterBadgesInCollection:
        post:
            operationId: filterBadgesInCollection
            summary: Filter badges in a collection based on multiple filter values
            description: Filter badges in a collection based on multiple filter values.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/FilterBadgesInCollectionRequestBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iFilterBadgesInCollectionSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /appleWalletPass:
        post:
            operationId: generateAppleWalletPass
            summary: Generate an Apple Wallet pass
            description: |
                Generate an Apple Wallet pass based on the provided request body. 
                ```tsx
                 <a
                      onClick={async () => {
                        const res = await BitBadgesApi.generateAppleWalletPass({
                          name: authCode.name,
                          description: authCode.description,
                          signature: authCode.signature,
                          message: createChallenge(authCode.params)
                        });
                        const pass = Buffer.from(res.data);

                        const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });
                        const url = window.URL.createObjectURL(blob);
                        if (url) {
                          const link = document.createElement('a');
                          link.href = url;
                          link.download = 'bitbadges.pkpass';
                          link.click();
                        }
                      }}>
                      <img src="/images/add_to_apple_wallet.svg" style={{ width: 150 }} />
                    </a>
                ```
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GenerateAppleWalletPassBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGenerateAppleWalletPassRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
    /claims:
        post:
            operationId: getClaims
            summary: Retrieve claims
            description: Retrieve claims based on the provided request body.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/GetClaimsBody'
            responses:
                '200':
                    description: Success response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/iGetClaimsRouteSuccessResponse'
                '400':
                    $ref: '#/components/responses/BadRequestResponse'
                '500':
                    $ref: '#/components/responses/InternalServerErrorResponse'
            security:
                - apiKey: []
                - userMaybeSignedIn: []
components:
    responses:
        ErrorResponse:
            description: An error response
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        BadRequestResponse:
            description: Bad Request - Invalid configuration or request
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        UnauthorizedResponse:
            description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
        InternalServerErrorResponse:
            description: Internal Server Error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorResponse'
    securitySchemes:
        apiKey:
            type: apiKey
            in: header
            name: x-api-key
            description: Requires a BitBadges API key for requests
            x-type: string
        frontendOnly:
            type: apiKey
            in: header
            name: Origin
            description: Can only be called by the official BitBadges frontend. Not for developer use.
        userSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in with a valid session.
        userMaybeSignedIn:
            type: http
            scheme: cookie
            description: User must be signed in for certain requests, but not all.
        userIsManager:
            type: http
            scheme: cookie
            description: User must be signed in and have manager permissions.
        userIsOwner:
            type: http
            scheme: cookie
            description: User must be signed in and have owner permissions.
    schemas:
        NumberType:
            anyOf:
                - type: string
                - type: number
            example: '1'
            description: String numbers are always returned to avoid precision loss. You may pass in request bodies as numbers or strings. See SDK docs for NumberType conversions.
        # -------------------------------------------------------------COPIED FROM JS SCRIPT-------------------------------------------------------------
        schemas:
        SupportedChain:
            enum:
                - Bitcoin
                - Ethereum
                - Cosmos
                - Solana
                - Unknown
            type: string
        AssetDetails:
            properties:
                chain:
                    type: string
                collectionId:
                    $ref: '#/components/schemas/NumberType'
                assetIds:
                    items:
                        anyOf:
                            - type: string
                            - $ref: '#/components/schemas/iUintRange'
                    type: array
                ownershipTimes:
                    items:
                        $ref: '#/components/schemas/iUintRange'
                    type: array
                mustOwnAmounts:
                    $ref: '#/components/schemas/iUintRange'
                additionalCriteria:
                    type: string
            required:
                - chain
                - collectionId
                - assetIds
                - ownershipTimes
                - mustOwnAmounts
            additionalProperties: false
            type: object
        AndGroup:
            properties:
                $and:
                    items:
                        $ref: '#/components/schemas/AssetConditionGroup'
                    type: array
            required:
                - $and
            additionalProperties: false
            type: object
        OrGroup:
            properties:
                $or:
                    items:
                        $ref: '#/components/schemas/AssetConditionGroup'
                    type: array
            required:
                - $or
            additionalProperties: false
            type: object
        AssetConditionGroup:
            anyOf:
                - $ref: '#/components/schemas/AndGroup'
                - $ref: '#/components/schemas/OrGroup'
                - $ref: '#/components/schemas/OwnershipRequirements'
        OwnershipRequirements:
            properties:
                assets:
                    items:
                        $ref: '#/components/schemas/AssetDetails'
                    type: array
                options:
                    properties:
                        numMatchesForVerification:
                            $ref: '#/components/schemas/NumberType'
                    additionalProperties: false
                    type: object
            required:
                - assets
            additionalProperties: false
            type: object
        ChallengeParams:
            properties:
                domain:
                    type: string
                statement:
                    type: string
                address:
                    type: string
                uri:
                    type: string
                nonce:
                    type: string
                version:
                    type: string
                chainId:
                    type: string
                issuedAt:
                    type: string
                expirationDate:
                    type: string
                notBefore:
                    type: string
                resources:
                    items:
                        type: string
                    type: array
                assetOwnershipRequirements:
                    $ref: '#/components/schemas/AssetConditionGroup'
            required:
                - domain
                - statement
                - address
                - uri
                - nonce
            additionalProperties: false
            type: object
        VerifyChallengeOptions:
            properties:
                expectedChallengeParams:
                    properties:
                        domain:
                            type: string
                        statement:
                            type: string
                        address:
                            type: string
                        uri:
                            type: string
                        nonce:
                            type: string
                        version:
                            type: string
                        chainId:
                            type: string
                        issuedAt:
                            type: string
                        expirationDate:
                            type: string
                        notBefore:
                            type: string
                        resources:
                            items:
                                type: string
                            type: array
                        assetOwnershipRequirements:
                            $ref: '#/components/schemas/AssetConditionGroup'
                    additionalProperties: false
                    description: >-
                        Optionally define the expected details to check. If the challenge
                        was edited and the details

                        do not match, the challenge will fail verification.
                    type: object
                balancesSnapshot:
                    description: >-
                        For verification of assets, instead of dynamically fetching the
                        assets, you can specify a snapshot of the assets.


                        This is useful if you have a snapshot, balances will not change, or
                        you are verifying in an offline manner.
                    type: object
                skipTimestampVerification:
                    description: >-
                        If true, we do not check timestamps (expirationDate / notBefore).
                        This is useful if you are verifying a challenge that is expected to
                        be verified at a future time.
                    type: boolean
                skipAssetVerification:
                    description: >-
                        If true, we do not check asset ownership. This is useful if you are
                        verifying a challenge that is expected to be verified at a future
                        time.
                    type: boolean
                earliestIssuedAt:
                    description: >-
                        The earliest issued At ISO date string that is valid. For example,
                        if you want to verify a challenge that was issued within the last
                        minute, you can specify this to be 1 minute ago.
                    type: string
                issuedAtTimeWindowMs:
                    description: >-
                        If set, we will verify the issuedAt is within this amount of ms ago
                        (i.e. issuedAt >= Date.now() - issuedAtTimeWindowMs)
                    type: number
                skipSignatureVerification:
                    description: >-
                        If true, we do not check the signature. You can pass in an undefined
                        ChainDriver
                    type: boolean
            additionalProperties: false
            type: object
        Doc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
            required:
                - _docId
            additionalProperties: false
            type: object
        ErrorResponse:
            properties:
                error:
                    description: >-
                        Serialized error object for debugging purposes. Technical users can
                        use this to debug issues.
                errorMessage:
                    description: >-
                        UX-friendly error message that can be displayed to the user. Always
                        present if error.
                    type: string
                unauthorized:
                    description: Authentication error. Present if the user is not authenticated.
                    type: boolean
            required:
                - errorMessage
            additionalProperties: false
            description: >-
                If an error occurs, the response will be an ErrorResponse.


                400 - Bad Request (e.g. invalid request body)

                401 - Unauthorized (e.g. invalid session cookie; must sign in with
                Blockin)

                500 - Internal Server Error
            type: object
        PaginationInfo:
            properties:
                bookmark:
                    description: >-
                        The bookmark for the next page of results. Obtained from previous
                        response.
                    type: string
                hasMore:
                    description: Whether there are more results to fetch.
                    type: boolean
            required:
                - bookmark
                - hasMore
            additionalProperties: false
            description: Type for pagination information.
            type: object
        iUpdateHistory:
            properties:
                txHash:
                    description: The transaction hash of the on-chain transaction that updated this.
                    type: string
                block:
                    description: The block number of the on-chain transaction that updated this.
                    $ref: '#/components/schemas/NumberType'
                blockTimestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: >-
                        The timestamp of the block of the on-chain transaction that updated
                        this.
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: >-
                        The indexer's timestamp of the update. This is provided in some
                        cases because the time of indexing may be inconsistent with the time
                        of the block.
            required:
                - txHash
                - block
                - blockTimestamp
                - timestamp
            additionalProperties: false
            type: object
        ErrorDoc:
            properties:
                _docId:
                    type: string
                _id:
                    type: string
                error:
                    type: string
                function:
                    type: string
            required:
                - _docId
                - error
                - function
            additionalProperties: false
            type: object
        UNIXMilliTimestamp:
            description: >-
                Numeric timestamp - value is equal to the milliseconds since the UNIX
                epoch.
            example: '1713301889'
        CosmosAddress:
            description: >-
                All supported addresses map to a Bech32 Cosmos address which is used by
                the BitBadges blockchain behind the scenes.

                For conversion, see the BitBadges documentation. If this type is used,
                we must always convert to a Cosmos address before using it.
            type: string
            example: cosmos1...
        NativeAddress:
            description: >-
                A native address is an address that is native to the user's chain. For
                example, an Ethereum address is native to Ethereum (0x...).

                If this type is used, we support any native address type. We do not
                require conversion to a Cosmos address like the CosmosAddress type.
            type: string
        iSocialConnections:
            properties:
                discord:
                    properties:
                        username:
                            type: string
                        id:
                            type: string
                        discriminator:
                            type: string
                        lastUpdated:
                            $ref: '#/components/schemas/UNIXMilliTimestamp'
                    required:
                        - username
                        - id
                        - lastUpdated
                    additionalProperties: false
                    type: object
                twitter:
                    properties:
                        username:
                            type: string
                        id:
                            type: string
                        lastUpdated:
                            $ref: '#/components/schemas/UNIXMilliTimestamp'
                    required:
                        - username
                        - id
                        - lastUpdated
                    additionalProperties: false
                    type: object
                google:
                    properties:
                        username:
                            type: string
                        id:
                            type: string
                        lastUpdated:
                            $ref: '#/components/schemas/UNIXMilliTimestamp'
                    required:
                        - username
                        - id
                        - lastUpdated
                    additionalProperties: false
                    type: object
                github:
                    properties:
                        username:
                            type: string
                        id:
                            type: string
                        lastUpdated:
                            $ref: '#/components/schemas/UNIXMilliTimestamp'
                    required:
                        - username
                        - id
                        - lastUpdated
                    additionalProperties: false
                    type: object
            additionalProperties: false
            description: >-
                Social connections are tracked for each user to provide an enhanced
                experience.

                These are kept private from other users or sites using the API.

                Currently, there is no use for these, but they may be used in the
                future.
            type: object
        iNotificationPreferences:
            properties:
                email:
                    description: The email to receive push notifications.
                    type: string
                emailVerification:
                    $ref: '#/components/schemas/iEmailVerificationStatus'
                    description: The verification status of the email.
                preferences:
                    properties:
                        listActivity:
                            type: boolean
                        transferActivity:
                            type: boolean
                        claimAlerts:
                            type: boolean
                    additionalProperties: false
                    description: >-
                        The preferences for the notifications. What type of notifications
                        does the user want to receive?
                    type: object
            additionalProperties: false
            description: Details about the user's push notification preferences.
            type: object
        iEmailVerificationStatus:
            properties:
                verified:
                    description: Whether or not the email has been verified.
                    type: boolean
                token:
                    description: >-
                        The email verification token. This is used for verification and
                        unsubscription.
                    type: string
                expiry:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The expiry of the token for verification purposes.
                antiPhishingCode:
                    description: >-
                        A unique code that we will send with all emails to verify that
                        BitBadges is the one sending the email.
                    type: string
            additionalProperties: false
            description: The verification status of the user's email.
            type: object
        iActivityDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The timestamp of the activity.
                block:
                    description: The block number of the activity.
                    $ref: '#/components/schemas/NumberType'
                _notificationsHandled:
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
            required:
                - _docId
                - timestamp
                - block
            additionalProperties: false
            description: The base document interface for all acitivity types.
            type: object
        iReviewDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The timestamp of the activity.
                block:
                    description: The block number of the activity.
                    $ref: '#/components/schemas/NumberType'
                _notificationsHandled:
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                review:
                    description: The review text (max 2048 characters).
                    type: string
                stars:
                    description: The number of stars given (1-5).
                    $ref: '#/components/schemas/NumberType'
                from:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The user who gave the review.
                collectionId:
                    description: >-
                        The collection ID of the collection that was reviewed. Only
                        applicable to collection reviews.
                    $ref: '#/components/schemas/NumberType'
                reviewedAddress:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: >-
                        The Cosmos address of the user who the review is for. Only
                        applicable to user reviews.
            required:
                - _docId
                - timestamp
                - block
                - review
                - stars
                - from
            additionalProperties: false
            description: ''
            type: object
        iTransferActivityDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The timestamp of the activity.
                block:
                    description: The block number of the activity.
                    $ref: '#/components/schemas/NumberType'
                _notificationsHandled:
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                to:
                    items:
                        $ref: '#/components/schemas/CosmosAddress'
                    description: The list of recipients.
                    type: array
                from:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The sender of the badges.
                balances:
                    items:
                        $ref: '#/components/schemas/iBalance'
                    description: The list of balances and badge IDs that were transferred.
                    type: array
                collectionId:
                    description: The collection ID for the badges that was transferred.
                    $ref: '#/components/schemas/NumberType'
                memo:
                    description: The memo of the transfer.
                    type: string
                precalculateBalancesFromApproval:
                    $ref: '#/components/schemas/iApprovalIdentifierDetails'
                    description: Which approval to use to precalculate the balances?
                prioritizedApprovals:
                    items:
                        $ref: '#/components/schemas/iApprovalIdentifierDetails'
                    description: >-
                        The prioritized approvals of the transfer. This is used to check
                        certain approvals before others to ensure intended behavior.
                    type: array
                onlyCheckPrioritizedApprovals:
                    description: >-
                        Whether or not to only check prioritized approvals? If false, we
                        will still check all approvals but prioritize the prioritized
                        approvals.
                    type: boolean
                initiatedBy:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The user who initiated the transfer transaction.
                txHash:
                    description: The transaction hash of the activity.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - to
                - from
                - balances
                - collectionId
                - initiatedBy
            additionalProperties: false
            description: ''
            type: object
        iListActivityDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The timestamp of the activity.
                block:
                    description: The block number of the activity.
                    $ref: '#/components/schemas/NumberType'
                _notificationsHandled:
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                listId:
                    description: The list ID.
                    type: string
                addedToList:
                    description: Whether or not the address was added to the list or removed.
                    type: boolean
                addresses:
                    items:
                        $ref: '#/components/schemas/CosmosAddress'
                    description: The list of addresses that were added or removed from the list.
                    type: array
                txHash:
                    description: The transaction hash of the activity.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - listId
            additionalProperties: false
            description: ''
            type: object
        iClaimAlertDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                timestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: The timestamp of the activity.
                block:
                    description: The block number of the activity.
                    $ref: '#/components/schemas/NumberType'
                _notificationsHandled:
                    description: >-
                        Whether or not the notifications have been handled by the indexer or
                        not.
                    type: boolean
                from:
                    description: The sender
                    type: string
                cosmosAddresses:
                    items:
                        $ref: '#/components/schemas/CosmosAddress'
                    description: The cosmos addresses of the users that have been alerted.
                    type: array
                collectionId:
                    description: The collection ID of the claim alert.
                    $ref: '#/components/schemas/NumberType'
                message:
                    description: The message of the claim alert.
                    type: string
            required:
                - _docId
                - timestamp
                - block
                - from
                - cosmosAddresses
                - collectionId
            additionalProperties: false
            description: ''
            type: object
        iCollectionDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                collectionId:
                    description: The collection ID
                    $ref: '#/components/schemas/NumberType'
                collectionMetadataTimeline:
                    items:
                        $ref: '#/components/schemas/iCollectionMetadataTimeline'
                    description: The collection metadata timeline
                    type: array
                badgeMetadataTimeline:
                    items:
                        $ref: '#/components/schemas/iBadgeMetadataTimeline'
                    description: The badge metadata timeline
                    type: array
                balancesType:
                    enum:
                        - Standard
                        - Off-Chain - Indexed
                        - Non-Public
                        - Off-Chain - Non-Indexed
                    description: >-
                        The type of balances (i.e. "Standard", "Off-Chain - Indexed",
                        "Non-Public, "Off-Chain - Non-Indexed")
                    type: string
                offChainBalancesMetadataTimeline:
                    items:
                        $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
                    description: The off-chain balances metadata timeline
                    type: array
                customDataTimeline:
                    items:
                        $ref: '#/components/schemas/iCustomDataTimeline'
                    description: The custom data timeline
                    type: array
                managerTimeline:
                    items:
                        $ref: '#/components/schemas/iManagerTimeline'
                    description: The manager timeline
                    type: array
                collectionApprovals:
                    items:
                        $ref: '#/components/schemas/iCollectionApproval'
                    description: The collection approved transfers timeline
                    type: array
                standardsTimeline:
                    items:
                        $ref: '#/components/schemas/iStandardsTimeline'
                    description: The standards timeline
                    type: array
                isArchivedTimeline:
                    items:
                        $ref: '#/components/schemas/iIsArchivedTimeline'
                    description: The is archived timeline
                    type: array
                createdBy:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The cosmos address of the user who created this collection
                createdBlock:
                    description: The block number when this collection was created
                    $ref: '#/components/schemas/NumberType'
                createdTimestamp:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: >-
                        The timestamp when this collection was created (milliseconds since
                        epoch)
                updateHistory:
                    items:
                        $ref: '#/components/schemas/iUpdateHistory'
                    description: The update history of this collection
                    type: array
                aliasAddress:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The alias cosmos address for the collection
            required:
                - _docId
                - collectionId
                - collectionMetadataTimeline
                - badgeMetadataTimeline
                - balancesType
                - offChainBalancesMetadataTimeline
                - customDataTimeline
                - managerTimeline
                - collectionApprovals
                - standardsTimeline
                - isArchivedTimeline
                - createdBy
                - createdBlock
                - createdTimestamp
                - updateHistory
                - aliasAddress
            additionalProperties: false
            description: ''
            type: object
        iAccountDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                publicKey:
                    description: The public key of the account
                    type: string
                accountNumber:
                    description: The account number of the account
                    $ref: '#/components/schemas/NumberType'
                pubKeyType:
                    description: The public key type of the account
                    type: string
                cosmosAddress:
                    $ref: '#/components/schemas/CosmosAddress'
                    description: The Cosmos address of the account
                ethAddress:
                    description: The Eth address of the account
                    type: string
                solAddress:
                    description: The Solana address of the account
                    type: string
                btcAddress:
                    description: The Bitcoin address of the account
                    type: string
                sequence:
                    description: The sequence of the account
                    $ref: '#/components/schemas/NumberType'
                balance:
                    $ref: '#/components/schemas/iCosmosCoin'
                    description: The balance of the account
            required:
                - _docId
                - publicKey
                - accountNumber
                - pubKeyType
                - cosmosAddress
                - ethAddress
                - solAddress
                - btcAddress
            additionalProperties: false
            description: ''
            type: object
        iCustomLink:
            properties:
                url:
                    type: string
                image:
                    type: string
            required:
                - title
                - url
                - image
            additionalProperties: false
            description: CustomLinks are custom links that can be added to a profile.
            type: object
        iCustomPage:
            properties:
                description:
                    type: string
                items:
                    items:
                        $ref: '#/components/schemas/iBatchBadgeDetails'
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            type: object
        iCustomListPage:
            properties:
                description:
                    type: string
                items:
                    items:
                        type: string
                    type: array
            required:
                - title
                - description
                - items
            additionalProperties: false
            description: >-
                CustomListPage is a custom list page that can be added to a profile. The
                items are valid list IDs.
            type: object
        iProfileDoc:
            properties:
                _docId:
                    description: A unique stringified document ID
                    type: string
                _id:
                    description: A unique document ID (Mongo DB ObjectID)
                    type: string
                fetchedProfile:
                    description: Whether we have already fetched the profile or not
                    type: boolean
                seenActivity:
                    $ref: '#/components/schemas/UNIXMilliTimestamp'
                    description: >-
[...]
