openapi: '3.1.0'
info:
  title: BitBadges API
  version: '0.1'
servers:
  - url: https://api.bitbadges.io/api/v0
paths:
  /status:
    post:
      operationId: getStatus
      summary: Get Status
      description: |
        Gets the current status details about the blockchain / indexer (gas, block height, etc).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
          description: Returns the current status of the blockchain / indexer

        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /search/{searchValue}:
    post:
      operationId: searchByValue
      summary: Search
      description: |
        Searches for collections, badges, accounts, and address lists based on the provided search value.
      parameters:
        - name: searchValue
          in: path
          description: The value to search for.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSearchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/batch:
    post:
      operationId: getCollectionsBatch
      summary: Get Collections
      description: Retrieves badge collections and associated details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionBatchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionBatchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userMaybeSignedIn: []
  /collection/{collectionId}/{badgeId}/owners:
    post:
      operationId: getOwnersForBadge
      summary: Get Specific Badge Owners
      description: Retrieves the owners for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The numeric collection ID.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The numeric badge ID to retrieve owners for.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOwnersForBadgeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetOwnersForBadgeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/balance/{cosmosAddress}:
    post:
      operationId: getBadgeBalanceByAddress
      summary: Get Balance by Address
      description: Retrieves the balance of a specific collection for a specific address.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: cosmosAddress
          in: path
          description: The Cosmos address for which the badge balance is to be retrieved.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeBalanceByAddressRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeBalanceByAddressRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/{badgeId}/activity:
    post:
      operationId: getBadgeActivity
      summary: Retrieve activity for a badge
      description: Retrieves the activity for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The ID of the badge for which activity is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeActivityRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeActivityRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/refresh:
    post:
      operationId: refreshMetadata
      summary: Trigger metadata refresh for a collection
      description: |
        Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.
        This will refetch any details for the collection (such as metadata, balances, approval details, etc). Note it will reject if recently refreshed.
        Uses a cooldown of 5 minutes.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection to trigger metadata refresh.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshMetadataRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshMetadataRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /claims/{claimId}/{cosmosAddress}:
    post:
      operationId: checkAndCompleteClaim
      summary: Check and complete claim
      description: |
        Completes a claim for a user. This will check if the claim is valid and that all criteria is satisfied. If so, we perform the claim action.
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAndCompleteClaimRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckAndCompleteClaimRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userMaybeSignedIn: []
  /deleteReview/{reviewId}:
    post:
      operationId: deleteReview
      summary: Delete a review
      description: Deletes a review.
      parameters:
        - name: reviewId
          in: path
          description: The ID of the review to be deleted.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReviewRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteReviewRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /collection/{collectionId}/addReview:
    post:
      operationId: addReviewForCollection
      summary: Add a review for a collection
      description: Adds a new review for a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection for which the review is being added.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /user/batch:
    post:
      operationId: getAccounts
      summary: Get accounts and details
      description: Retrieves accounts and accompanying details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userMaybeSignedIn: []
  /user/{addressOrUsername}/addReview:
    post:
      operationId: addReviewForUser
      summary: Add a review for a user
      description: Adds a review for a user.
      parameters:
        - name: addressOrUsername
          in: path
          description: The address or username of the user for whom the review is being added.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForUserRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForUserRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /user/updateAccount:
    post:
      operationId: updateAccountInfo
      summary: Update user account information
      description: Updates the profile/account information for a user. Only the provided fields will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInfoRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAccountInfoRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /addBalancesToOffChainStorage:
    post:
      operationId: addBalancesToOffChainStorage
      summary: Add balance map to off-chain storage
      description: Adds a balance map to off-chain storage. Mode can either be 'ipfs' for storing on IPFS or 'centralized' for storing on DigitalOcean.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBalancesToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddBalancesToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
          frontendOnly: []
  /addMetadataToIpfs:
    post:
      operationId: addMetadataToIpfs
      summary: Add metadata to IPFS
      description: Adds metadata to IPFS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMetadataToIpfsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddMetadataToIpfsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
          frontendOnly: []
  /addApprovalDetailsToOffChainStorage:
    post:
      operationId: addApprovalDetailsToOffChainStorage
      summary: Add approval details to off-chain storage
      description: Adds approval details to off-chain storage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddApprovalDetailsToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddApprovalDetailsToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
          frontendOnly: []
  /auth/getChallenge:
    post:
      operationId: getSignInChallenge
      summary: Get Blockin sign-in challenge
      description: Gets the Blockin sign-in challenge to be signed for authentication. The returned blockinMessage is the message to be signed by the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignInChallengeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSignInChallengeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/verify:
    post:
      operationId: verifySignIn
      summary: Verify user sign-in
      description: Verifies the user-signed challenge and grants them a valid session if everything checks out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignInRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iVerifySignInRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/status:
    post:
      operationId: checkIfSignedIn
      summary: Check user sign-in status
      description: Checks if the user is signed in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSignInStatusRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckSignInStatusRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/logout:
    post:
      operationId: signOut
      summary: Sign out user
      description: Signs the user out.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSignOutSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /browse:
    post:
      operationId: getBrowseCollections
      summary: Get browse collections
      description: Gets details for a browse/explore page.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBrowseCollectionsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBrowseCollectionsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /broadcast:
    post:
      operationId: broadcastTx
      summary: Broadcast transaction
      description: Broadcasts a transaction to the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BroadcastTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iBroadcastTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /simulate:
    post:
      operationId: simulateTx
      summary: Simulate transaction
      description: Simulates a transaction on the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SimulateTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /metadata:
    post:
      operationId: fetchMetadataDirectly
      summary: Fetch metadata directly from IPFS
      description: Fetches arbitrary metadata directly from IPFS. This is useful for fetching metadata that is not stored on-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchMetadataDirectlyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFetchMetadataDirectlyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          frontendOnly: []
  /addressList/update:
    post:
      operationId: updateAddressLists
      summary: Update address lists
      description: Updatess address lists stored by BitBadges centralized servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userIsOwner: []
          userSignedIn: []
  /addressList/create:
    post:
      operationId: createAddressLists
      summary: Creates address lists
      description: Creates address lists stored by BitBadges centralized servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userIsOwner: []
          userSignedIn: []
  /addressList:
    post:
      operationId: getAddressLists
      summary: Get address lists
      description: Gets address lists. Can be on-chain or off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userMaybeSignedIn: []
  /addressList/delete:
    post:
      operationId: deleteAddressLists
      summary: Delete address lists
      description: Deletes address lists. Must be created off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userIsOwner: []
          userSignedIn: []
  /authCode:
    post:
      operationId: getAuthCode
      summary: Get Blockin authentication code
      description: Gets a Blockin authentication code. This is used for signing in with Blockin at in-person events. Anyone with the signature is able to fetch the preimage message.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/create:
    post:
      operationId: createAuthCode
      summary: Create Blockin authentication code
      description: Creates a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/delete:
    post:
      operationId: deleteAuthCode
      summary: Delete Blockin authentication code
      description: Deletes a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /auth/verifyGeneric:
    post:
      operationId: verifySignInGeneric
      summary: Verify Blockin sign-in requests (generic)
      description: A generic route for verifying Blockin sign-in requests. Used as a helper if implementing Blockin on your own.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBlockinVerifyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenericBlockinVerifyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /sendClaimAlerts:
    post:
      operationId: sendClaimAlert
      summary: Sends claim alert notifications
      description: Sends claim alert notifications out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendClaimAlertsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSendClaimAlertsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
          userSignedIn: []
  /getFollowDetails:
    post:
      operationId: getFollowDetails
      summary: Gets follow details for a user
      description: Gets the follow details for a user with the BitBadges follow protocol.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFollowDetailsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetFollowDetailsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /getClaimAlerts:
    post:
      operationId: getClaimAlerts
      summary: Gets claim alerts for a collection
      description: Gets claim alerts for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimAlertsForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAlertsForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userSignedIn: []
          userIsManager: []
  /getRefreshStatus:
    post:
      operationId: getRefreshStatus
      summary: Gets the refresh status for a collection
      description: Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NumberType'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshStatusRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /maps:
    post:
      operationId: getMaps
      summary: Get maps
      description: Gets maps for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMapsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetMapsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret:
    post:
      operationId: getSecret
      summary: Get secret
      description: Gets a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/create:
    post:
      operationId: createSecret
      summary: Create secret
      description: Creates a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/update:
    post:
      operationId: updateSecret
      summary: Update secret
      description: Updates a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /secret/delete:
    post:
      operationId: deleteSecret
      summary: Delete secret
      description: Deletes a secret for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSecretRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteSecretRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []

  /filterBadgesInCollection:
    post:
      operationId: filterBadgesInCollection
      summary: Filter badges in a collection based on multiple filter values
      description: Filter badges in a collection based on multiple filter values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterBadgesInCollectionRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFilterBadgesInCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /appleWalletPass:
    post:
      operationId: generateAppleWalletPass
      summary: Generate an Apple Wallet pass
      description: |
        Generate an Apple Wallet pass based on the provided request body. 
        ```tsx
         <a
              onClick={async () => {
                const res = await BitBadgesApi.generateAppleWalletPass({
                  name: authCode.name,
                  description: authCode.description,
                  signature: authCode.signature,
                  message: createChallenge(authCode.params)
                });
                const pass = Buffer.from(res.data);

                const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });
                const url = window.URL.createObjectURL(blob);
                if (url) {
                  const link = document.createElement('a');
                  link.href = url;
                  link.download = 'bitbadges.pkpass';
                  link.click();
                }
              }}>
              <img src="/images/add_to_apple_wallet.svg" style={{ width: 150 }} />
            </a>
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAppleWalletPassRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenerateAppleWalletPassRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /claims:
    post:
      operationId: getClaims
      summary: Retrieve claims
      description: Retrieve claims based on the provided request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
components:
  responses:
    ErrorResponse:
      description: An error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestResponse:
      description: Bad Request - Invalid configuration or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedResponse:
      description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerErrorResponse:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Requires a BitBadges API key for requests
      x-type: string
    frontendOnly:
      type: apiKey
      in: header
      name: Origin
      description: Can only be called by the official BitBadges frontend. Not for developer use.
    userSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in with a valid session.
    userMaybeSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in for certain requests, but not all.
    userIsManager:
      type: http
      scheme: cookie
      description: User must be signed in and have manager permissions.
    userIsOwner:
      type: http
      scheme: cookie
      description: User must be signed in and have owner permissions.
  schemas:
    NumberType:
      anyOf:
        - type: string
        - type: number
      example: '1'
      description: String numbers are always returned to avoid precision loss. You may pass in request bodies as numbers or strings. See SDK docs for NumberType conversions.
    # -------------------------------------------------------------COPIED FROM JS SCRIPT-------------------------------------------------------------
    SupportedChain:
      enum:
        - Bitcoin
        - Ethereum
        - Cosmos
        - Solana
        - Unknown
      type: string
    AssetDetails:
      properties:
        chain:
          type: string
        collectionId:
          $ref: '#/components/schemas/NumberType'
        assetIds:
          items:
            anyOf:
              - type: string
              - $ref: '#/components/schemas/iUintRange'
          type: array
        ownershipTimes:
          items:
            $ref: '#/components/schemas/iUintRange'
          type: array
        mustOwnAmounts:
          $ref: '#/components/schemas/iUintRange'
        additionalCriteria:
          type: string
      required:
        - chain
        - collectionId
        - assetIds
        - ownershipTimes
        - mustOwnAmounts
      additionalProperties: false
      type: object
    AndGroup:
      properties:
        $and:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
          type: array
      required:
        - $and
      additionalProperties: false
      type: object
    OrGroup:
      properties:
        $or:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
          type: array
      required:
        - $or
      additionalProperties: false
      type: object
    AssetConditionGroup:
      anyOf:
        - $ref: '#/components/schemas/AndGroup'
        - $ref: '#/components/schemas/OrGroup'
        - $ref: '#/components/schemas/OwnershipRequirements'
    OwnershipRequirements:
      properties:
        assets:
          items:
            $ref: '#/components/schemas/AssetDetails'
          type: array
        options:
          properties:
            numMatchesForVerification:
              $ref: '#/components/schemas/NumberType'
          additionalProperties: false
          type: object
      required:
        - assets
      additionalProperties: false
      type: object
    ChallengeParams:
      properties:
        domain:
          type: string
        statement:
          type: string
        address:
          type: string
        uri:
          type: string
        nonce:
          type: string
        version:
          type: string
        chainId:
          type: string
        issuedAt:
          type: string
        expirationDate:
          type: string
        notBefore:
          type: string
        resources:
          items:
            type: string
          type: array
        assetOwnershipRequirements:
          $ref: '#/components/schemas/AssetConditionGroup'
      required:
        - domain
        - statement
        - address
        - uri
        - nonce
      additionalProperties: false
      type: object
    VerifyChallengeOptions:
      properties:
        expectedChallengeParams:
          properties:
            domain:
              type: string
            statement:
              type: string
            address:
              type: string
            uri:
              type: string
            nonce:
              type: string
            version:
              type: string
            chainId:
              type: string
            issuedAt:
              type: string
            expirationDate:
              type: string
            notBefore:
              type: string
            resources:
              items:
                type: string
              type: array
            assetOwnershipRequirements:
              $ref: '#/components/schemas/AssetConditionGroup'
          additionalProperties: false
          type: object
          description: >-
            Optionally define the expected details to check. If the challenge
            was edited and the details

            do not match, the challenge will fail verification.
        balancesSnapshot:
          type: object
          description: >-
            For verification of assets, instead of dynamically fetching the
            assets, you can specify a snapshot of the assets.


            This is useful if you have a snapshot, balances will not change, or
            you are verifying in an offline manner.
        skipTimestampVerification:
          type: boolean
          description: >-
            If true, we do not check timestamps (expirationDate / notBefore).
            This is useful if you are verifying a challenge that is expected to
            be verified at a future time.
        skipAssetVerification:
          type: boolean
          description: >-
            If true, we do not check asset ownership. This is useful if you are
            verifying a challenge that is expected to be verified at a future
            time.
        earliestIssuedAt:
          type: string
          description: >-
            The earliest issued At ISO date string that is valid. For example,
            if you want to verify a challenge that was issued within the last
            minute, you can specify this to be 1 minute ago.
        issuedAtTimeWindowMs:
          type: number
          description: >-
            If set, we will verify the issuedAt is within this amount of ms ago
            (i.e. issuedAt >= Date.now() - issuedAtTimeWindowMs)
        skipSignatureVerification:
          type: boolean
          description: >-
            If true, we do not check the signature. You can pass in an undefined
            ChainDriver
      additionalProperties: false
      type: object
    Doc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
      required:
        - _docId
      additionalProperties: false
      type: object
    ErrorResponse:
      properties:
        error:
          description: >-
            Serialized error object for debugging purposes. Technical users can
            use this to debug issues.
        errorMessage:
          type: string
          description: >-
            UX-friendly error message that can be displayed to the user. Always
            present if error.
        unauthorized:
          type: boolean
          description: Authentication error. Present if the user is not authenticated.
      required:
        - errorMessage
      additionalProperties: false
      description: >-
        If an error occurs, the response will be an ErrorResponse.


        400 - Bad Request (e.g. invalid request body)

        401 - Unauthorized (e.g. invalid session cookie; must sign in with
        Blockin)

        500 - Internal Server Error
      type: object
    PaginationInfo:
      properties:
        bookmark:
          type: string
          description: >-
            The bookmark for the next page of results. Obtained from previous
            response.
        hasMore:
          type: boolean
          description: Whether there are more results to fetch.
      required:
        - bookmark
        - hasMore
      additionalProperties: false
      description: Type for pagination information.
      type: object
    iUpdateHistory:
      properties:
        txHash:
          type: string
          description: The transaction hash of the on-chain transaction that updated this.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the on-chain transaction that updated this.
        blockTimestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of the block of the on-chain transaction that updated
            this.
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The indexer's timestamp of the update. This is provided in some
            cases because the time of indexing may be inconsistent with the time
            of the block.
      required:
        - txHash
        - block
        - blockTimestamp
        - timestamp
      additionalProperties: false
      type: object
    ErrorDoc:
      properties:
        _docId:
          type: string
        _id:
          type: string
        error:
          type: string
        function:
          type: string
      required:
        - _docId
        - error
        - function
      additionalProperties: false
      type: object
    UNIXMilliTimestamp:
      description: >-
        Numeric timestamp - value is equal to the milliseconds since the UNIX
        epoch.
      example: '1713301889'
    CosmosAddress:
      description: >-
        All supported addresses map to a Bech32 Cosmos address which is used by
        the BitBadges blockchain behind the scenes.

        For conversion, see the BitBadges documentation. If this type is used,
        we must always convert to a Cosmos address before using it.
      type: string
      example: cosmos1...
    NativeAddress:
      description: >-
        A native address is an address that is native to the user's chain. For
        example, an Ethereum address is native to Ethereum (0x...).

        If this type is used, we support any native address type. We do not
        require conversion to a Cosmos address like the CosmosAddress type.
      type: string
    iSocialConnections:
      properties:
        discord:
          properties:
            username:
              type: string
            id:
              type: string
            discriminator:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        twitter:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        google:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        github:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
      additionalProperties: false
      description: >-
        Social connections are tracked for each user to provide an enhanced
        experience.

        These are kept private from other users or sites using the API.

        Currently, there is no use for these, but they may be used in the
        future.
      type: object
    iNotificationPreferences:
      properties:
        email:
          type: string
          description: The email to receive push notifications.
        emailVerification:
          $ref: '#/components/schemas/iEmailVerificationStatus'
          description: The verification status of the email.
        preferences:
          properties:
            listActivity:
              type: boolean
            transferActivity:
              type: boolean
            claimAlerts:
              type: boolean
          additionalProperties: false
          type: object
          description: >-
            The preferences for the notifications. What type of notifications
            does the user want to receive?
      additionalProperties: false
      description: Details about the user's push notification preferences.
      type: object
    iEmailVerificationStatus:
      properties:
        verified:
          type: boolean
          description: Whether or not the email has been verified.
        token:
          type: string
          description: >-
            The email verification token. This is used for verification and
            unsubscription.
        expiry:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The expiry of the token for verification purposes.
        antiPhishingCode:
          type: string
          description: >-
            A unique code that we will send with all emails to verify that
            BitBadges is the one sending the email.
      additionalProperties: false
      description: The verification status of the user's email.
      type: object
    iActivityDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the activity.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the activity.
        _notificationsHandled:
          type: boolean
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
      required:
        - _docId
        - timestamp
        - block
      additionalProperties: false
      description: The base document interface for all acitivity types.
      type: object
    iReviewDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the activity.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the activity.
        _notificationsHandled:
          type: boolean
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
        review:
          type: string
          description: The review text (max 2048 characters).
        stars:
          $ref: '#/components/schemas/NumberType'
          description: The number of stars given (1-5).
        from:
          $ref: '#/components/schemas/CosmosAddress'
          description: The user who gave the review.
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: >-
            The collection ID of the collection that was reviewed. Only
            applicable to collection reviews.
        reviewedAddress:
          $ref: '#/components/schemas/CosmosAddress'
          description: >-
            The Cosmos address of the user who the review is for. Only
            applicable to user reviews.
      required:
        - _docId
        - timestamp
        - block
        - review
        - stars
        - from
      additionalProperties: false
      description: ''
      type: object
    iTransferActivityDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the activity.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the activity.
        _notificationsHandled:
          type: boolean
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
        to:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          type: array
          description: The list of recipients.
        from:
          $ref: '#/components/schemas/CosmosAddress'
          description: The sender of the badges.
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
          type: array
          description: The list of balances and badge IDs that were transferred.
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID for the badges that was transferred.
        memo:
          type: string
          description: The memo of the transfer.
        precalculateBalancesFromApproval:
          $ref: '#/components/schemas/iApprovalIdentifierDetails'
          description: Which approval to use to precalculate the balances?
        prioritizedApprovals:
          items:
            $ref: '#/components/schemas/iApprovalIdentifierDetails'
          type: array
          description: >-
            The prioritized approvals of the transfer. This is used to check
            certain approvals before others to ensure intended behavior.
        onlyCheckPrioritizedApprovals:
          type: boolean
          description: >-
            Whether or not to only check prioritized approvals? If false, we
            will still check all approvals but prioritize the prioritized
            approvals.
        initiatedBy:
          $ref: '#/components/schemas/CosmosAddress'
          description: The user who initiated the transfer transaction.
        txHash:
          type: string
          description: The transaction hash of the activity.
      required:
        - _docId
        - timestamp
        - block
        - to
        - from
        - balances
        - collectionId
        - initiatedBy
      additionalProperties: false
      description: ''
      type: object
    iListActivityDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the activity.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the activity.
        _notificationsHandled:
          type: boolean
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
        listId:
          type: string
          description: The list ID.
        addedToList:
          type: boolean
          description: Whether or not the address was added to the list or removed.
        addresses:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          type: array
          description: The list of addresses that were added or removed from the list.
        txHash:
          type: string
          description: The transaction hash of the activity.
      required:
        - _docId
        - timestamp
        - block
        - listId
      additionalProperties: false
      description: ''
      type: object
    iClaimAlertDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the activity.
        block:
          $ref: '#/components/schemas/NumberType'
          description: The block number of the activity.
        _notificationsHandled:
          type: boolean
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
        from:
          type: string
          description: The sender
        cosmosAddresses:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          type: array
          description: The cosmos addresses of the users that have been alerted.
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID of the claim alert.
        message:
          type: string
          description: The message of the claim alert.
      required:
        - _docId
        - timestamp
        - block
        - from
        - cosmosAddresses
        - collectionId
      additionalProperties: false
      description: ''
      type: object
    iCollectionDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID
        collectionMetadataTimeline:
          items:
            $ref: '#/components/schemas/iCollectionMetadataTimeline'
          type: array
          description: The collection metadata timeline
        badgeMetadataTimeline:
          items:
            $ref: '#/components/schemas/iBadgeMetadataTimeline'
          type: array
          description: The badge metadata timeline
        balancesType:
          enum:
            - Standard
            - Off-Chain - Indexed
            - Non-Public
            - Off-Chain - Non-Indexed
          type: string
          description: >-
            The type of balances (i.e. "Standard", "Off-Chain - Indexed",
            "Non-Public, "Off-Chain - Non-Indexed")
        offChainBalancesMetadataTimeline:
          items:
            $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
          type: array
          description: The off-chain balances metadata timeline
        customDataTimeline:
          items:
            $ref: '#/components/schemas/iCustomDataTimeline'
          type: array
          description: The custom data timeline
        managerTimeline:
          items:
            $ref: '#/components/schemas/iManagerTimeline'
          type: array
          description: The manager timeline
        collectionApprovals:
          items:
            $ref: '#/components/schemas/iCollectionApproval'
          type: array
          description: The collection approved transfers timeline
        standardsTimeline:
          items:
            $ref: '#/components/schemas/iStandardsTimeline'
          type: array
          description: The standards timeline
        isArchivedTimeline:
          items:
            $ref: '#/components/schemas/iIsArchivedTimeline'
          type: array
          description: The is archived timeline
        createdBy:
          $ref: '#/components/schemas/CosmosAddress'
          description: The cosmos address of the user who created this collection
        createdBlock:
          $ref: '#/components/schemas/NumberType'
          description: The block number when this collection was created
        createdTimestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp when this collection was created (milliseconds since
            epoch)
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
          type: array
          description: The update history of this collection
        aliasAddress:
          $ref: '#/components/schemas/CosmosAddress'
          description: The alias cosmos address for the collection
      required:
        - _docId
        - collectionId
        - collectionMetadataTimeline
        - badgeMetadataTimeline
        - balancesType
        - offChainBalancesMetadataTimeline
        - customDataTimeline
        - managerTimeline
        - collectionApprovals
        - standardsTimeline
        - isArchivedTimeline
        - createdBy
        - createdBlock
        - createdTimestamp
        - updateHistory
        - aliasAddress
      additionalProperties: false
      description: ''
      type: object
    iAccountDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        publicKey:
          type: string
          description: The public key of the account
        accountNumber:
          $ref: '#/components/schemas/NumberType'
          description: The account number of the account
        pubKeyType:
          type: string
          description: The public key type of the account
        cosmosAddress:
          $ref: '#/components/schemas/CosmosAddress'
          description: The Cosmos address of the account
        ethAddress:
          type: string
          description: The Eth address of the account
        solAddress:
          type: string
          description: The Solana address of the account
        btcAddress:
          type: string
          description: The Bitcoin address of the account
        sequence:
          $ref: '#/components/schemas/NumberType'
          description: The sequence of the account
        balance:
          $ref: '#/components/schemas/iCosmosCoin'
          description: The balance of the account
      required:
        - _docId
        - publicKey
        - accountNumber
        - pubKeyType
        - cosmosAddress
        - ethAddress
        - solAddress
        - btcAddress
      additionalProperties: false
      description: ''
      type: object
    iCustomLink:
      properties:
        url:
          type: string
        image:
          type: string
      required:
        - title
        - url
        - image
      additionalProperties: false
      description: CustomLinks are custom links that can be added to a profile.
      type: object
    iCustomPage:
      properties:
        description:
          type: string
        items:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      type: object
    iCustomListPage:
      properties:
        description:
          type: string
        items:
          items:
            type: string
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      description: >-
        CustomListPage is a custom list page that can be added to a profile. The
        items are valid list IDs.
      type: object
    iProfileDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        fetchedProfile:
          type: boolean
          description: Whether we have already fetched the profile or not
        seenActivity:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of the last activity seen for this account
            (milliseconds since epoch)
        createdAt:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this account was created (milliseconds since
            epoch)
        discord:
          type: string
          description: The Discord username of the account
        twitter:
          type: string
          description: The Twitter username of the account
        github:
          type: string
          description: The GitHub username of the account
        telegram:
          type: string
          description: The Telegram username of the account
        readme:
          type: string
          description: The readme of the account
        customLinks:
          items:
            $ref: '#/components/schemas/iCustomLink'
          type: array
          description: The custom links of the account
        hiddenBadges:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
          type: array
          description: The hidden badges of the account
        hiddenLists:
          items:
            type: string
          type: array
          description: The hidden lists of the account
        customPages:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
              type: array
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
              type: array
          required:
            - badges
            - lists
          additionalProperties: false
          type: object
          description: The custom pages of the account
        watchlists:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
              type: array
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
              type: array
          required:
            - badges
            - lists
          additionalProperties: false
          type: object
          description: The watched lists of the account's portfolio
        profilePicUrl:
          type: string
          description: The profile picture URL of the account
        username:
          type: string
          description: The username of the account
        latestSignedInChain:
          $ref: '#/components/schemas/SupportedChain'
          description: The latest chain the user signed in with
        solAddress:
          type: string
          description: >-
            The Solana address of the profile, if applicable (bc we need it to
            convert)
        notifications:
          $ref: '#/components/schemas/iNotificationPreferences'
          description: The notifications of the account
        socialConnections:
          $ref: '#/components/schemas/iSocialConnections'
          description: Social connections stored for the account
        approvedSignInMethods:
          properties:
            discord:
              properties:
                username:
                  type: string
                discriminator:
                  type: string
                id:
                  type: string
              required:
                - username
                - id
              additionalProperties: false
              type: object
          additionalProperties: false
          type: object
          description: Approved ways to sign in (rather than Blockin)
      required:
        - _docId
      additionalProperties: false
      description: ''
      type: object
    iQueueDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        uri:
          type: string
          description: >-
            The URI of the metadata to be fetched. If {id} is present, it will
            be replaced with each individual ID in badgeIds
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID of the metadata to be fetched
        loadBalanceId:
          $ref: '#/components/schemas/NumberType'
          description: >-
            The load balance ID of the metadata to be fetched. Only the node
            with the same load balance ID will fetch this metadata
        refreshRequestTime:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this metadata was requested to be refreshed
            (milliseconds since epoch)
        numRetries:
          $ref: '#/components/schemas/NumberType'
          description: >-
            The number of times this metadata has been tried to be fetched but
            failed
        lastFetchedAt:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this metadata was last fetched (milliseconds
            since epoch)
        error:
          type: string
          description: The error message if this metadata failed to be fetched
        deletedAt:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this document was deleted (milliseconds since
            epoch)
        nextFetchTime:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this document should be fetched next
            (milliseconds since epoch)
        emailMessage:
          type: string
        recipientAddress:
          type: string
        activityDocId:
          type: string
        notificationType:
          type: string
      required:
        - _docId
        - uri
        - collectionId
        - loadBalanceId
        - refreshRequestTime
        - numRetries
      additionalProperties: false
      description: ''
      type: object
    iIndexerStatus:
      properties:
        status: {}
      required:
        - status
      additionalProperties: false
      type: object
    iLatestBlockStatus:
      properties:
        height:
          $ref: '#/components/schemas/NumberType'
          description: The height of the latest block
        txIndex:
          $ref: '#/components/schemas/NumberType'
          description: The transaction index of the latest block
        timestamp:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The timestamp of the latest block (milliseconds since epoch)
      required:
        - height
        - txIndex
        - timestamp
      additionalProperties: false
      type: object
    iStatusDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        block:
          $ref: '#/components/schemas/iLatestBlockStatus'
          description: The latest synced block status (i.e. height, txIndex, timestamp)
        nextCollectionId:
          $ref: '#/components/schemas/NumberType'
          description: The next collection ID to be used
        gasPrice:
          type: number
          description: The current gas price based on the average of the lastXGasAmounts
        lastXGasAmounts:
          items:
            $ref: '#/components/schemas/NumberType'
          type: array
          description: The last X gas prices
        lastXGasLimits:
          items:
            $ref: '#/components/schemas/NumberType'
          type: array
          description: The last X gas limits
      required:
        - _docId
        - block
        - nextCollectionId
        - gasPrice
        - lastXGasAmounts
        - lastXGasLimits
      additionalProperties: false
      description: ''
      type: object
    iAddressListEditKey:
      properties:
        key:
          type: string
          description: The key that can be used to edit the address list
        expirationDate:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: The expiration date of the key (milliseconds since epoch)
        mustSignIn:
          type: boolean
          description: True if the user can only add their signed in address to the list
      required:
        - key
        - expirationDate
      additionalProperties: false
      type: object
    iAddressListDoc:
      properties:
        listId:
          type: string
          description: The ID of the address list.
        addresses:
          items:
            type: string
          type: array
          description: The addresses of the address list.
        whitelist:
          type: boolean
          description: >-
            Whether or not to include ONLY the addresses or include all EXCEPT
            the addresses.
        uri:
          type: string
          description: The URI where to fetch the address list metadata from.
        customData:
          type: string
          description: Arbitrary custom data that can be stored on-chain.
        createdBy:
          type: string
          description: The address that created the address list.
        aliasAddress:
          type: string
          description: The alias cosmos address of the address list.
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
          type: array
          description: The update history of this list
        createdBlock:
          $ref: '#/components/schemas/NumberType'
          description: The block number when this list was created
        lastUpdated:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when this list was last updated (milliseconds since
            epoch)
        nsfw:
          properties:
            reason:
              type: string
          required:
            - reason
          additionalProperties: false
          type: object
          description: The NSFW reason if this list is NSFW
        reported:
          properties:
            reason:
              type: string
          required:
            - reason
          additionalProperties: false
          type: object
          description: The reported reason if this list is reported
        private:
          type: boolean
          description: True if this list is private and will not show up in search results
        viewableWithLink:
          type: boolean
          description: True if this list is viewable if queried by the list ID directly
      required:
        - listId
        - addresses
        - whitelist
        - uri
        - customData
        - _docId
        - updateHistory
        - createdBlock
        - lastUpdated
      additionalProperties: false
      description: ''
      type: object
    iBalanceDoc:
      properties:
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
          type: array
          description: The user's balances.
        incomingApprovals:
          items:
            $ref: '#/components/schemas/iUserIncomingApproval'
          type: array
          description: The user's incoming approvals.
        outgoingApprovals:
          items:
            $ref: '#/components/schemas/iUserOutgoingApproval'
          type: array
          description: The user's outgoing approvals.
        userPermissions:
          $ref: '#/components/schemas/iUserPermissions'
          description: The user's permissions.
        autoApproveSelfInitiatedOutgoingTransfers:
          type: boolean
          description: >-
            Whether the user's self-initiated outgoing transfers are
            auto-approved. If not, they must be explicitly approved using the
            outgoing approvals.
        autoApproveSelfInitiatedIncomingTransfers:
          type: boolean
          description: >-
            Whether the user's self-initiated incoming transfers are
            auto-approved. If not, they must be explicitly approved using the
            incoming approvals.
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID
        cosmosAddress:
          $ref: '#/components/schemas/CosmosAddress'
          description: The Cosmos address of the user
        onChain:
          type: boolean
          description: True if the balances are on-chain
        uri:
          type: string
          description: The URI of the off-chain balances
        fetchedAt:
          $ref: '#/components/schemas/UNIXMilliTimestamp'
          description: >-
            The timestamp of when the off-chain balances were fetched
            (milliseconds since epoch). For BitBadges indexer, we only populate
            this for Mint and Total docs.
        fetchedAtBlock:
          $ref: '#/components/schemas/NumberType'
          description: >-
            The block number of when the off-chain balances were fetched. For
            BitBadges indexer, we only populate this for Mint and Total docs.
        isPermanent:
          type: boolean
          description: True if the off-chain balances are using permanent storage
        contentHash:
          type: string
          description: The content hash of the off-chain balances
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
          type: array
          description: The update history of this balance
      required:
        - balances
        - incomingApprovals
        - outgoingApprovals
        - userPermissions
        - autoApproveSelfInitiatedOutgoingTransfers
        - autoApproveSelfInitiatedIncomingTransfers
        - _docId
        - collectionId
        - cosmosAddress
        - onChain
        - updateHistory
      additionalProperties: false
      description: >-

        This stores everythign about a user's balances for a specific collection
        ID.

        This includes their balances, incoming approvals, outgoing approvals,
        and permissions.
      type: object
    ClaimIntegrationPluginType:
      enum:
        - password
        - numUses
        - discord
        - codes
        - github
        - google
        - twitter
        - transferTimes
        - requiresProofOfAddress
        - whitelist
        - mustOwnBadges
        - api
        - email
      type: string
    JsonBodyInputWithValue:
      properties:
        key:
          type: string
        label:
          type: string
        type:
          enum:
            - date
            - url
          type: string
        value:
          anyOf:
            - type: string
            - type: number
            - type: boolean
      required:
        - key
        - label
        - value
      additionalProperties: false
      type: object
    JsonBodyInputSchema:
      properties:
        key:
          type: string
        label:
          type: string
        type:
          enum:
            - date
            - url
            - string
            - number
            - boolean
          type: string
        helper:
          type: string
      required:
        - key
        - label
        - type
      additionalProperties: false
      type: object
    ClaimApiCallInfo:
      properties:
        uri:
          type: string
        name:
          type: string
        description:
          type: string
        passAddress:
          type: boolean
        passEmail:
          type: boolean
        passDiscord:
          type: boolean
        passTwitter:
          type: boolean
        passGithub:
          type: boolean
        passGoogle:
          type: boolean
        bodyParams: {}
        userInputsSchema:
          items:
            $ref: '#/components/schemas/JsonBodyInputSchema'
          type: array
      required:
        - uri
        - name
        - userInputsSchema
      additionalProperties: false
      type: object
    iClaimBuilderDoc:
      properties:
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        cid:
          type: string
          description: The CID of the password document
        createdBy:
          $ref: '#/components/schemas/CosmosAddress'
          description: The cosmos address of the user who created this password
        docClaimed:
          type: boolean
          description: True if the password document is claimed by the collection
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID of the password document
        plugins:
          items: {}
          type: array
          description: Dynamic checks to run in the form of plugins
        manualDistribution:
          type: boolean
          description: >-
            If true, the claim codes are to be distributed manually. This doc
            will only be used for storage purposes.
        state:
          additionalProperties: {}
          type: object
          description: The current state of each plugin
        action:
          properties:
            codes:
              items:
                type: string
              type: array
            seedCode:
              type: string
            balancesToSet:
              $ref: '#/components/schemas/iIncrementedBalances'
            listId:
              type: string
          additionalProperties: false
          type: object
          description: Details for the action to perform if the criteria is correct
      required:
        - _docId
        - cid
        - createdBy
        - docClaimed
        - collectionId
        - plugins
        - state
        - action
      additionalProperties: false
      description: ''
      type: object
    iApprovalTrackerDoc:
      properties:
        collectionId:
          $ref: '#/components/schemas/NumberType'
          description: The collection ID for the approval.
        approvalId:
          type: string
          description: The approval ID
        amountTrackerId:
          type: string
          description: The amount tracker ID of the approval.
        approvalLevel:
          type: string
          description: >-
            The approval level of the approval "collection", "incoming", or
            "outgoing".
        approverAddress:
          type: string
          description: The address of the approval to check.
        trackerType:
          type: string
          description: >-
            The type of tracker to check "overall", "to", "from", or
            "initiatedBy".
        approvedAddress:
          type: string
          description: The address to check for the approval.
        _docId:
          type: string
          description: A unique stringified document ID
        _id:
          type: string
          description: A unique document ID (Mongo DB ObjectID)
        numTransfers:
          $ref: '#/components/schemas/NumberType'
          description: The number of transfers. Is an incrementing tally.
        amounts:
          items:
            $ref: '#/components/schemas/iBalance'
          type: array
          description: A tally of the amounts transferred for this approval.
      required:
        - collectionId
        - approvalId
        - amountTrackerId
        - approvalLevel
        - approverAddress
        - trackerType
        - approvedAddress
        - _docId
        - numTransfers
        - amounts
      additionalProperties: false
      description: ''
      type: object
    iChallengeTrackerIdDetails:
      properties:
[...]
