openapi: '3.0.2'
info:
  title: BitBadges API
  version: '0.1'
servers:
  - url: https://api.bitbadges.io/api/v0
paths:
  /status:
    post:
      operationId: getStatus
      summary: Get Status
      description: |
        Gets the current status details about the blockchain / indexer (gas, block height, etc).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetStatusRouteSuccessResponse'
          description: Returns the current status of the blockchain / indexer

        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /search/{searchValue}:
    post:
      operationId: searchByValue
      summary: Search
      description: |
        Searches for collections, badges, accounts, and address lists based on the provided search value.
      parameters:
        - name: searchValue
          in: path
          description: The value to search for.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSearchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSearchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/batch:
    post:
      operationId: getCollectionsBatch
      summary: Retrieve badge collections
      description: Retrieves badge collections and associated details in batches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionBatchRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionBatchRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /collection/{collectionId}/{badgeId}/owners:
    post:
      operationId: getOwnersForBadge
      summary: Retrieve owners for a badge
      description: Retrieves the owners for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The ID of the badge for which owners are to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOwnersForBadgeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetOwnersForBadgeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/balance/{cosmosAddress}:
    post:
      operationId: getBadgeBalanceByAddress
      summary: Retrieve badge balance by address
      description: Retrieves the balance of a specific badge for a specific address.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: cosmosAddress
          in: path
          description: The Cosmos address for which the badge balance is to be retrieved.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeBalanceByAddressRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeBalanceByAddressRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/{badgeId}/activity:
    post:
      operationId: getBadgeActivity
      summary: Retrieve activity for a badge
      description: Retrieves the activity for a specific badge in a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The ID of the badge for which activity is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeActivityRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeActivityRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /collection/{collectionId}/refresh:
    post:
      operationId: refreshMetadata
      summary: Trigger metadata refresh for a collection
      description: |
        Triggers a metadata refresh for a specific collection. BitBadges API uses a refresh queue system for fetching anything off-chain.
        This will refetch any details for the collection (such as metadata, balances, approval details, etc). Note it will reject if recently refreshed.
        Uses a cooldown of 5 minutes.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection to trigger metadata refresh.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshMetadataRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshMetadataRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /claims/{claimId}/{cosmosAddress}:
    post:
      operationId: checkAndCompleteClaim
      summary: Check and complete claim
      description: |
        Completes a claim for a user. This will check if the claim is valid and that all criteria is satisfied. If so, we perform the claim action.
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAndCompleteClaimRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckAndCompleteClaimRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /deleteReview/{reviewId}:
    post:
      operationId: deleteReview
      summary: Delete a review
      description: Deletes a review.
      parameters:
        - name: reviewId
          in: path
          description: The ID of the review to be deleted.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteReviewRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteReviewRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /collection/{collectionId}/addReview:
    post:
      operationId: addReviewForCollection
      summary: Add a review for a collection
      description: Adds a new review for a collection.
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection for which the review is being added.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /user/batch:
    post:
      operationId: getAccounts
      summary: Get accounts and details
      description: Retrieves accounts and accompanying details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /user/{addressOrUsername}/addReview:
    post:
      operationId: addReviewForUser
      summary: Add a review for a user
      description: Adds a review for a user.
      parameters:
        - name: addressOrUsername
          in: path
          description: The address or username of the user for whom the review is being added.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReviewForUserRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddReviewForUserRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /user/updateAccount:
    post:
      operationId: updateAccountInfo
      summary: Update user account information
      description: Updates the profile/account information for a user. Only the provided fields will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInfoRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAccountInfoRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /addBalancesToOffChainStorage:
    post:
      operationId: addBalancesToOffChainStorage
      summary: Add balance map to off-chain storage
      description: Adds a balance map to off-chain storage. Mode can either be 'ipfs' for storing on IPFS or 'centralized' for storing on DigitalOcean.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBalancesToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddBalancesToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /addMetadataToIpfs:
    post:
      operationId: addMetadataToIpfs
      summary: Add metadata to IPFS
      description: Adds metadata to IPFS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMetadataToIpfsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddMetadataToIpfsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /addApprovalDetailsToOffChainStorage:
    post:
      operationId: addApprovalDetailsToOffChainStorage
      summary: Add approval details to off-chain storage
      description: Adds approval details to off-chain storage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddApprovalDetailsToOffChainStorageRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iAddApprovalDetailsToOffChainStorageRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
        - frontendOnly: []
  /auth/getChallenge:
    post:
      operationId: getSignInChallenge
      summary: Get Blockin sign-in challenge
      description: Gets the Blockin sign-in challenge to be signed for authentication. The returned blockinMessage is the message to be signed by the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSignInChallengeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSignInChallengeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/verify:
    post:
      operationId: verifySignIn
      summary: Verify user sign-in
      description: Verifies the user-signed challenge and grants them a valid session if everything checks out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySignInRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iVerifySignInRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/status:
    post:
      operationId: checkIfSignedIn
      summary: Check user sign-in status
      description: Checks if the user is signed in.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSignInStatusRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCheckSignInStatusRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /auth/logout:
    post:
      operationId: signOut
      summary: Sign out user
      description: Signs the user out.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSignOutSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /browse:
    post:
      operationId: getBrowseCollections
      summary: Get browse collections
      description: Gets details for a browse/explore page.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBrowseCollectionsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBrowseCollectionsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /broadcast:
    post:
      operationId: broadcastTx
      summary: Broadcast transaction
      description: Broadcasts a transaction to the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BroadcastTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iBroadcastTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /simulate:
    post:
      operationId: simulateTx
      summary: Simulate transaction
      description: Simulates a transaction on the blockchain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SimulateTxRouteRequestBody'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateTxRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /metadata:
    post:
      operationId: fetchMetadataDirectly
      summary: Fetch metadata directly from IPFS
      description: Fetches arbitrary metadata directly from IPFS. This is useful for fetching metadata that is not stored on-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchMetadataDirectlyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFetchMetadataDirectlyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - frontendOnly: []
  /addressList/update:
    post:
      operationId: updateAddressLists
      summary: Update or create address lists
      description: Updates or creates address lists stored by BitBadges centralized servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userIsOwner: []
        - userSignedIn: []
  /addressList:
    post:
      operationId: getAddressLists
      summary: Get address lists
      description: Gets address lists. Can be on-chain or off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userMaybeSignedIn: []
  /addressList/delete:
    post:
      operationId: deleteAddressLists
      summary: Delete address lists
      description: Deletes address lists. Must be created off-chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAddressListsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteAddressListsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userIsOwner: []
        - userSignedIn: []
  /authCode:
    post:
      operationId: getAuthCode
      summary: Get Blockin authentication code
      description: Gets a Blockin authentication code. This is used for signing in with Blockin at in-person events. Anyone with the signature is able to fetch the preimage message.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/create:
    post:
      operationId: createAuthCode
      summary: Create Blockin authentication code
      description: Creates a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /authCode/delete:
    post:
      operationId: deleteAuthCode
      summary: Delete Blockin authentication code
      description: Deletes a Blockin authentication code. This is used for signing in with Blockin at in-person events.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBlockinAuthCodeRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteBlockinAuthCodeRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /auth/verifyGeneric:
    post:
      operationId: verifySignInGeneric
      summary: Verify Blockin sign-in requests (generic)
      description: A generic route for verifying Blockin sign-in requests. Used as a helper if implementing Blockin on your own.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBlockinVerifyRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenericBlockinVerifyRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
  /sendClaimAlerts:
    post:
      operationId: sendClaimAlert
      summary: Sends claim alert notifications
      description: Sends claim alert notifications out.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendClaimAlertsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSendClaimAlertsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: [] # This specifies that an API key is required for authentication
        - userSignedIn: []
  /getFollowDetails:
    post:
      operationId: getFollowDetails
      summary: Gets follow details for a user
      description: Gets the follow details for a user with the BitBadges follow protocol.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFollowDetailsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetFollowDetailsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /getClaimAlerts:
    post:
      operationId: getClaimAlerts
      summary: Gets claim alerts for a collection
      description: Gets claim alerts for a collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimAlertsForCollectionRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAlertsForCollectionRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
        - userSignedIn: []
        - userIsManager: []
  /getRefreshStatus:
    post:
      operationId: getRefreshStatus
      summary: Gets the refresh status for a collection
      description: Gets the refresh status for a collection. Used to track if any errors occur during a refresh, or if it is in the queue or not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NumberType'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshStatusRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /getProtocol:
    post:
      operationId: getProtocol
      summary: Get protocol details by name
      description: Get protocol details by name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetProtocolsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetProtocolsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /getCollectionForProtocol:
    post:
      operationId: getCollectionForProtocol
      summary: Get the collection ID set by a user for a protocol
      description: Get the collection ID set by a user for a protocol.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionForProtocolRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionForProtocolRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []

  /filterBadgesInCollection:
    post:
      operationId: filterBadgesInCollection
      summary: Filter badges in a collection based on multiple filter values
      description: Filter badges in a collection based on multiple filter values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterBadgesInCollectionRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFilterBadgesInCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /appleWalletPass:
    post:
      operationId: generateAppleWalletPass
      summary: Generate an Apple Wallet pass
      description: |
        Generate an Apple Wallet pass based on the provided request body. 
        ```tsx
         <a
              onClick={async () => {
                const res = await BitBadgesApi.generateAppleWalletPass({
                  name: authCode.name,
                  description: authCode.description,
                  signature: authCode.signature,
                  message: createChallenge(authCode.params)
                });
                const pass = Buffer.from(res.data);

                const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });
                const url = window.URL.createObjectURL(blob);
                if (url) {
                  const link = document.createElement('a');
                  link.href = url;
                  link.download = 'bitbadges.pkpass';
                  link.click();
                }
              }}>
              <img src="/images/add_to_apple_wallet.svg" style={{ width: 150 }} />
            </a>
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAppleWalletPassRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenerateAppleWalletPassRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /claims:
    post:
      operationId: getClaims
      summary: Retrieve claims
      description: Retrieve claims based on the provided request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimsRouteRequestBody'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimsRouteSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
        - userMaybeSignedIn: []
components:
  responses:
    ErrorResponse:
      description: An error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestResponse:
      description: Bad Request - Invalid configuration or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedResponse:
      description: Unauthorized - Does not meet authnetication requirements. This can be due to an invalid API key, CORS origin, or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerErrorResponse:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Requires a BitBadges API key for requests
      x-type: string
    frontendOnly:
      type: apiKey
      in: header
      name: Origin
      description: Can only be called by the official BitBadges frontend. Not for developer use.
    userSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in with a valid session.
    userMaybeSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in for certain requests, but not all.
    userIsManager:
      type: http
      scheme: cookie
      description: User must be signed in and have manager permissions.
    userIsOwner:
      type: http
      scheme: cookie
      description: User must be signed in and have owner permissions.
  schemas:
    ErrorResponse:
      type: object
      required:
        - errorMessage
      properties:
        error:
          type: object
          description: Serialized error object for debugging purposes. Technical users can use this to debug issues.
        errorMessage:
          type: string
          description: UX-friendly error message that can be displayed to the user. Always present if error.
        unauthorized:
          type: boolean
          description: Authentication error. Present if the user is not authenticated.
    NumberType:
      anyOf:
        - type: string
        - type: number
      example: '1'
      description: String numbers are always returned to avoid precision loss. You may pass in request bodies as numbers or strings. See SDK docs for NumberType conversions.
    BlockinChallengeParams:
      properties:
        domain:
          title: BlockinChallengeParams.domain
          description: The domain of the challenge.
          type: string
        statement:
          title: BlockinChallengeParams.statement
          description: The statement of the challenge.
          type: string
        address:
          title: BlockinChallengeParams.address
          description: The address of the challenge.
          type: string
        uri:
          title: BlockinChallengeParams.uri
          description: The URI of the challenge.
          type: string
        nonce:
          title: BlockinChallengeParams.nonce
          description: The nonce of the challenge.
          type: string
        version:
          title: BlockinChallengeParams.version
          description: The version of the challenge.
          type: string
        chainId:
          title: BlockinChallengeParams.chainId
          description: The chain ID of the challenge.
          type: string
        issuedAt:
          title: BlockinChallengeParams.issuedAt
          description: The issued at time of the challenge.
          type: string
        expirationDate:
          title: BlockinChallengeParams.expirationDate
          description: The expiration date of the challenge.
          type: string
        notBefore:
          title: BlockinChallengeParams.notBefore
          description: The not before time of the challenge.
          type: string
        resources:
          items:
            title: BlockinChallengeParams.resources.[]
            type: string
          title: BlockinChallengeParams.resources
          type: array
        assetOwnershipRequirements:
          title: BlockinChallengeParams.assetOwnershipRequirements
          description: The asset ownership requirements of the challenge.
      required:
        - domain
        - statement
        - address
        - uri
        - nonce
      additionalProperties: false
      title: BlockinChallengeParams
      type: object

    # -------------------------------------------------------------COPIED FROM JS SCRIPT-------------------------------------------------------------
    Doc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
      required:
        - _docId
      additionalProperties: false
      title: Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iBitBadgesCollection:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        collectionId:
          title: iCollectionDoc.collectionId
          description: The collection ID
          $ref: '#components/schemas/NumberType'
        collectionMetadataTimeline:
          items:
            $ref: '#/components/schemas/iCollectionMetadataTimeline'
            title: iCollectionDoc.collectionMetadataTimeline.[]
          title: iCollectionDoc.collectionMetadataTimeline
          description: The collection metadata timeline
          type: array
        badgeMetadataTimeline:
          items:
            $ref: '#/components/schemas/iBadgeMetadataTimeline'
            title: iCollectionDoc.badgeMetadataTimeline.[]
          title: iCollectionDoc.badgeMetadataTimeline
          description: The badge metadata timeline
          type: array
        balancesType:
          enum:
            - Standard
            - Off-Chain - Indexed
            - Inherited
            - Off-Chain - Non-Indexed
          title: iCollectionDoc.balancesType
          description: >-
            The type of balances (i.e. "Standard", "Off-Chain - Indexed",
            "Inherited, "Off-Chain - Non-Indexed")
          type: string
        offChainBalancesMetadataTimeline:
          items:
            $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
            title: iCollectionDoc.offChainBalancesMetadataTimeline.[]
          title: iCollectionDoc.offChainBalancesMetadataTimeline
          description: The off-chain balances metadata timeline
          type: array
        customDataTimeline:
          items:
            $ref: '#/components/schemas/iCustomDataTimeline'
            title: iCollectionDoc.customDataTimeline.[]
          title: iCollectionDoc.customDataTimeline
          description: The custom data timeline
          type: array
        managerTimeline:
          items:
            $ref: '#/components/schemas/iManagerTimeline'
            title: iCollectionDoc.managerTimeline.[]
          title: iCollectionDoc.managerTimeline
          description: The manager timeline
          type: array
        collectionPermissions:
          $ref: '#/components/schemas/iCollectionPermissions'
          title: iCollectionDoc.collectionPermissions
          description: The collection permissions
        collectionApprovals:
          items:
            $ref: '#/components/schemas/iCollectionApproval'
            title: iCollectionDoc.collectionApprovals.[]
          title: iCollectionDoc.collectionApprovals
          description: The collection approved transfers timeline
          type: array
        standardsTimeline:
          items:
            $ref: '#/components/schemas/iStandardsTimeline'
            title: iCollectionDoc.standardsTimeline.[]
          title: iCollectionDoc.standardsTimeline
          description: The standards timeline
          type: array
        isArchivedTimeline:
          items:
            $ref: '#/components/schemas/iIsArchivedTimeline'
            title: iCollectionDoc.isArchivedTimeline.[]
          title: iCollectionDoc.isArchivedTimeline
          description: The is archived timeline
          type: array
        defaultBalances:
          $ref: '#/components/schemas/iUserBalanceStore'
          title: iCollectionDoc.defaultBalances
          description: >-
            The default balances for users who have not interacted with the
            collection yet. Only used if collection has "Standard" balance type.
        createdBy:
          title: iCollectionDoc.createdBy
          description: The cosmos address of the user who created this collection
          type: string
        createdBlock:
          title: iCollectionDoc.createdBlock
          description: The block number when this collection was created
          $ref: '#components/schemas/NumberType'
        createdTimestamp:
          title: iCollectionDoc.createdTimestamp
          description: >-
            The timestamp when this collection was created (milliseconds since
            epoch)
          $ref: '#components/schemas/NumberType'
        updateHistory:
          items:
            properties:
              txHash:
                title: iCollectionDoc.updateHistory.[].txHash
                type: string
              block:
                title: iCollectionDoc.updateHistory.[].block
                $ref: '#components/schemas/NumberType'
              blockTimestamp:
                title: iCollectionDoc.updateHistory.[].blockTimestamp
                $ref: '#components/schemas/NumberType'
            required:
              - txHash
              - block
              - blockTimestamp
            additionalProperties: false
            title: iCollectionDoc.updateHistory.[]
            type: object
          title: iCollectionDoc.updateHistory
          description: The update history of this collection
          type: array
        aliasAddress:
          title: iCollectionDoc.aliasAddress
          description: The alias cosmos address for the collection
          type: string
        cachedCollectionMetadata:
          $ref: '#/components/schemas/iMetadata'
          title: iBitBadgesCollection.cachedCollectionMetadata
          description: >-
            The fetched collection metadata for this collection. Will only be
            fetched if requested. It is your responsibility to join this data.
        cachedBadgeMetadata:
          items:
            $ref: '#/components/schemas/iBadgeMetadataDetails'
            title: iBitBadgesCollection.cachedBadgeMetadata.[]
          title: iBitBadgesCollection.cachedBadgeMetadata
          description: >-
            The fetched badge metadata for this collection. Will only be fetched
            if requested. It is your responsibility to join this data.
          type: array
        activity:
          items:
            $ref: '#/components/schemas/iTransferActivityDoc'
            title: iBitBadgesCollection.activity.[]
          title: iBitBadgesCollection.activity
          description: >-
            The fetched activity for this collection. Returned collections will
            only fetch the current page. Use the pagination to fetch more. To be
            used in conjunction with views.
          type: array
        reviews:
          items:
            $ref: '#/components/schemas/iReviewDoc'
            title: iBitBadgesCollection.reviews.[]
          title: iBitBadgesCollection.reviews
          description: >-
            The fetched reviews for this collection. Returned collections will
            only fetch the current page. Use the pagination to fetch more. To be
            used in conjunction with views.
          type: array
        owners:
          items:
            $ref: '#/components/schemas/iBalanceDoc'
            title: iBitBadgesCollection.owners.[]
          title: iBitBadgesCollection.owners
          description: >-
            The fetched owners of this collection. Returned collections will
            only fetch the current page. Use the pagination to fetch more. To be
            used in conjunction with views.
          type: array
        merkleChallenges:
          items:
            $ref: '#/components/schemas/iMerkleChallengeDoc'
            title: iBitBadgesCollection.merkleChallenges.[]
          title: iBitBadgesCollection.merkleChallenges
          description: >-
            The fetched merkle challenges for this collection. Returned
            collections will only fetch the current page. Use the pagination to
            fetch more. To be used in conjunction with views.
          type: array
        approvalTrackers:
          items:
            $ref: '#/components/schemas/iApprovalTrackerDoc'
            title: iBitBadgesCollection.approvalTrackers.[]
          title: iBitBadgesCollection.approvalTrackers
          description: >-
            The fetched approval trackers for this collection. Returned
            collections will only fetch the current page. Use the pagination to
            fetch more. To be used in conjunction with views.
          type: array
        nsfw:
          properties:
            badgeIds:
              items:
                $ref: '#/components/schemas/iUintRange'
                title: iBitBadgesCollection.nsfw.badgeIds.[]
              title: iBitBadgesCollection.nsfw.badgeIds
              type: array
            reason:
              title: iBitBadgesCollection.nsfw.reason
              type: string
          required:
            - badgeIds
            - reason
          additionalProperties: false
          title: iBitBadgesCollection.nsfw
          description: The badge IDs in this collection that are marked as NSFW.
          type: object
        reported:
          properties:
            badgeIds:
              items:
                $ref: '#/components/schemas/iUintRange'
                title: iBitBadgesCollection.reported.badgeIds.[]
              title: iBitBadgesCollection.reported.badgeIds
              type: array
            reason:
              title: iBitBadgesCollection.reported.reason
              type: string
          required:
            - badgeIds
            - reason
          additionalProperties: false
          title: iBitBadgesCollection.reported
          description: The badge IDs in this collection that have been reported.
          type: object
        views:
          additionalProperties:
            properties:
              ids:
                items:
                  title: ids.[]
                  type: string
                title: ids
                type: array
              type:
                title: type
                type: string
              pagination:
                $ref: '#/components/schemas/PaginationInfo'
                title: pagination
            required:
              - ids
              - type
              - pagination
            additionalProperties: false
            type: object
          title: iBitBadgesCollection.views
          description: >-
            The views for this collection and their pagination Doc. Views will
            only include the doc _ids. Use the pagination to fetch more. To be
            used in conjunction with activity, announcements, reviews, owners,
            merkleChallenges, and approvalTrackers. For example, if you want to
            fetch the activity for a view, you would use the view's pagination
            to fetch the doc _ids, then use the corresponding activity array to
            find the matching docs.
          type: object
        offChainClaims:
          items:
            properties:
              claimId:
                title: iBitBadgesCollection.offChainClaims.[].claimId
                type: string
              plugins:
                items: {}
                title: iBitBadgesCollection.offChainClaims.[].plugins
                type: array
              balancesToSet:
                $ref: '#/components/schemas/iIncrementedBalances'
                title: iBitBadgesCollection.offChainClaims.[].balancesToSet
              manualDistribution:
                title: iBitBadgesCollection.offChainClaims.[].manualDistribution
                type: boolean
            required:
              - claimId
              - plugins
              - balancesToSet
            additionalProperties: false
            title: iBitBadgesCollection.offChainClaims.[]
            type: object
          title: iBitBadgesCollection.offChainClaims
          description: >-
            Details about any off-chain claims for this collection. Only
            applicable when outsourced to BitBadges.
          type: array
      required:
        - _docId
        - collectionId
        - collectionMetadataTimeline
        - badgeMetadataTimeline
        - balancesType
        - offChainBalancesMetadataTimeline
        - customDataTimeline
        - managerTimeline
        - collectionPermissions
        - collectionApprovals
        - standardsTimeline
        - isArchivedTimeline
        - defaultBalances
        - createdBy
        - createdBlock
        - createdTimestamp
        - updateHistory
        - aliasAddress
        - cachedBadgeMetadata
        - activity
        - reviews
        - owners
        - merkleChallenges
        - approvalTrackers
        - views
        - offChainClaims
      additionalProperties: false
      title: iBitBadgesCollection, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iUpdateHistory:
      properties:
        txHash:
          title: iUpdateHistory.txHash
          type: string
        block:
          title: iUpdateHistory.block
          $ref: '#components/schemas/NumberType'
        blockTimestamp:
          title: iUpdateHistory.blockTimestamp
          $ref: '#components/schemas/NumberType'
      required:
        - txHash
        - block
        - blockTimestamp
      additionalProperties: false
      title: iUpdateHistory
      type: object
    ErrorDoc:
      properties:
        _docId:
          title: ErrorDoc._docId
          type: string
        _id:
          title: ErrorDoc._id
          type: string
        error:
          title: ErrorDoc.error
          type: string
        function:
          title: ErrorDoc.function
          type: string
      required:
        - _docId
        - error
        - function
      additionalProperties: false
      title: ErrorDoc
      type: object
    iNotificationPreferences:
      properties:
        email:
          title: iNotificationPreferences.email
          type: string
        emailVerification:
          $ref: '#/components/schemas/iEmailVerificationStatus'
          title: iNotificationPreferences.emailVerification
        preferences:
          properties:
            listActivity:
              title: iNotificationPreferences.preferences.listActivity
              type: boolean
            transferActivity:
              title: iNotificationPreferences.preferences.transferActivity
              type: boolean
            claimAlerts:
              title: iNotificationPreferences.preferences.claimAlerts
              type: boolean
          additionalProperties: false
          title: iNotificationPreferences.preferences
          type: object
      additionalProperties: false
      title: iNotificationPreferences
      type: object
    iEmailVerificationStatus:
      properties:
        verified:
          title: iEmailVerificationStatus.verified
          type: boolean
        token:
          title: iEmailVerificationStatus.token
          type: string
        expiry:
          title: iEmailVerificationStatus.expiry
          $ref: '#components/schemas/NumberType'
        antiPhishingCode:
          title: iEmailVerificationStatus.antiPhishingCode
          type: string
      additionalProperties: false
      title: iEmailVerificationStatus
      type: object
    iActivityDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          title: iActivityDoc.timestamp
          description: The timestamp  of the activity.
          $ref: '#components/schemas/NumberType'
        block:
          title: iActivityDoc.block
          description: The block number of the activity.
          $ref: '#components/schemas/NumberType'
        _notificationsHandled:
          title: iActivityDoc._notificationsHandled
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
      required:
        - _docId
        - timestamp
        - block
      additionalProperties: false
      title: iActivityDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iReviewDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          title: iActivityDoc.timestamp
          description: The timestamp  of the activity.
          $ref: '#components/schemas/NumberType'
        block:
          title: iActivityDoc.block
          description: The block number of the activity.
          $ref: '#components/schemas/NumberType'
        _notificationsHandled:
          title: iActivityDoc._notificationsHandled
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        review:
          title: iReviewDoc.review
          description: The review text (max 2048 characters).
          type: string
        stars:
          title: iReviewDoc.stars
          description: The number of stars given (1-5).
          $ref: '#components/schemas/NumberType'
        from:
          title: iReviewDoc.from
          description: The cosmos address of the user who gave the review.
          type: string
        collectionId:
          title: iReviewDoc.collectionId
          description: >-
            The collection ID of the collection that was reviewed. Only
            applicable to collection reviews.
          $ref: '#components/schemas/NumberType'
        reviewedAddress:
          title: iReviewDoc.reviewedAddress
          description: >-
            The cosmos address of the user who the review is for. Only
            applicable to user reviews.
          type: string
      required:
        - _docId
        - timestamp
        - block
        - review
        - stars
        - from
      additionalProperties: false
      title: iReviewDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iTransferActivityDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          title: iActivityDoc.timestamp
          description: The timestamp  of the activity.
          $ref: '#components/schemas/NumberType'
        block:
          title: iActivityDoc.block
          description: The block number of the activity.
          $ref: '#components/schemas/NumberType'
        _notificationsHandled:
          title: iActivityDoc._notificationsHandled
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        to:
          items:
            title: iTransferActivityDoc.to.[]
            type: string
          title: iTransferActivityDoc.to
          description: The list of cosmos addresses that were involved in the activity.
          type: array
        from:
          title: iTransferActivityDoc.from
          description: The list of cosmos addresses that were involved in the activity.
          type: string
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
            title: iTransferActivityDoc.balances.[]
          title: iTransferActivityDoc.balances
          description: The list of balances and badge IDs that were transferred.
          type: array
        collectionId:
          title: iTransferActivityDoc.collectionId
          description: The collection ID of the collection that was transferred.
          $ref: '#components/schemas/NumberType'
        memo:
          title: iTransferActivityDoc.memo
          description: The memo of the transfer.
          type: string
        precalculateBalancesFromApproval:
          $ref: '#/components/schemas/iApprovalIdentifierDetails'
          title: iTransferActivityDoc.precalculateBalancesFromApproval
          description: Which approval to use to precalculate the balances.
        prioritizedApprovals:
          items:
            $ref: '#/components/schemas/iApprovalIdentifierDetails'
            title: iTransferActivityDoc.prioritizedApprovals.[]
          title: iTransferActivityDoc.prioritizedApprovals
          description: The prioritized approvals of the transfer.
          type: array
        onlyCheckPrioritizedApprovals:
          title: iTransferActivityDoc.onlyCheckPrioritizedApprovals
          description: Whether or not to only check prioritized approvals.
          type: boolean
        initiatedBy:
          title: iTransferActivityDoc.initiatedBy
          description: The cosmos address of the user who initiated the activity.
          type: string
        txHash:
          title: iTransferActivityDoc.txHash
          description: The transaction hash of the activity.
          type: string
      required:
        - _docId
        - timestamp
        - block
        - to
        - from
        - balances
        - collectionId
        - initiatedBy
      additionalProperties: false
      title: iTransferActivityDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iListActivityDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          title: iActivityDoc.timestamp
          description: The timestamp  of the activity.
          $ref: '#components/schemas/NumberType'
        block:
          title: iActivityDoc.block
          description: The block number of the activity.
          $ref: '#components/schemas/NumberType'
        _notificationsHandled:
          title: iActivityDoc._notificationsHandled
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        listId:
          title: iListActivityDoc.listId
          description: The list ID of the list.
          type: string
        addedToList:
          title: iListActivityDoc.addedToList
          description: >-
            Whether or not the address is included in the list. Note that this
            could mean added to an whitelist or a blacklist
          type: boolean
        addresses:
          items:
            title: iListActivityDoc.addresses.[]
            type: string
          title: iListActivityDoc.addresses
          description: The list of addresses that were added or removed from the list.
          type: array
        txHash:
          title: iListActivityDoc.txHash
          description: The transaction hash of the activity.
          type: string
      required:
        - _docId
        - timestamp
        - block
        - listId
      additionalProperties: false
      title: iListActivityDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iClaimAlertDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          title: iActivityDoc.timestamp
          description: The timestamp  of the activity.
          $ref: '#components/schemas/NumberType'
        block:
          title: iActivityDoc.block
          description: The block number of the activity.
          $ref: '#components/schemas/NumberType'
        _notificationsHandled:
          title: iActivityDoc._notificationsHandled
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        code:
          title: iClaimAlertDoc.code
          description: The code of the claim alert.
          type: string
        cosmosAddresses:
          items:
            title: iClaimAlertDoc.cosmosAddresses.[]
            type: string
          title: iClaimAlertDoc.cosmosAddresses
          description: The cosmos addresses of the users that have been alerted.
          type: array
        collectionId:
          title: iClaimAlertDoc.collectionId
          description: The collection ID of the claim alert.
          $ref: '#components/schemas/NumberType'
        message:
          title: iClaimAlertDoc.message
          description: The message of the claim alert.
          type: string
      required:
        - _docId
        - timestamp
        - block
        - cosmosAddresses
        - collectionId
      additionalProperties: false
      title: iClaimAlertDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iCollectionDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        collectionId:
          title: iCollectionDoc.collectionId
          description: The collection ID
          $ref: '#components/schemas/NumberType'
        collectionMetadataTimeline:
          items:
            $ref: '#/components/schemas/iCollectionMetadataTimeline'
            title: iCollectionDoc.collectionMetadataTimeline.[]
          title: iCollectionDoc.collectionMetadataTimeline
          description: The collection metadata timeline
          type: array
        badgeMetadataTimeline:
          items:
            $ref: '#/components/schemas/iBadgeMetadataTimeline'
            title: iCollectionDoc.badgeMetadataTimeline.[]
          title: iCollectionDoc.badgeMetadataTimeline
          description: The badge metadata timeline
          type: array
        balancesType:
          enum:
            - Standard
            - Off-Chain - Indexed
            - Inherited
            - Off-Chain - Non-Indexed
          title: iCollectionDoc.balancesType
          description: >-
            The type of balances (i.e. "Standard", "Off-Chain - Indexed",
            "Inherited, "Off-Chain - Non-Indexed")
          type: string
        offChainBalancesMetadataTimeline:
          items:
            $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
            title: iCollectionDoc.offChainBalancesMetadataTimeline.[]
          title: iCollectionDoc.offChainBalancesMetadataTimeline
          description: The off-chain balances metadata timeline
          type: array
        customDataTimeline:
          items:
            $ref: '#/components/schemas/iCustomDataTimeline'
            title: iCollectionDoc.customDataTimeline.[]
          title: iCollectionDoc.customDataTimeline
          description: The custom data timeline
          type: array
        managerTimeline:
          items:
            $ref: '#/components/schemas/iManagerTimeline'
            title: iCollectionDoc.managerTimeline.[]
          title: iCollectionDoc.managerTimeline
          description: The manager timeline
          type: array
        collectionPermissions:
          $ref: '#/components/schemas/iCollectionPermissions'
          title: iCollectionDoc.collectionPermissions
          description: The collection permissions
        collectionApprovals:
          items:
            $ref: '#/components/schemas/iCollectionApproval'
            title: iCollectionDoc.collectionApprovals.[]
          title: iCollectionDoc.collectionApprovals
          description: The collection approved transfers timeline
          type: array
        standardsTimeline:
          items:
            $ref: '#/components/schemas/iStandardsTimeline'
            title: iCollectionDoc.standardsTimeline.[]
          title: iCollectionDoc.standardsTimeline
          description: The standards timeline
          type: array
        isArchivedTimeline:
          items:
            $ref: '#/components/schemas/iIsArchivedTimeline'
            title: iCollectionDoc.isArchivedTimeline.[]
          title: iCollectionDoc.isArchivedTimeline
          description: The is archived timeline
          type: array
        defaultBalances:
          $ref: '#/components/schemas/iUserBalanceStore'
          title: iCollectionDoc.defaultBalances
          description: >-
            The default balances for users who have not interacted with the
            collection yet. Only used if collection has "Standard" balance type.
        createdBy:
          title: iCollectionDoc.createdBy
          description: The cosmos address of the user who created this collection
          type: string
        createdBlock:
          title: iCollectionDoc.createdBlock
          description: The block number when this collection was created
          $ref: '#components/schemas/NumberType'
        createdTimestamp:
          title: iCollectionDoc.createdTimestamp
          description: >-
            The timestamp when this collection was created (milliseconds since
            epoch)
          $ref: '#components/schemas/NumberType'
        updateHistory:
          items:
            properties:
              txHash:
                title: iCollectionDoc.updateHistory.[].txHash
                type: string
              block:
                title: iCollectionDoc.updateHistory.[].block
                $ref: '#components/schemas/NumberType'
              blockTimestamp:
                title: iCollectionDoc.updateHistory.[].blockTimestamp
                $ref: '#components/schemas/NumberType'
            required:
              - txHash
              - block
              - blockTimestamp
            additionalProperties: false
            title: iCollectionDoc.updateHistory.[]
            type: object
          title: iCollectionDoc.updateHistory
          description: The update history of this collection
          type: array
        aliasAddress:
          title: iCollectionDoc.aliasAddress
          description: The alias cosmos address for the collection
          type: string
      required:
        - _docId
        - collectionId
        - collectionMetadataTimeline
        - badgeMetadataTimeline
        - balancesType
        - offChainBalancesMetadataTimeline
        - customDataTimeline
        - managerTimeline
        - collectionPermissions
        - collectionApprovals
        - standardsTimeline
        - isArchivedTimeline
        - defaultBalances
        - createdBy
        - createdBlock
        - createdTimestamp
        - updateHistory
        - aliasAddress
      additionalProperties: false
      title: iCollectionDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iAccountDoc:
      properties:
        publicKey:
          title: iAccountDoc.publicKey
          description: The public key of the account
          type: string
        accountNumber:
          title: iAccountDoc.accountNumber
          description: The account number of the account
          $ref: '#components/schemas/NumberType'
        pubKeyType:
          title: iAccountDoc.pubKeyType
          description: The public key type of the account
          type: string
        ethAddress:
          title: iAccountDoc.ethAddress
          description: The Eth address of the account
          type: string
        btcAddress:
          title: iAccountDoc.btcAddress
          description: The Bitcoin address of the account
          type: string
        sequence:
          title: iAccountDoc.sequence
          description: The sequence of the account
          $ref: '#components/schemas/NumberType'
        balance:
          $ref: '#/components/schemas/iCosmosCoin'
          title: iAccountDoc.balance
          description: The balance of the account
      required:
        - publicKey
        - accountNumber
        - pubKeyType
        - ethAddress
        - btcAddress
      additionalProperties: false
      title: iAccountDoc
      type: object
    iCustomLink:
      properties:
        title:
          title: iCustomLink.title
          type: string
        url:
          title: iCustomLink.url
          type: string
        image:
          title: iCustomLink.image
          type: string
      required:
        - title
        - url
        - image
      additionalProperties: false
      title: iCustomLink
      description: |-
        CustomLinks are custom links that can be added to a profile.
      type: object
    iCustomPage:
      properties:
        title:
          title: iCustomPage.title
          type: string
        description:
          title: iCustomPage.description
          type: string
        items:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
            title: iCustomPage.items.[]
          title: iCustomPage.items
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      title: iCustomPage
      type: object
    iCustomListPage:
      properties:
        title:
          title: iCustomListPage.title
          type: string
        description:
          title: iCustomListPage.description
          type: string
        items:
          items:
            title: iCustomListPage.items.[]
            type: string
          title: iCustomListPage.items
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      title: iCustomListPage
      description: >-
        CustomListPage is a custom list page that can be added to a profile. The
        items are valid list IDs.

      type: object
    iProfileDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        fetchedProfile:
          title: iProfileDoc.fetchedProfile
          description: Whether we have already fetched the profile or not
          type: boolean
        seenActivity:
          title: iProfileDoc.seenActivity
          description: >-
            The timestamp of the last activity seen for this account
            (milliseconds since epoch)
          $ref: '#components/schemas/NumberType'
        createdAt:
          title: iProfileDoc.createdAt
          description: >-
            The timestamp of when this account was created (milliseconds since
            epoch)
          $ref: '#components/schemas/NumberType'
        discord:
          title: iProfileDoc.discord
          description: The Discord username of the account
          type: string
        twitter:
          title: iProfileDoc.twitter
          description: The Twitter username of the account
          type: string
        github:
          title: iProfileDoc.github
          description: The GitHub username of the account
          type: string
        telegram:
          title: iProfileDoc.telegram
          description: The Telegram username of the account
          type: string
        readme:
          title: iProfileDoc.readme
          description: The readme of the account
          type: string
        customLinks:
          items:
            $ref: '#/components/schemas/iCustomLink'
            title: iProfileDoc.customLinks.[]
          title: iProfileDoc.customLinks
          description: The custom links of the account
          type: array
        hiddenBadges:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
            title: iProfileDoc.hiddenBadges.[]
          title: iProfileDoc.hiddenBadges
          description: The hidden badges of the account
          type: array
        hiddenLists:
          items:
            title: iProfileDoc.hiddenLists.[]
            type: string
          title: iProfileDoc.hiddenLists
          description: The hidden lists of the account
          type: array
        customPages:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
                title: iProfileDoc.customPages.badges.[]
              title: iProfileDoc.customPages.badges
              type: array
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
                title: iProfileDoc.customPages.lists.[]
              title: iProfileDoc.customPages.lists
              type: array
          required:
            - badges
            - lists
          additionalProperties: false
          title: iProfileDoc.customPages
          description: The custom pages of the account
          type: object
        watchlists:
          properties:
            badges:
              items:
                $ref: '#/components/schemas/iCustomPage'
                title: iProfileDoc.watchlists.badges.[]
              title: iProfileDoc.watchlists.badges
              type: array
            lists:
              items:
                $ref: '#/components/schemas/iCustomListPage'
                title: iProfileDoc.watchlists.lists.[]
              title: iProfileDoc.watchlists.lists
              type: array
          required:
            - badges
            - lists
          additionalProperties: false
          title: iProfileDoc.watchlists
          description: The watched lists of the account's portfolio
          type: object
        profilePicUrl:
          title: iProfileDoc.profilePicUrl
          description: The profile picture URL of the account
          type: string
        username:
          title: iProfileDoc.username
          description: The username of the account
          type: string
        latestSignedInChain:
          title: iProfileDoc.latestSignedInChain
          description: The latest chain the user signed in with
        solAddress:
          title: iProfileDoc.solAddress
          description: >-
            The Solana address of the profile, if applicable (bc we need it to
            convert)
          type: string
        notifications:
          $ref: '#/components/schemas/iNotificationPreferences'
          title: iProfileDoc.notifications
          description: The notifications of the account
        approvedSignInMethods:
          properties:
            discord:
              properties:
                username:
                  title: iProfileDoc.approvedSignInMethods.discord.username
                  type: string
                discriminator:
                  title: iProfileDoc.approvedSignInMethods.discord.discriminator
                  type: string
                id:
                  title: iProfileDoc.approvedSignInMethods.discord.id
                  type: string
              required:
                - username
                - id
              additionalProperties: false
              title: iProfileDoc.approvedSignInMethods.discord
              type: object
          additionalProperties: false
          title: iProfileDoc.approvedSignInMethods
          description: Approved ways to sign in (rather than Blockin)
          type: object
      required:
        - _docId
      additionalProperties: false
      title: iProfileDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iQueueDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        uri:
          title: iQueueDoc.uri
          description: >-
            The URI of the metadata to be fetched. If {id} is present, it will
            be replaced with each individual ID in badgeIds
          type: string
        collectionId:
          title: iQueueDoc.collectionId
          description: The collection ID of the metadata to be fetched
          $ref: '#components/schemas/NumberType'
        loadBalanceId:
          title: iQueueDoc.loadBalanceId
          description: >-
            The load balance ID of the metadata to be fetched. Only the node
            with the same load balance ID will fetch this metadata
          $ref: '#components/schemas/NumberType'
        refreshRequestTime:
          title: iQueueDoc.refreshRequestTime
          description: >-
            The timestamp of when this metadata was requested to be refreshed
            (milliseconds since epoch)
          $ref: '#components/schemas/NumberType'
        numRetries:
          title: iQueueDoc.numRetries
          description: >-
            The number of times this metadata has been tried to be fetched but
            failed
          $ref: '#components/schemas/NumberType'
        lastFetchedAt:
          title: iQueueDoc.lastFetchedAt
          description: >-
            The timestamp of when this metadata was last fetched (milliseconds
            since epoch)
          $ref: '#components/schemas/NumberType'
        error:
          title: iQueueDoc.error
          description: The error message if this metadata failed to be fetched
          type: string
        deletedAt:
          title: iQueueDoc.deletedAt
          description: >-
            The timestamp of when this document was deleted (milliseconds since
            epoch)
          $ref: '#components/schemas/NumberType'
        nextFetchTime:
          title: iQueueDoc.nextFetchTime
          description: >-
            The timestamp of when this document should be fetched next
            (milliseconds since epoch)
          $ref: '#components/schemas/NumberType'
        emailMessage:
          title: iQueueDoc.emailMessage
          type: string
        recipientAddress:
          title: iQueueDoc.recipientAddress
          type: string
        activityDocId:
          title: iQueueDoc.activityDocId
          type: string
        notificationType:
          title: iQueueDoc.notificationType
          type: string
      required:
        - _docId
        - uri
        - collectionId
        - loadBalanceId
        - refreshRequestTime
        - numRetries
      additionalProperties: false
      title: iQueueDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iIndexerStatus:
      properties:
        status:
          $ref: '#/components/schemas/iStatusDoc'
          title: iIndexerStatus.status
      required:
        - status
      additionalProperties: false
      title: iIndexerStatus
      type: object
    iLatestBlockStatus:
      properties:
        height:
          title: iLatestBlockStatus.height
          description: The height of the latest block
          $ref: '#components/schemas/NumberType'
        txIndex:
          title: iLatestBlockStatus.txIndex
          description: The transaction index of the latest block
          $ref: '#components/schemas/NumberType'
        timestamp:
          title: iLatestBlockStatus.timestamp
          description: The timestamp of the latest block (milliseconds since epoch)
          $ref: '#components/schemas/NumberType'
      required:
        - height
        - txIndex
        - timestamp
      additionalProperties: false
      title: iLatestBlockStatus
      type: object
    iStatusDoc:
      properties:
        _docId:
          title: Doc._docId
          description: A unique stringified document ID
          type: string
        _id:
          title: Doc._id
          description: A uniuqe document ID (Mongo DB ObjectID)
          type: string
        block:
          $ref: '#/components/schemas/iLatestBlockStatus'
          title: iStatusDoc.block
          description: The latest synced block status (i.e. height, txIndex, timestamp)
        nextCollectionId:
          title: iStatusDoc.nextCollectionId
          description: The next collection ID to be used
          $ref: '#components/schemas/NumberType'
        gasPrice:
          title: iStatusDoc.gasPrice
          description: The current gas price based on the average of the lastXGasAmounts
          type: number
        lastXGasAmounts:
          items:
            title: iStatusDoc.lastXGasAmounts.[]
            $ref: '#/components/schemas/NumberType'
          title: iStatusDoc.lastXGasAmounts
          description: The last X gas prices
          type: array
        lastXGasLimits:
          items:
            title: iStatusDoc.lastXGasLimits.[]
            $ref: '#/components/schemas/NumberType'
          title: iStatusDoc.lastXGasLimits
          description: The last X gas limits
          type: array
      required:
        - _docId
        - block
        - nextCollectionId
        - gasPrice
        - lastXGasAmounts
        - lastXGasLimits
      additionalProperties: false
      title: iStatusDoc, Doc
      description: |-
        Fields for the MongoDB database document
      type: object
    iAddressListEditKey:
      properties:
        key:
          title: iAddressListEditKey.key
          description: The key that can be used to edit the address list
          type: string
        expirationDate:
          title: iAddressListEditKey.expirationDate
          description: The expiration date of the key (milliseconds since epoch)
          $ref: '#components/schemas/NumberType'
        mustSignIn:
          title: iAddressListEditKey.mustSignIn
          description: True if the user can only add their signed in address to the list
          type: boolean
      required:
        - key
        - expirationDate
      additionalProperties: false
      title: iAddressListEditKey
      type: object
    iAddressListDoc:
      properties:
        listId:
          title: iAddressList.listId
          description: The ID of the address list.
          type: string
        addresses:
          items:
            title: iAddressList.addresses.[]
            type: string
          title: iAddressList.addresses
          description: The addresses of the address list.
          type: array
        whitelist:
          title: iAddressList.whitelist
          description: >-
            Whether or not to include ONLY the addresses or include all EXCEPT
            the addresses.
          type: boolean
        uri:
          title: iAddressList.uri
          description: The URI where to fetch the address list metadata from.
          type: string
        customData:
          title: iAddressList.customData
          description: Arbitrary custom data that can be stored on-chain.
          type: string
        createdBy:
          title: iAddressList.createdBy
          description: The address that created the address list.
          type: string
        aliasAddress:
          title: iAddressList.aliasAddress
          description: The alias cosmos address of the address list.
          type: string
        _docId:
          title: Doc._docId
[...]
