# Verification

## Indexing / Verification&#x20;

For browsing the current state and owners of a badge collection, the most simple way to do by visiting it on the BitBadges website ([https://bitbadges.io](https://bitbadges.io)).

There are also many community-built tools for verifying badge ownership for different use cases (websites, in-person events, etc) and indexing of collections, which can be found at [Ecosystem](../ecosystem.md).
