# Verification

Once you create and distribute your badges, a big part of offering utility is verifying who owns your badges at some specific time.&#x20;

For browsing the current state and owners of a badge collection, the most simple way to do by visiting it on the BitBadges website ([https://bitbadges.io](https://bitbadges.io)). There are also many community-built tools for verifying badge ownership for different use cases (websites, in-person events, etc) and indexing of collections, which can be found at [Ecosystem](../ecosystem.md). Select one that best fits your use case!

Note that verification is a two-step process:

* Verification of badge ownership - Check that the user's address actually owns the badge on the BitBadges blockchain
* Verification of address ownership - Check that the user actually owns the address they are claiming
